* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

.wrap {
	padding: 0 32px;
	max-width: 1400px;
	z-index: 15;
	margin: auto;
	position: relative;

	&_small {
		max-width: 1188px;
	}

	@include max-screen($large_desktop) {
		max-width: 1200px;
	}

	@include max-screen($large_tablet) {
		// padding: 0 15px;
	}

	@include max-screen($small_tablet) {
		padding: 0 15px;
	}
}

html {
	margin-right: 0 !important;
	&.js-lock {
		overflow: hidden;
	}
	// scroll-behavior: smooth;
}

html,
body {
	font-size: 62.5%; // 1rem = 10px

	@include max-screen($hd_plus) {
		font-size: 56%;
	}

	@include max-screen($large_desktop) {
		font-size: 52%;
	}

	@include max-screen($large_mobile) {
		font-size: 62.5%;
	}
}
body {
	position: relative;
	color: $dark;
	background: #f3f3f3;
	font-family: "Geometria";

	&.js-lock {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&.is-white {
		background: #fff;
	}
}

input {
	-webkit-appearance: none;
}

main {
	display: block;
}

a {
	text-decoration-skip-ink: none;
	text-decoration: none;
	color: inherit;
}

.is-without-container {
	margin: 0 -3.3rem;
	padding: 0 3.3rem;

	@include max-screen($large_tablet) {
		padding: 0;
		margin: 0;
	}
}
.radius-5 {
	border-radius: 5px;
	box-shadow: 0px 4px 40px rgba(153, 153, 153, 0.1);
	overflow: hidden;

	@include max-screen($large_tablet) {
		border-radius: 0px;
	}

	@include max-screen($small_tablet) {
		margin-left: 15px;
		padding-left: 15px;
		margin-right: 15px;
		padding-right: 15px;
	}
	&_mobile {
		box-shadow: none;
	}
}

.group {
	padding-bottom: 6.6rem;

	@include max-screen($large_mobile) {
		padding-bottom: 3rem;
		&_noscope-mobile {
			padding-bottom: 0;
		}
	}

	&_top {
		padding-top: 2rem;
		padding-bottom: 0;

		@include max-screen($small_tablet) {
			padding-top: 3rem;
		}
	}
}

.mobile-wrapper {
	display: none;
	background-color: #ffffff;

	@include max-screen($large_mobile) {
		display: block;
	}

	&_top {
		padding-top: 2rem;
		padding-bottom: 0;

		@include max-screen($small_tablet) {
			padding-top: 3rem;
		}
		@include max-screen($large_mobile) {
			padding-bottom: 3rem;
		}
	}

	&_top {
		padding-top: 2rem;
		padding-bottom: 0;

		@include max-screen($small_tablet) {
			padding-top: 3rem;
		}
		@include max-screen($large_mobile) {
			padding-bottom: 3rem;
		}
	}
}

.mobile-wrapper {
	display: none;
	background-color: #ffffff;

	@include max-screen($large_mobile) {
		display: block;
	}
}

.mobile-wrapper {
	display: none;
	background-color: #ffffff;

	@include max-screen($large_mobile) {
		display: block;
	}
}

.white {
	background-color: #fff;

	&_mobile {
		background-color: transparent;
		@include max-screen($small_tablet) {
			background-color: #fff;
		}
	}
}

.light-gray {
	background-color: #f3f3f3;
}

.gray {
	background-color: #4f4f4f;

	&_mobile {
		background-color: #f3f3f3;

		@include max-screen($small_tablet) {
			background-color: #4f4f4f;
		}
	}
}

.container {
	margin: 0 3.3rem;

	@include max-screen($large_tablet) {
		margin: 0;
	}
}

.inline {
	font-size: 0;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}

.clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&_center {
		justify-content: center;
	}

	&_right {
		justify-content: flex-end;
	}

	&_inline {
		display: inline-flex;
	}

	&_justify {
		justify-content: space-between;
	}

	&_start {
		align-items: flex-start;
	}

	&_bottom {
		align-items: flex-end;
	}

	&_vertical {
		align-items: center;
	}
}

.css-text-left {
	text-align: left;
}

.css-text-center {
	text-align: center;
}

.css-text-right {
	text-align: right;
}

.icon {
	width: 100%;
}

.text-red {
	color: $red;
}
.text-gray {
	color: #868686 !important;
}
.text-light {
	color: #afafaf !important;
}
.text-dark {
	color: $dark !important;
}

.row {
	display: table;
	width: 100%;

	&_fixed {
		table-layout: fixed;
	}

	& > * {
		display: table-cell;
		vertical-align: top;
	}
}

.fit-by-content {
	white-space: nowrap;
	width: 1%;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
}

.object-fit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.css-scrollbar {
	/* width */
	&::-webkit-scrollbar {
		width: 6px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $red;
	}

	/* Handle on hover */
	// &::-webkit-scrollbar-thumb:hover {
	// 	background: #555;
	// }
}

.css-show-mobile {
	display: none;
	@include max-screen($large_mobile) {
		display: block;
	}
}
.css-hide-mobile {
	@include max-screen($large_mobile) {
		display: none;
	}
}

.css-full-mobile {
	@include max-screen($large_tablet) {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.css-to-red {
	@include max-screen($large_tablet) {
		color: $red !important;
	}
}

.css-to-middle {
	@include max-screen($large_tablet) {
		font-weight: 500 !important;
	}
}
.border-top {
	border-top: 1px solid #b3b3b3;

	@include max-screen($large_mobile) {
		border-top: none;
	}
}

.css-sticky {
	position: sticky;
	top: 10rem;
}
