mixin link(link = true)
	if (link)
		+e.A.link.h6.link__(href='#')&attributes(attributes)
			+e.SPAN.text
				if block
					block
			+e.SPAN.arrow.arrow
				+e.SVG(viewBox="0 0 18.560659 9.6213207")
					path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
					path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
	else
		+e.SPAN.link.h6.link__()&attributes(attributes)
			+e.SPAN.text
				if block
					block
			+e.SPAN.arrow.arrow
				+e.SVG(viewBox="0 0 18.560659 9.6213207")
					path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
					path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')