mixin socials
	+e.socials.socials__()&attributes(attributes)
		+e.item._youtube
			+e.link.A(href='#')
				span
					+icon('yotube', '0 0 21 15')
		+e.item._inst
			+e.link.A(href='#')
				span
					+icon('insta', '0 0 18 19')
		+e.item._fb
			+e.link.A(href='#')
				span
					+icon('fb', '0 0 10 19')
		+e.item._vk
			+e.link.A(href='#')
				span
					+icon('vk', '0 0 24 15')