extends ../layouts/base

append vars
	- title = 'Главная';
	- var categoriesPopupTitle = "Статьи МБК"

block content
	include ../layouts/offer
	include ../layouts/service
	include ../layouts/who
	include ../layouts/reviews
	+b.SECTION.group.gray.is-without-container
		include ../layouts/database
		+b.SECTION.white.radius-5
			include ../layouts/blog
			include ../layouts/master
			include ../layouts/subscribe
