extends ../layouts/base

append vars
    - var title = 'Закроем 1 месяц кредита за свой счёт'
    - var mainTitle = 'Закроем 1 месяц<br class="title-br"><br class="title-br-mob"> кредита за свой счёт'
    - var topBg = 'white'
    - var contentColor = 'is-dark'
    - var pageModificator = 'month-credit'
    - var benefits = ['Изучим Вашу ситуацию', 'Получите одобрение за 3 минуты', 'Закроем 1 месяц Вашего кредита за свой счет'];
    - var startPrice = 'до 125 000 ₽'

block header
    +b.HEADER.prize-header._bg-white
        include ../layouts/prize-header

block content

block footer
    include ../layouts/gift-steps
