extends ../layouts/base

append vars
    - var title = 'Бесплатный скоринг анализ'
    - var mainTitle = 'Бесплатный<br class="title-br"><br class="title-br-mob"> скоринг<br class="title-br-mob"> анализ'
    - var topBg = 'light-gray'
    - var contentColor = 'is-dark'
    - var pageModificator = 'free-scoring'
    - var benefits = ['Проверяем по базе МБКИ', 'Проверка по базе ОКБ', 'Проверка по базе Equifax'];
    - var startPrice = '10 000 ₽'
    - var whatYouGetTitile = 'Что вы избежите,<br class="what-break"> если узнаете свой скоринговый балл?'
    - var whatYouGetItems = [{icon: 'shield', viewBox: '0 0 26 32', title: 'Не получите <br class="what-break">автоматический отказ', text: 'Если откажут более 3-х раз дальше все будут отказывают'}, {icon: 'flag', viewBox: '0 0 34 34', title: 'Миновать отказ <br class="what-break">из-за низкого скоринга', text: 'Нужно знать свой скорринговый балл и уровень балла, который требует банк иначе будет отказ'}, {icon: 'grid', viewBox: '0 0 34 34', title: 'Избежите отказ <br class="what-break">из-за правонарушений', text: 'Судимости, правонарушения и даже административные штрафы могут быть поводом для отказа'}, {icon: 'userСheck', viewBox: '0 0 34 34', title: 'Не будет отказа по просрочкам', text: 'Многие банки не работают с открытыми просрочками. <br class="what-break">100 рублей, не оплаченные по кредиту, могут помешать Вам.'}, {icon: 'unlock', viewBox: '0 0 28 28', title: 'Спасётесь от отказа по микрокредитам', text: 'Есть допустимая норма по задолжностям, если она будет превышена хотя бы на 1 рубль ‒ получите отказ.'}]

block header
    +b.HEADER.prize-header.white(class="prize-header_" +pageModificator)
        include ../layouts/prize-header

block content
    include ../layouts/what-you-get

block footer
    include ../layouts/gift-steps
