extends ../layouts/base

append vars
    - var title = 'Клининг квартиры за наш счёт'
    - var mainTitle = 'Клининг квартиры <br class="what-break"> за наш счёт'
    - var topBg = 'light-gray'
    - var contentColor = 'is-dark'
    - var pageModificator = 'cleaning'
    - var benefits = ['Сделаем предпродажную уборку', 'Сделаем профессиональную фотосессию Вашей квартиры'];
    - var startPrice = '2 000 ₽'
    - var whatYouGetTitile = 'Что войдет <br class="what-break"> в клининг квартиры?'
    - var whatYouGetItems = [{icon: 'tv', viewBox: '0 0 34 34', title: 'В комнате', text: 'Протираем все поверхности, моем пол и протираем плинтуса, чистим зеркала и стеклянные поверхности, застилаем кровати, выносим мусор'}, {icon: 'box', viewBox: '0 0 34 34', title: 'В коридоре', text: 'Протираем все доступные поверхности, чистим стеклянные поверхности и зеркала, расставляем обувь, моем пол и протираем плинтуса'}, {icon: 'trash', viewBox: '0 0 34 34', title: 'На кухне', text: 'Моем снаружи плиту, холодильник и вытяжку; протираем фасады шкафов, столешницу и кухонный фартук. Моем посуду, полы и выносим мусор.'}, {icon: 'droplet', viewBox: '0 0 26 31', title: 'В ванной', text: 'Моем душевую кабину и ванну, раковину, пол и плинтусы. Чистим зеркала и стеклянные поверхности. Дезинфицируем унитаз.'}, {icon: 'layers', viewBox: '0 0 34 34', title: 'Что с вещами?', text: 'Одежду аккуратно складываем. Расставляем обувь. Меняем постельное бельё и застилаем кровать'}]

block header
    +b.HEADER.prize-header.white
        include ../layouts/prize-header

block content
    include ../layouts/what-you-get

block footer
    include ../layouts/gift-steps
