extends ../layouts/base

append vars
    - var title = 'Комплект документов для продажи недвижимости'
    - var mainTitle = 'Комплект&nbsp;документов для продажи&nbsp;недвижимости'
    - var topBg = 'light-gray'
    - var contentColor = 'is-dark'
    - var pageModificator = 'docs'
    - var benefits = ['Договор купли-продажи квартиры', 'Разрешение органов опеки и попечительства', 'Нотариально заверенное согласие <br class="header-break"> супруга на продажу квартиры', 'Нотариально заверенная доверенность', 'Дополнительные, которые могут понадобится для подготовки к сделке'];
    - var startPrice = '3 000 ₽'
    - var whatYouGetTitile = 'Что вы избежите, <br class="what-break"> если мы подготовим документы?'
    - var whatYouGetItems = [{icon: 'shield', viewBox: '0 0 26 32', title: 'Не получите <br class="what-break"> иск от покупателя', text: 'Покупатель вправе в течение <br class="what-break"> 2 лет после покупки квартиры подать иск на продавца, если <br class="what-break"> тот передал жилье, которое <br class="what-break"> не соответствует условиям ДКП.'}, {icon: 'flag', viewBox: '0 0 34 34', title: 'Минуете проблем <br class="what-break"> во взаиморасчётах с покупателем', text: 'Исключите ситуации, когда <br class="what-break"> деньги могут зависнуть в воздухе или вовсе не дойти до Вас'}, {icon: 'userСheck', viewBox: '0 0 34 34', title: 'Избежите мошеннических <br class="what-break"> действий покупателя', text: 'В результате которых сделка может быть признана недействительной'}, {icon: 'calendarPrize', viewBox: '0 0 34 34', title: 'Не будет проблем <br class="what-break"> со сроками сделки', text: 'Избежите ситуаций, когда покупатель задерживает сделку, а продавец уже получил справку на продажу оплатив все пошлины'}, {icon: 'umbrella', viewBox: '0 0 34 34', title: 'Спасётесь от срыва сделки <br class="what-break"> по причине третьей стороны', text: 'Не будет ситуаций, когда <br class="what-break"> Ваша сделка срывается из-за отсутствия третьей стороны'}]

block header
    +b.HEADER.prize-header
        include ../layouts/prize-header

block content
    include ../layouts/what-you-get

block footer
    include ../layouts/receive-gift
