extends ../layouts/base

append vars
    - var title = 'Переезд за наш счёт'
    - var mainTitle = 'Переезд<br class="title-br-mob"> за наш счёт'
    - var topBg = 'white'
    - var contentColor = 'is-dark'
    - var pageModificator = 'relocation'
    - var benefits = ['Разборка мебели', 'Упаковка вещей', 'Погрузка', 'Транспортировка', 'Сборка мебели', 'Расстановка мебели'];
    - var startPrice = 'до 10 000 ₽'

block header
    +b.HEADER.prize-header._bg-white
        include ../layouts/prize-header

block content

block footer
    include ../layouts/gift-steps
