extends ../layouts/base

append vars
    - var title = '1 час бесплатной консультации юриста'
    - var mainTitle = '1 час бесплатной консультации юриста'
    - var topBg = 'white'
    - var contentColor = 'color-white'
    - var pageModificator = 'consultation'
    - var benefits = ['Выяснит все обстоятельства дела, изучит имеющиеся документы', 'Сделает правовую оценку ситуации, определит перпективы дела', 'Подберет оптимальные варианты решения проблемы'];
    - var startPrice = '3 000 ₽'
    - var whatYouGetTitile = 'Что вы избежите, если прийдете на&nbsp;<br class="what-break">консультацию?'
    - var whatYouGetItems = [{icon: 'shield', viewBox: '0 0 26 32', title: 'Не получите <br class="what-break">автоматический отказ', text: 'Если откажут более 3-х раз дальше все будут отказывают'}, {icon: 'flag', viewBox: '0 0 34 34', title: 'Миновать отказ <br class="what-break">из-за низкого скоринга', text: 'Нужно знать свой скорринговый балл и уровень балла, который требует банк иначе будет отказ'}, {icon: 'grid', viewBox: '0 0 34 34', title: 'Избежите отказ <br class="what-break">из-за правонарушений', text: 'Судимости, правонарушения и даже административные штрафы могут быть поводом для отказа'}, {icon: 'userСheck', viewBox: '0 0 34 34', title: 'Не будет отказа по просрочкам', text: 'Многие банки не работают с открытыми просрочками. <br class="what-break">100 рублей, не оплаченные по кредиту, могут помешать Вам.'}, {icon: 'unlock', viewBox: '0 0 28 28', title: 'Спасётесь от отказа по микрокредитам', text: 'Есть допустимая норма по задолжностям, если она будет превышена хотя бы на 1 рубль ‒ получите отказ.'}]

block header
    +b.HEADER.prize-header
        include ../layouts/prize-header

block content
    include ../layouts/what-you-get

block footer
    include ../layouts/gift-steps
