extends ../layouts/base

append vars
    - var title = '1 час бесплатной консультации юриста'
    - var mainTitle = '1 час бесплатной консультации юриста'
    - var topIsWhite = true
    - var contentColor = 'is-white'
    - var pageModificator = 'consultation'
    - var benefits = ['Выяснит все обстоятельства дела, изучит имеющиеся документы', 'Сделает правовую оценку ситуации, определит перпективы дела', 'Подберет оптимальные варианты решения проблемы'];
    - var startPrice = '3 000 ₽'
    - var whatYouGetTitile = 'Что вы избежите, если прийдете на <br class="what-break"> консультацию?'
    - var whatYouGetItems = [{icon: 'shield', viewBox: '0 0 26 32', title: 'Не получите <br class="what-break"> извещение о выселении', text: 'Исключите ситуации, когда <br class="what-break"> Вас выселяют или снимают <br class="what-break"> с регистрационного учета'}, {icon: 'flag', viewBox: '0 0 34 34', title: 'Минуете отказ <br class="what-break"> в приватизации помещения', text: 'Орган государственной власти <br class="what-break"> не откажет Вам в приватизиции жилого помещения'}, {icon: 'key', viewBox: '0 0 32 30', title: 'Избежите ущемление прав <br class="what-break"> на недвижимость', text: 'У Вас не отнимут права владения и распоряжения жилым <br class="what-break"> помещением или его частью'}, {icon: 'copy', viewBox: '0 0 34 34', title: 'Не будет проблем <br class="what-break"> с договорами', text: 'Избежите ошибок с составлением договора купли-продажи жилого помещения, договор аренды, найма, ренты, безвозмездного пользования, дарения'}, {icon: 'userСheck', viewBox: '0 0 34 34', title: 'Спасётесь от отказа <br class="what-break"> в паспортном столе', text: 'Не будет ситуаций, когда Вам отказывают в регистрации недвижимости в паспортном столе'}]

block header
    +b.HEADER.prize-header
        include ../layouts/prize-header

block content
    include ../layouts/what-you-get

block footer
