extends ../layouts/base

append vars
	- title = 'Общая страница c квизом (урезанный)';

block content

	+b.fluid
		+socials(class="_default _white")
 
	+b.SECTION.group
		include ../layouts/credit
		include ../layouts/vantages
	include ../layouts/conditions
	include ../layouts/council
	+b.SECTION.group._noscope-mobile.js-target-form
		include ../layouts/calc_small
		include ../layouts/faq

block footer 
	+footer(class="_white")