+b.SECTION.article-estimate
	+e.title.h5.H3 Оцените материал
	+e.subtitle.p.P Ваша оценка помогает улучшать материалы
	+e.rating-area.FORM(action="#")
		+e.input.INPUT(type="radio" id="star-5" name="rating" value="5")
		+e.label.LABEL(for="star-5" title="Оценка «5»")
		+e.input.INPUT(type="radio" id="star-4" name="rating" value="4")
		+e.label.LABEL(for="star-4" title="Оценка «4»")
		+e.input.INPUT(type="radio" id="star-3" name="rating" value="3" checked)
		+e.label.LABEL(for="star-3" title="Оценка «3»")
		+e.input.INPUT(type="radio" id="star-2" name="rating" value="2")
		+e.label.LABEL(for="star-2" title="Оценка «2»")
		+e.input.INPUT(type="radio" id="star-1" name="rating" value="1")
		+e.label.LABEL(for="star-1" title="Оценка «1»")