+b.SECTION.article-item
	+e.wrap.wrap
		+breadcrumbs('Блог', 'Банкротство', 'Что будет', 'Если не платить микрозайм')
	+e.head.council__._article
		+e.wrap.wrap
			+e.head
				+e.bg.object-fit.IMG(src="/img/article-top.png")
				+e.head-inner
					+e.category.red-link.h6.A(href="#") Долги
					+e.title.h3 
						| Что будет, если не платить микрозаймы, взятые через интернет?
					+e.author.flex._vertical
						+e.author-cell._avatar
							+e.avatar
								+e.IMG.avatar-img.object-fit(src="/img/article-avatar.png")
						+e.author-cell._content
							+link Алексей Астафьев
							+e.author-text.p
								| Финансовый аналитик МБК
	+e.wrap.wrap
		+e.info.flex._vertical._justify.article__
			+e.nav-item.p
				+e.date.TIME(datetime="2019-10-10") 10 октября 2019
			+e.nav.flex._vertical
				+e.nav-item.p
					+e.nav-icon._watch
						+icon('watch', '0 0 21 13')
					| 5,500
				+e.nav-item.p.A(href="#")
					+e.nav-icon._heart
						+icon('heart', '0 0 14 13')
					| 70
				+e.nav-item.p.A(href="#")
					+e.nav-icon._comment
						+icon('comment', '0 0 14 14')
					| 15
			+e.time.flex._vertical
				+e.nav-item._gray.p
					+e.nav-icon._clock
						+icon('clock', '0 0 12 12')
					| 10 минут
				+e.nav-item._red.p.article-item__tablet-hidden
					+e.nav-link.red-link.A(href='#') Некогда читать?
			+e.social.flex._vertical.article-item__tablet-hidden
				+e.nav-item.p Поделиться статьей
				+social-share()
		+e.content.content._big
			+e.cell._left
				+e.padding
					p
						|Многие люди пользуются микрозаймами, любезно предоставляемыми интернет-организациями.
					p
						|Обычно это маленькие суммы 3000-10000 рублей, которые без лишних бюрократических накладок быстро перечисляются на карту заемщику.
					p
						|Но потом возникают неприятные сюрпризы – долг запросто может вырасти всего за 1-2 месяца в несколько раз! Клиенты начинают чувствовать себя обманутыми, и часто принципиально отказываются от оплаты. Что будет, если не платить микрозаймы, взятые через интернет?
					+e.title-wrapper
						+e.toggle.js-toggle-title.BUTTON(type="button" aria-title="открыть оглавление")
							+icon('burger', '0 0 14 13')
						+e.close.js-title-close.BUTTON(type="button" aria-title="закрыть оглавление")
							+icon('close', '0 0 18 18')
						+b.article-item__title(id="title")
							h2 Оглавление
							ol
								li
									a(href="#section-1")
										|С какими рисками сталкиваются должники МФО?
								li
									a(href="#section-2")
										|Как не платить микрозаймы законно?
								li
									a(href="#section-3")
										|Перекредитование кредитов с плохой кредитной историей при смене основной работы
								li
									a(href="#section-4")
										|Рекомендации юристов
			+e.row.flex._justify.js-title
				+e.title-link.js-link.A(href="#title")
					span
						|Оглавление
					+icon('burger', '0 0 14 13')
				+e.cell._left
					+e.padding
						h2(id="section-1") С какими рисками сталкиваются должники МФО?
						p
							|МФО может обратить взыскание в судебном порядке, и инициировать работу судебных приставов через получение судебного приказа. Чем это грозит?
						ol
							li
								|Блокировкой банковских счетов и принудительным списанием суммы долга с карты
							li
								|Арестом имущества
							li
								|Взысканием из заработной платы
							li
								|Запретом на выезд за границу РФ
						p
							|МФО может продать долг коллекторам. Вам будут названивать, приходить в «гости», постоянно требовать выплату долга. Могут применяться незаконные меры, которые в случае необходимости можно будет оспорить:
						ul
							li
								|Распространение информации о долге третьим лицам – родственникам, коллегам, друзьям
							li
								|Угрозы расправы
							li
								|Психологическое насилие
							li
								|Порча мелкого имущества: царапины на авто, порча замков, входной двери, битье окон
						p
							|Ну и, конечно же, пени. Согласно последним изменениям законодательства, МФО не может накрутить долг больше чем в 3 раза от выданной суммы. Но отзывы на форумах показывают, что кредиторы применяют обманные схемы: если вы заплатили хотя бы немного по образовавшемуся долгу, сумма снова будет накручена в 3 раза.
					+e.accent
						+e.accent-icon.IMG(src="/app/img/chat.svg")
						p
							|Если хотите получить бесплатную консультацию по банкротству, 
							+b.red-link.A(href="#") обращайтесь к нам
							|.
							br
							| Разберем вашу ситуацию.
					+e.padding
						h2(id="section-2")
							|Как не платить микрозаймы законно?
						p
							|Обратиться в суд. Если МФО накручивает долг в несколько раз за короткий период времени, вы можете обратиться с иском в суд. Также это возможно сделать, если вы нашли другие нарушения в работе компании. Иск позволит списать штрафы и пени, исключить % МФО, и рассчитаться с долгом через ФССП, по % ключевой ставки ЦБ (7,25% годовых).
						p
							|Дождаться истечения срока давности. Если вы не можете платить, вы можете сменить место проживания, контактные данные и спокойно дождаться истечение 3-х лет с момента взятия кредита. Правда, кредитная история будет испорчена.
						p
							|Обратиться в суд за признанием банкротством физического лица. Это законный способ избавления от долгов по кредитам, к которому чаще прибегают жители крупных городов – Москвы, Екатеринбурга и других мегаполисов. Тем не менее, списание долгов через суд доступно для всех жителей РФ. Достаточно просто обратиться в Арбитражный суд по месту проживания, и начать процедуру!
						p
							|Обратиться в суд. Если МФО накручивает долг в несколько раз за короткий период времени, вы можете обратиться с иском в суд. Также это возможно сделать, если вы нашли другие нарушения в работе компании. Иск позволит списать штрафы и пени, исключить % МФО, и рассчитаться с долгом через ФССП, по % ключевой ставки ЦБ (7,25% годовых).
						p
							|Дождаться истечения срока давности. Если вы не можете платить, вы можете сменить место проживания, контактные данные и спокойно дождаться истечение 3-х лет с момента взятия кредита. Правда, кредитная история будет испорчена.
						p
							|Обратиться в суд за признанием банкротством физического лица. Это законный способ избавления от долгов по кредитам, к которому чаще прибегают жители крупных городов – Москвы, Екатеринбурга и других мегаполисов. Тем не менее, списание долгов через суд доступно для всех жителей РФ. Достаточно просто обратиться в Арбитражный суд по месту проживания, и начать процедуру!
						+e.copyright.p
							|© «МБК», при полном или частичном копировании материала ссылка на первоисточник обязательна. Нашли ошибку в тексте? Выделите нужный фрагмент и нажмите Ctrl + Enter.
				+e.cell._right
					h2
						|Читайте еще
					include ../layouts/other-articles
		+e.info._bottom.flex._vertical.article__
			+e.social.flex._vertical
				+e.social-desc
					+e.nav-item.p Вы согласны?
					+e.nav-item.p Поделиться
				+social-share(class="_min _mobile")
			+e.nav.flex._vertical._justify
				+e.cell._left.flex._vertical
					+e.nav-item.p.TIME(datetime="2019-10-10") 10 октября 2019
				+e.cell._right.flex._vertical
					+e.nav-item.p
						+e.nav-icon._watch
							+icon('watch', '0 0 21 13')
						| 5,500
					+e.nav-item.p.A(href="#")
						+e.nav-icon._heart
							+icon('heart', '0 0 14 13')
						| 70
					+e.nav-item.p.A(href="#")
						+e.nav-icon._comment
							+icon('comment', '0 0 14 14')
						| 15