+b.SECTION.article-author
	+e.wrap.wrap.flex._vertical
		+e.avatar
			+e.IMG.avatar-img.object-fit(src="/img/article-author.png")
		+e.description
			+e.category.p.SPAN Автор
			+e.name.h5.SPAN
				|Алексей
				br
				|Астафьев
			+link(class="_red" href="#") Все статьи этого автора
		+e.content
			+e.title.H2 Последние статьи автора
			+e.list.UL
				+e.item.LI
					+e.item-link.A(href="#")
						|Если признали банкротом, а банк продолжает взыскание
				+e.item.LI
					+e.item-link.A(href="#")
						|Ипотека после банкротства физического лица
				+e.item.LI
					+e.item-link.A(href="#")
						|Что делать, если бывший муж не платит?
