+b.SECTION.blog
	+e.wrap.wrap
		+e.tags.flex._start
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='0')
				+e.text.SPAN Все темы
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='1')
				+e.text.SPAN Долги
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='2')
				+e.text.SPAN Ипотека
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='3')
				+e.text.SPAN Коллекторы
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='4')
				+e.text.SPAN Юридические тонкости
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='5')
				+e.text.SPAN Инвестиции
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='6')
				+e.text.SPAN Страхование
			+e.tag.tag__.LABEL
				+e.input.INPUT(type="checkbox" name="cat" value='7')
				+e.text.SPAN Налоги
		+e.row.flex._justify
			+e.cell._left
				+e.string._scope.flex._justify._vertical
					+e.title.h4 Все статьи
					+e.count.h4 120
				+e.list.flex._justify
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Законы, которые помогают списать долги
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Законы, которые помогают списать долги
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Законы, которые помогают списать долги
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Законы, которые помогают списать долги
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Законы, которые помогают списать долги
					+e.article._double.article__.A(href='#')
						+e.preview.DIV
							+b.IMG.object-fit(src="/img/article_1.jpg")
						+e.nav.flex._justify._vertical.DIV
							+e.nav-cell._left.flex._vertical.DIV
								+e.nav-item.p
									+e.nav-icon._watch
										+icon('watch', '0 0 21 13')
									| 5,500
								+e.nav-item.p
									+e.nav-icon._heart
										+icon('heart', '0 0 14 13')
									| 70
								+e.nav-item.p
									+e.nav-icon._comment
										+icon('comment', '0 0 14 14')
									| 15
							+e.nav-cell._right.DIV
								+e.nav-item._gray.p
									+e.nav-icon._clock
										+icon('clock', '0 0 12 12')
									| 5 минут
						+e.name.h5.DIV
							| Битвы с коллекторами: самые громкие суды против них в декабре 2019 года
				+e.bottom.flex._justify._vertical
					+e.pagination.pagination__
						+e.list.flex._vertical.p
							+e.num.A(href='#') 1
							+e.num.A(href='#') 2
							+e.num.is-current.A(href='#') 3
							+e.num.A(href='#') 4
							+e.num.A(href='#') 5
							+e.num.SPAN ...
							+e.num.A(href='#') 12
					+e.button.btn__._border.p.A(href='#')
						+e.text Загрузить еще статей
						+e.icon._arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
			+e.cell._right._gray
				+e.string._right.flex._justify._vertical
					+e.title.h4 
						| Лучшее 
						+icon('star', '0 0 26 26')
					+e.count.h4 15
				+e.article.article__.A(href='#')
					+e.preview.DIV
						+b.IMG.object-fit(src="/img/article_1.jpg")
					+e.nav.flex._justify._vertical.DIV
						+e.nav-cell._left.flex._vertical.DIV
							+e.nav-item.p
								+e.nav-icon._watch
									+icon('watch', '0 0 21 13')
								| 5,500
							+e.nav-item.p
								+e.nav-icon._heart
									+icon('heart', '0 0 14 13')
								| 70
							+e.nav-item.p
								+e.nav-icon._comment
									+icon('comment', '0 0 14 14')
								| 15
						+e.nav-cell._right.DIV
							+e.nav-item._gray.p
								+e.nav-icon._clock
									+icon('clock', '0 0 12 12')
								| 5 минут
					+e.name.h5.DIV
						| Битвы с коллекторами: самые громкие суды против них в декабре 2019 года
				+e.article.article__.A(href='#')
					+e.preview.DIV
						+b.IMG.object-fit(src="/img/article_1.jpg")
					+e.nav.flex._justify._vertical.DIV
						+e.nav-cell._left.flex._vertical.DIV
							+e.nav-item.p
								+e.nav-icon._watch
									+icon('watch', '0 0 21 13')
								| 5,500
							+e.nav-item.p
								+e.nav-icon._heart
									+icon('heart', '0 0 14 13')
								| 70
							+e.nav-item.p
								+e.nav-icon._comment
									+icon('comment', '0 0 14 14')
								| 15
						+e.nav-cell._right.DIV
							+e.nav-item._gray.p
								+e.nav-icon._clock
									+icon('clock', '0 0 12 12')
								| 5 минут
					+e.name.h5.DIV
						| Битвы с коллекторами: самые громкие суды против них в декабре 2019 года
				+e.article.article__.A(href='#')
					+e.preview.DIV
						+b.IMG.object-fit(src="/img/article_1.jpg")
					+e.nav.flex._justify._vertical.DIV
						+e.nav-cell._left.flex._vertical.DIV
							+e.nav-item.p
								+e.nav-icon._watch
									+icon('watch', '0 0 21 13')
								| 5,500
							+e.nav-item.p
								+e.nav-icon._heart
									+icon('heart', '0 0 14 13')
								| 70
							+e.nav-item.p
								+e.nav-icon._comment
									+icon('comment', '0 0 14 14')
								| 15
						+e.nav-cell._right.DIV
							+e.nav-item._gray.p
								+e.nav-icon._clock
									+icon('clock', '0 0 12 12')
								| 5 минут
					+e.name.h5.DIV
						| Битвы с коллекторами: самые громкие суды против них в декабре 2019 года
