+b.SECTION.calc
	+e.wrap.wrap

		include info-steps

		+e.FORM.box.form.js-quiz(action="" data-redirect="/subscription_confirm.html")
			+e.slider
				+e.slide.js-slide.is-active
					+e.top.flex._vertical._justify
						+e.title.h4
							| Выберите сумму и срок кредита
						+e.text.h6.is-regular
							| Шаг 
							span.is-curent-calc 1 
							| из 
							span.is-total-calc 4
					+e.row._totop.flex._justify._vertical
						+e.cell
							+e.field.input__
								+e.top
									+e.label.p
										| Выберите сумму кредита
								+e.parent.range-input__
									+e.INPUT.input.js-payment.js-price(type="text" autocomplete="off" name="calc[price]" placeholder="0 ₽" value="300000")
									+e.char.h6 ₽
									+e.bottom
										+e.line
										+e.path(data-min="150000" data-step="50000" data-max="15000000")
								+e.info.flex._vertical._justify
									+e.label.p
										| 150 тыс.
									+e.label.p
										| 15 млн
						+e.cell
							+e.field.input__
								+e.top
									+e.label.p
										| Выберите срок кредита
								+e.parent.range-input__
									+e.INPUT.input.js-payment.js-time(type="text" autocomplete="off" name="calc[time]" placeholder="0 ₽" value="72")
									+e.char.h6 мес.
									+e.bottom
										+e.line
										+e.path(data-min="12" data-step="1" data-max="300")
								+e.info.flex._vertical._justify
									+e.label.p
										| 12 мес.
									+e.label.p
										| 25 лет
					+e.row._price.flex._justify._bottom
						+e.cell._big.css-text-right
							+e.text.is-regular.h6
								| Ежемесячный платеж
						+e.cell._big
							+e.price.is-bold.h4
								span.js-total-payment
								| &nbsp;₽
					+e.row.flex._justify._vertical
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Ваше имя
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Иванов Иван Иванович" name="name")
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Ваш телефон
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="7 903 123 45 65" name="phone")
					+e.row.flex._justify._vertical
						+e.cell._info.css-text-right
							+e.small.small
								| Нажимая на кнопку «Продолжить», вы выражаете
								br
								| согласие 
								a.a(href="#") на обработку ваших персональных данных
						+e.cell._button
							+button(false)(class="js-goto" data-dir="next") Продолжить
				+e.slide.js-slide#confirm-slide(data-progress="10" data-help="+10% за подтверждение телефона" data-action="/api/confirm/")
					+e.top.flex._vertical._justify
						+e.title.h4
							| Подтвердите телефон
					+e.bar.status-bar__._center
						+e.inner
							+e.line
								+e.content._back.h6
									| Вероятность одобрения &nbsp;
									span.strong 42%
								+e.done(style="width: 42%")
									+e.content._front.h6
										| Вероятность одобрения&nbsp;
										span.strong 42%
						+e.help.h6 +10% за подтверждение телефона
					+e.string
						+e.text.p.text-gray
							| Код подтверждения отправлен вам на номер 
							span.strong.text-dark +7 (921) 921-21-21
					+e.phone.phone-confirm__
						+e.form.flex
							+e.cell._phone
								+e.field.input__
									+e.field
										+e.INPUT.item._square._dark.h5(type="text" placeholder="XXXXXX" maxlength="6" name="confirm")
							+e.cell._button
								+button(false)(class="js-goto" data-dir="next") Продолжить
						+e.row.flex._vertical._justify
							+e.column._left
								+e.string
									+link(class="_regular _toline") Отправить еще раз
								+e.string
									+link(class="_regular _toline") 
										span Не приходит код 
										span.css-hide-mobile подтверждения?
								+e.string
									+link(class="_regular _toline") Изменить номер
							+e.column._right
								+link(class="_tobutton js-goto js-without-submit") Отказаться от подтверждения
								+e.text.small
									| Отказ от подтверждения уменьшает вероятность 
									br 
									| положительного решения, но не является причиной 
									br
									| отказа от выдачи кредита


				+e.slide.js-slide.js-dont-backward(data-step="2"  data-progress="26" data-help="+26% за заполнение второго шага анкеты")
					+e.top.flex._vertical._justify
						+e.title.h4
							| Заполните анкету
						+e.text.h6.is-regular
							| Шаг 
							span.is-curent-calc 2 
							| из 
							span.is-total-calc 4
					+e.bar.status-bar__._center
						+e.inner
							+e.line
								+e.content._back.h6
									| Вероятность одобрения&nbsp;
									span.strong 52%
								+e.done(style="width: 52%")
									+e.content._front.h6
										| Вероятность одобрения&nbsp;
										span.strong 52%
						+e.help.h6 +26% за заполнение второго шага анкеты
					+e.row.flex._vertical._justify
						+e.label.h6 Подробнее о Вас
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Электронная почта
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="test@gmail.com" name="email")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Ваш пол
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[sex]")
										option Мужской
										option Женский
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Ваш возраст
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[age]")
										option 10
										option 20
										option 30
										option 40
										option 50
										option 60
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Получаете ли Вы пенсию?
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[pension]")
										option Да
										option Нет
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Семейное положение
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[family]")
										option Женат / Замужем
										option Женат
										option Замужем
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Образование
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[education]")
										option Высшее
										option Среднее
						+e.label._big.h6 Сведения о работе
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Кем сейчас работаете?
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Слесарь" name="calc[work]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Название организации
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="ООО «Интроверт»" name="calc[organization]")
						+e.cell
							+e.field.input__
								+e.top
									+e.label.p
										| Размер заработной платы
								+e.parent.range-input__
									+e.INPUT.input(type="text" autocomplete="off" name="calc[time]" placeholder="0 ₽" value="30000")
									+e.char.h6 ₽
									+e.bottom
										+e.line
										+e.path(data-min="0" data-step="1000" data-max="1000000")
								+e.info.flex._vertical._justify
									+e.label.p
										| 0
									+e.label.p
										| 1 млн.
						+e.cell
							+e.field.input__
								+e.top
									+e.label.p
										| Есть дополнительный доход?
								+e.parent.range-input__
									+e.INPUT.input(type="text" autocomplete="off" name="calc[time]" placeholder="0 ₽" value="30000")
									+e.char.h6 ₽
									+e.bottom
										+e.line
										+e.path(data-min="0" data-step="1000" data-max="1000000")
								+e.info.flex._vertical._justify
									+e.label.p
										| 0
									+e.label.p
										| 1 млн.
					+e.row.flex._vertical._justify
						+e.cell._desc._bigtop.css-text-right
							+e.small.small
								| Нажимая на кнопку «Продолжить», вы выражаете
								br
								| согласие 
								a.a(href="#") на обработку ваших персональных данных
						+e.cell._next._bigtop
							+button(false)(class="js-goto" data-dir="next") Продолжить
				+e.slide.js-slide(data-step="3"  data-progress="14" data-help="+14% за заполнение третьего шага анкеты")
					+e.top.flex._vertical._justify
						+e.title.h4
							| Заполните анкету
						+e.text.h6.is-regular
							| Шаг 
							span.is-curent-calc 3 
							| из 
							span.is-total-calc 4
					+e.bar.status-bar__._center
						+e.inner
							+e.line
								+e.content._back.h6
									| Вероятность одобрения&nbsp;
									span.strong 78%
								+e.done(style="width: 78%")
									+e.content._front.h6
										| Вероятность одобрения&nbsp;
										span.strong 78%
						+e.help.h6 +14% за заполнение третьего шага анкеты
					+e.row.flex._vertical._justify
						+e.label.h6 Паспортные данные
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Ваша фамилия
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Иванов" name="calc[last_name]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Ваше имя
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Иван" name="calc[first_name]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Серия и номер паспорта
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="4611 513480" name="calc[passport]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Дата выдачи
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="15.08.2011" name="calc[date_of_issue]")
									+e.icon
										+icon('calendar', '0 0 24 24')
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Код подразделения
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="500-175" name="calc[unit_code]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Кем выдан
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="ТП№5 Межрайоного ОУФМС России по МО..." name="calc[issued_by]")
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Дата рождения
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="29.10.1991" name="calc[date_of_birth]")
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Место выдачи
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="г. Мытищи" name="calc[place_of_issue]")
						+e.label._big.h6 Адрес регистрации
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Город
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Москва" name="calc[city]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Улица
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="Тверская" name="calc[street]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Дом
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="6" name="calc[home]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Корпус
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="2" name="calc[housing]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Квартира
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="12" name="calc[apartament]")
						+e.cell._middle
							+e.field.input__
								+e.top
									+e.label.p
										| Домашний телефон
								+e.field
									+e.INPUT.item._square.h6(type="text" placeholder="+7 495 955 55 55 " name="home_phone")
					+e.row.flex._vertical._justify
						+e.cell._desc._bigtop.css-text-right
							+e.small.small
								| Нажимая на кнопку «Продолжить», вы выражаете
								br
								| согласие 
								a.a(href="#") на обработку ваших персональных данных
						+e.cell._next._bigtop
							+button(false)(class="js-goto" data-dir="next") Продолжить
				+e.slide.js-slide(data-step="4"  data-progress="6" data-help="+6% за заполнение четвертого шага анкеты")
					+e.top.flex._vertical._justify
						+e.title.h4
							| Заполните анкету
						+e.text.h6.is-regular
							| Шаг 
							span.is-curent-calc 4 
							| из 
							span.is-total-calc 4
					+e.bar.status-bar__._center
						+e.inner
							+e.line
								+e.content._back.h6
									| Вероятность одобрения&nbsp;
									span.strong 92%
								+e.done(style="width:92%")
									+e.content._front.h6
										| Вероятность одобрения&nbsp;
										span.strong 92%
						+e.help.h6 +6% за заполнение четвертого шага анкеты
					+e.row.flex._vertical._justify
						+e.label.h6 Кредиты в других банках
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Есть ли кредиты в других банках
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[another_credit]")
										option Да
										option Нет
						+e.cell._big
							+e.field.input__
								+e.top
									+e.label.p
										| Есть ли исторические просрочки
								+e.parent.select__.js-select
									+e.field.SELECT(name="calc[history]")
										option Да
										option Нет
						+e.label._big.h6 Отметьте есть ли у Вас собственность?
						+e.cell._middle._tosmall
							+e.LABEL.checkbox.border-checkbox__
								+e.INPUT.input(type="checkbox" checked="" name="own" value="Нет собственности")
								+e.SPAN.text.h6
									+e.SPAN.check
										+icon('check')
									| Нет собственности
						+e.cell._middle._tosmall
							+e.LABEL.checkbox.border-checkbox__
								+e.INPUT.input(type="checkbox" name="own" value="Есть своя собственность")
								+e.SPAN.text.h6
									+e.SPAN.check
										+icon('check')
									| Есть своя собственность						
						+e.cell._middle._tosmall
							+e.LABEL.checkbox.border-checkbox__
								+e.INPUT.input(type="checkbox" name="own" value="Совместная собственность")
								+e.SPAN.text.h6
									+e.SPAN.check
										+icon('check')
									| Совместная собственность						
						+e.cell._middle._tosmall
							+e.LABEL.checkbox.border-checkbox__
								+e.INPUT.input(type="checkbox" name="own" value="Долевая собственность")
								+e.SPAN.text.h6
									+e.SPAN.check
										+icon('check')
									| Долевая собственность
					+e.row.flex._vertical._justify
						+e.cell._desc._bigtop.css-text-right
							+e.small.small
								| Нажимая на кнопку «Продолжить», вы выражаете
								br
								| согласие 
								a.a(href="#") на обработку ваших персональных данных
						+e.cell._next._bigtop
							+button(false)(class="js-goto" data-dir="next") Продолжить