+b.FORM.comment-form.form(action="#")
	+e.textarea.textarea__._gray
		+e.item.TEXTAREA(placeholder="Задать свой вопрос" name="comment" rows="4")
	+e.input.input__._medium
		+e.INPUT.item(type="text" placeholder="Введите ваше имя" name="name")
	+button(false)(type="submit")
		|Задать вопрос
