+b.FORM.comment-form-min.form(action="#")
	+e.input.input__._border
		+e.INPUT.item(type="text" placeholder="Введите ваше имя" name="name")
	+e.textarea.textarea__._min
		+e.item.TEXTAREA(placeholder="Напишите комментарий..." name="comment-min")
	+e.button.link.red-link.flex.flex_vertical.BUTTON(type="submit")
		|Поделиться мнением
		+icon('arrow', '0 0 19 10')