+b.FORM.comment-form._small.form(action="#")
	+e.textarea.textarea__._gray
		+e.item.TEXTAREA(placeholder="Ваш комментарий *" name="comment" rows="4")
	+e.input.input__._medium
		+e.INPUT.item(type="text" placeholder="Введите ваше имя *" name="name")
	+button(false)(type="submit")
		|Поделиться мнением