+b.FORM.comment-form.form(action="#")
	+e.textarea.TEXTAREA(placeholder="Ваш комментарий" name="comment" rows="5")
	+e.row.flex._justify
		+e.input.INPUT(type="text" placeholder="Введите ваше имя" name="name" data-label="ваше имя")
		+e.button.btn.h6.BUTTON(type="submit")
			|Поделиться мнением
