+b.FORM.comment-form-min.form(action="#")
	+e.input.INPUT(type="text" placeholder="Введите ваше имя" name="name" data-label="ваше имя")
	+e.textarea.TEXTAREA(placeholder="Напишите комментарий..." name="comment-min" rows="1")
	+e.button.link.red-link.flex.flex_vertical.BUTTON(type="submit")
		|Поделиться мнением
		+icon('arrow', '0 0 19 10')