+b.SECTION.comments
	+e.clone-form
		+e.item.comment.comment__.js-clone-form.SECTION
			+e.content._form
				include ../layouts/comment-form-small
	+e.wrap.wrap.flex._justify
		+e.cell._left
			+e.head.flex
				+e.H2.title.h5 Комментарии
				+e.SPAN.count.h5 4
			+e.list.comments-list
				+e.item.comment._open.comment__.SECTION
					+e.content
						+e.head
							+e.title-wrapper
								+e.title.SPAN Лиза
						+e.text.p.P
							| Здравствуйте, Возможно сделать рефинансирование, и взять еще деньги на личные нужды?? Белая ЗП маленькая!

						+e.bottom.flex._justify._vertical
							+e.bottom-cell._left.flex._start
								+e.time.TIME Сегодня в 12:45
								+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
									| Комментировать 
							+e.bottom-cell._right
								+e.nav
									+e.nav-item.p.js-comment-form.A(href="#")
										+e.nav-icon._comment.SPAN
											+icon('comment', '0 0 14 14')
										+e.nav-text.SPAN 2
									+e.nav-item.p.js-comment-like.A(href="#")
										+e.nav-icon._heart.SPAN
											+icon('heart', '0 0 14 13')
										+e.nav-text.SPAN 2							
						+e.button._open._more.link.red-link.flex._vertical.BUTTON(type="button" data-hide="Скрыть ответы" data-open="Показать 2 ответа")
							+icon('message')
							+e.SPAN
								| Показать 2 ответа
					+e.other._hidden
						+e.item.comment.comment__.SECTION
							+e.content
								+e.head
									+e.avatar
										IMG(src="/app/img/comment-avatar.jpg")
									+e.title-wrapper
										+e.title.SPAN Астафьев Алексей
											+e.answer.small
												+icon('corner-up-left', '0 0 14 14')
												|Лиза
										+e.subtitle Финансовый аналитик МБК
								+e.text.p.P
									|Доброго дня, Лиза!
									br
									|Наша компания специализируется на рефинансировании кредитов. Мы объединяем все кредиты в 1 и снижаем платежи на 70%, при этом официальная зарплата - не самое главное,можно учесть и дополнительные "серые" доходы. Стоит отметить, что кредиты, которые вы захотите закрыть, не будут влиять на расчет вашей платежеспособности (банк сразу считает, что они уже закрыты и не берет их в расчет), что позволяет получить большую сумму и меньшую ставку.
								+e.bottom.flex._justify._vertical
									+e.bottom-cell._left.flex._start
										+e.time.TIME Сегодня в 12:45
										+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
											| Комментировать 
									+e.bottom-cell._right
										+e.nav
											+e.nav-item.p.js-comment-form.A(href="#")
												+e.nav-icon._comment.SPAN
													+icon('comment', '0 0 14 14')
												+e.nav-text.SPAN 1
											+e.nav-item.p.js-comment-like.A(href="#")
												+e.nav-icon._heart.SPAN
													+icon('heart', '0 0 14 13')
												+e.nav-text.SPAN 2
							+e.answer-area.js-comment-form-area
							+e.other
								+e.item.comment.comment__.SECTION
									+e.content._no-border
										+e.head
											+e.title-wrapper
												+e.title.SPAN Михаил
													+e.answer.small
														+icon('corner-up-left', '0 0 14 14')
														|Астафьев Алексей
										+e.text.p.P
											|Здравствуйте! Возможно ли оформить кредит с просрочками для погашения микрозаймов?
										+e.bottom.flex._justify._vertical
											+e.bottom-cell._left.flex._start
												+e.time.TIME Сегодня в 12:45
												+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
													| Комментировать 
											+e.bottom-cell._right
												+e.nav
													+e.nav-item.p.js-comment-like.is-empty.A(href="#")
														+e.nav-icon._heart.SPAN
															+icon('heart', '0 0 14 13')
									+e.answer-area.js-comment-form-area
					+e.answer-area.js-comment-form-area
				+e.item.comment._open.comment__.SECTION
					+e.content
						+e.head
							+e.title-wrapper
								+e.title.SPAN Лиза
						+e.text.p.P
							| Здравствуйте, Возможно сделать рефинансирование, и взять еще деньги на личные нужды?? Белая ЗП маленькая!

						+e.bottom.flex._justify._vertical
							+e.bottom-cell._left.flex._start
								+e.time.TIME Сегодня в 12:45
								+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
									| Комментировать 
							+e.bottom-cell._right
								+e.nav
									+e.nav-item.p.js-comment-like.A(href="#")
										+e.nav-icon._heart.SPAN
											+icon('heart', '0 0 14 13')
										+e.nav-text.SPAN 5
					+e.answer-area.js-comment-form-area
				+e.item.comment._open.comment__.SECTION
					+e.content
						+e.head
							+e.title-wrapper
								+e.title.SPAN Лиза
						+e.text.p.P
							| Здравствуйте, Возможно сделать рефинансирование, и взять еще деньги на личные нужды?? Белая ЗП маленькая!

						+e.bottom.flex._justify._vertical
							+e.bottom-cell._left.flex._start
								+e.time.TIME Сегодня в 12:45
								+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
									| Комментировать 
							+e.bottom-cell._right
								+e.nav
									+e.nav-item.p.js-comment-form.A(href="#")
										+e.nav-icon._comment.SPAN
											+icon('comment', '0 0 14 14')
										+e.nav-text.SPAN 2
									+e.nav-item.p.js-comment-like.is-empty.A(href="#")
										+e.nav-icon._heart.SPAN
											+icon('heart', '0 0 14 13')
						+e.button._open._more.link.red-link.flex._vertical.BUTTON(type="button" data-hide="Скрыть ответы" data-open="Показать 2 ответа")
							+icon('message')
							+e.SPAN
								| Показать 2 ответа
					+e.other._hidden
						+e.item.comment.comment__.SECTION
							+e.content
								+e.head
									+e.avatar
										IMG(src="/app/img/comment-avatar.jpg")
									+e.title-wrapper
										+e.title.SPAN Астафьев Алексей
											+e.answer.small
												+icon('corner-up-left', '0 0 14 14')
												|Лиза
										+e.subtitle Финансовый аналитик МБК
								+e.text.p.P
									|Доброго дня, Лиза!
									br
									|Наша компания специализируется на рефинансировании кредитов. Мы объединяем все кредиты в 1 и снижаем платежи на 70%, при этом официальная зарплата - не самое главное,можно учесть и дополнительные "серые" доходы. Стоит отметить, что кредиты, которые вы захотите закрыть, не будут влиять на расчет вашей платежеспособности (банк сразу считает, что они уже закрыты и не берет их в расчет), что позволяет получить большую сумму и меньшую ставку.
								+e.bottom.flex._justify._vertical
									+e.bottom-cell._left.flex._start
										+e.time.TIME Сегодня в 12:45
										+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
											| Комментировать 
									+e.bottom-cell._right
										+e.nav
											+e.nav-item.p.js-comment-form.A(href="#")
												+e.nav-icon._comment.SPAN
													+icon('comment', '0 0 14 14')
												+e.nav-text.SPAN 1
											+e.nav-item.p.js-comment-like.A(href="#")
												+e.nav-icon._heart.SPAN
													+icon('heart', '0 0 14 13')
												+e.nav-text.SPAN 2
							+e.answer-area.js-comment-form-area
							+e.other
								+e.item.comment.comment__.SECTION
									+e.content._no-border
										+e.head
											+e.title-wrapper
												+e.title.SPAN Михаил
													+e.answer.small
														+icon('corner-up-left', '0 0 14 14')
														|Астафьев Алексей
										+e.text.p.P
											|Здравствуйте! Возможно ли оформить кредит с просрочками для погашения микрозаймов?
										+e.bottom.flex._justify._vertical
											+e.bottom-cell._left.flex._start
												+e.time.TIME Сегодня в 12:45
												+e.button.link.red-link.flex._vertical.js-comment-form.BUTTON(type="button")
													| Комментировать 
											+e.bottom-cell._right
												+e.nav
													+e.nav-item.p.js-comment-like.is-empty.A(href="#")
														+e.nav-icon._heart.SPAN
															+icon('heart', '0 0 14 13')
									+e.answer-area.js-comment-form-area
					+e.answer-area.js-comment-form-area
			include ../layouts/comment-form
		+e.cell._right
			include ../layouts/article-estimate