+b.SECTION.conditions.conditions--nedvig.gray
	+e.wrap.wrap
		+e.title.h3
			| Специальные условия
			br
			| по&#32;продаже квартир
		+e.slider.gallery-slider__.js-gallery-slider
			+e.cell._slider
				+e.image.is-active
					+e.IMG.img.object-fit(src="/img/conditions-nedvig-0.png")
					+e.name.h3 1-комнатные
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions-nedvig-0.png")
					+e.name.h3 2-комнатные
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions-nedvig-0.png")
					+e.name.h3 3-комнатные
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions-nedvig-0.png")
					+e.name.h3 4-комнатные
			+e.cell._info
				+e.UL.list
					+e.LI.item.__item--nonumber
						+link(class="_hidden") 1-комнатные
					+e.LI.item.__item--nonumber
						+link(class="_hidden") 2-комнатные
					+e.LI.item.__item--nonumber
						+link(class="_hidden") 3-комнатные
					+e.LI.item.__item--nonumber
						+link(class="_hidden") 4-комнатные
