+b.SECTION.conditions-block
	+e.inner
		+e.wrap.wrap
			+e.row.flex._justify
				+e.cell._left
					+e.list.check-list__._small.h6
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Изучим Вашу ситуацию
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Определим ставку по кредиту
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Сбросим ставку на 1% за свой счёт
				+e.cell._right
					+e.items.flex._justify
						+e.part
							+e.part-head.h5
								| от
								+e.SPAN.part-bold.h2  15% 
								| в год
							+e.text.p Процентная ставка
						+e.part
							+e.part-head.h5
								| до
								+e.SPAN.part-bold.h2  15 
								| млн ₽
							+e.text.p Сумма кредита
						+e.part
							+e.part-head.h5
								| от
								+e.SPAN.part-bold.h2  548 
								| ₽/мес
							+e.text.p Сумма платежа