+b.SECTION.conditions.gray.is-without-container
	+e.wrap.wrap
		+e.title.h3
			| Специальные условия 
			br
			| по получению денег
		+e.slider.gallery-slider__.js-gallery-slider
			+e.cell._slider
				+e.image.is-active
					+e.IMG.img.object-fit(src="/img/conditions_0.jpg")
					+e.name.h3 Безработным
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_1.jpg")
					+e.name.h3 Госслужащим
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_2.jpg")
					+e.name.h3 ИП
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_3.jpg")
					+e.name.h3 Работникам по найму
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_4.jpg")
					+e.name.h3 Самозанятым
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_5.jpg")
					+e.name.h3 Студентам
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_6.jpg")
					+e.name.h3 Юридическим лицам
				+e.image
					+e.IMG.img.object-fit(src="/img/conditions_7.jpg")
					+e.name.h3 Пенсионерам
			+e.cell._info
				+e.UL.list
					+e.LI.item
						+link(class="_hidden") Безработным
					+e.LI.item
						+link(class="_hidden") Госслужащим
					+e.LI.item
						+link(class="_hidden") ИП
					+e.LI.item
						+link(class="_hidden") Работникам по найму
					+e.LI.item
						+link(class="_hidden") Самозанятым
					+e.LI.item
						+link(class="_hidden") Студентам
					+e.LI.item
						+link(class="_hidden") Юридическим лицам
					+e.LI.item
						+link(class="_hidden") Пенсионерам