+b.SECTION.council
	+e.wrap.wrap
		+e.head
			+e.bg.object-fit.IMG(src="/img/council.jpg")
			+e.head-inner
				+e.title.h2 
					| Как быстро продать 
					br
					| квартиру?
				+e.author.flex._vertical
					+e.author-cell._avatar
						+e.avatar
							+e.IMG.avatar-img.object-fit(src="/img/avatar.jpg")
					+e.author-cell._content
						+link Виктория Нилова
						+e.author-text.p
							| Главный специалист департамента розничного кредитования
		+e.row.flex._justify
			+e.cell._left
				+e.content.content._big
					p
						| Чтобы быстро продать квартиру в Москве, необходимо совершить ряд действий, которые повысят ее привлекательность для потенциальных клиентов.
					p
						| Заниматься продажей можно самостоятельно, но лучше доверить этот процесс опытным риэлторам, которые предлагают услугу срочный выкуп квартир. Они смогут взвешенно оценить недвижимость, найти покупателей, составить договор купли-продажи с собственником так, чтобы его никто не смог оспорить. Прежде чем продать квартиру, следует проделать следующие шаги:
					ul
						li
							| Определение актуальной рыночной стоимости. Цена зависит от расположения недвижимости, площади квартиры, состояния дома, близости к метро, а также других факторов.
						li
							| Подготовительные работы. Жилплощадь освобождается от лишнего хлама, в ней делается уборка и легкий ремонт. Из нее убирают лишнюю мебель, улучшают освещенность. Также рекомендуется позаботиться о лестничной площадке, подъезде, входной группе.
						li
							| Подготовка необходимых документов, включая экспликацию поэтажного плана, справки об отсутствии задолженностей, согласие супругов. При срочной продаже документы следует подготовить заранее.
						li
							| Размещение объявлений в Интернет, на специальных сайтах, на досках объявлений. Нужно составить детальное описание недвижимости, сделать качественные снимки, решить, за какую цену вы готовы продать жилье.
						li
							| Встреча с потенциальными клиентами. Будьте готовы к тому, что по объявлению о выкупе квартиры вам будут звонить в любое время: в будни и выходные, днем и ночью. Вам придется встречаться с незнакомыми людьми, демонстрировать им жилье.
						li
							| Подписание договора, получение денег. Учтите, что на срочные объявления откликается множество нечистых на руку дельцов и посредников, работающих на московском рынке недвижимости.  Чтобы не потерять деньги и нервы, работайте с профессионалами.
				+e.A.link.h6.red-link__.flex._vertical(href='#')
					| Читайте далее
					+e.icon._arrow
						+e.SVG(viewBox="0 0 18.560659 9.6213207")
							path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
							path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
			+e.cell._right
				+e.button.icon-button__.A(href="#")
					+e.SPAN.icon
						+icon('council_1','0 0 34 34')
					+e.SPAN.text.h6
						| Оформить заявку
					//- +link(false) Оформить заявку
				+e.button.icon-button__.A(href="#")
					+e.SPAN.icon
						+icon('council_2','0 0 34 34')
					+e.SPAN.text.h6
						| Задать вопрос
				+e.button.icon-button__.A(href="#")
					+e.SPAN.icon
						+icon('council_3','0 0 34 34')
					+e.SPAN.text.h6
						| Все советы