+b.SECTION.database
	+e.wrap.wrap
		+e.title.h3 
			+e.inner
				| База знаний от 
				span.stroke МБК
		+e.row.flex._justify._vertical
			+e.cell._left.flex
				+e.doc
					+e.IMG.doc-image.object-fit(src="/img/doc_1.jpg")
				+e.doc._second
					+e.IMG.doc-image.object-fit(src="/img/doc_2.jpg")
				+e.doc._third
					+e.IMG.doc-image.object-fit(src="/img/doc_3.jpg")
			+e.cell._right.content
				+e.subtitle.h1
					| Бесплатные 
					| материалы
				+e.middle.h5
					| Делимся советами, как решать дела с долгами и недвижимостью самостоятельно.
					+icon('light', '0 0 59 59')
				+e.text.h6.is-regular
					| Статьи, пошаговые инструкции, мастер классы, которые помогут найти логическую или юридическую лазейку в вашей финансовой ситуации и закрыть все долги