+b.SECTION.database._blog
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.cell._left.flex
				+e.doc.A(href="#")
					+e.IMG.doc-image.object-fit(src="/img/doc_1.jpg")
				+e.doc._second.A(href="#")
					+e.IMG.doc-image.object-fit(src="/img/doc_2.jpg")
				+e.doc._third.A(href="#")
					+e.IMG.doc-image.object-fit(src="/img/doc_3.jpg")
			+e.cell._right.content
				+e.subtitle-wrap
					+e.B.subtitle 120
					+e.B.subtext статей
				+e.text.h6.is-regular
					| которые помогут найти логическую или
					+e.BR.desk-br
					| юридическую лазейку в вашей финансовой ситуации и закрыть все долги

				+e.middle.h5
					| Делимся советами, как решать дела с долгами и недвижимостью самостоятельно.
					+e.bg-icon-wrap
						+icon('decorTree', '0 0 211 217')
