+b.SECTION.difficult-case
    +e.wrap.wrap
        +e.title.h3
            | Как продать квартиру,
            <br>
            | если у Вас сложный случай?
        +e.UL.case-list
            +e.LI.item
                +e.A.link(href="#")
                    +e.DIV.container-icon
                        +e.icon-decoration
                        +e.SVG.icon(viewBox="0 0 34 34" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(class="difficult-case__stroke" d='M17 11.3333C19.3472 11.3333 21.25 9.43046 21.25 7.08325C21.25 4.73604 19.3472 2.83325 17 2.83325C14.6528 2.83325 12.75 4.73604 12.75 7.08325C12.75 9.43046 14.6528 11.3333 17 11.3333Z')
                            path(class="difficult-case__stroke" d='M17 31.1666V11.3333')
                            path(class="difficult-case__stroke" d='M7.0835 17H2.8335C2.8335 20.7572 4.32605 24.3606 6.98282 27.0173C9.63958 29.6741 13.2429 31.1667 17.0002 31.1667C20.7574 31.1667 24.3607 29.6741 27.0175 27.0173C29.6743 24.3606 31.1668 20.7572 31.1668 17H26.9168')
                    +e.P.case-title
                        | Под обременением
                    +e.DIV.customer-row
                        +e.IMG.customer-photo(src="/img/difficult-customer_1.jpg")
                        +e.P.customer-name
                            | Андрей Васильев
                    +e.P.review
                        | Ребята закрыли все задолжности за свой счет и дали мне аванс в первый же день!
                    +e.P.more-details
                        | Подробнее
                        +e.SPAN.arrow.arrow
                            +e.SVG(viewBox="0 0 18.560659 9.6213207")
                                path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
                                path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
            +e.LI.item
                +e.A.link(href="#")
                    +e.container-icon
                        +e.icon-decoration
                        +e.SVG.icon(viewBox="0 0 34 34" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(class="difficult-case__stroke" d='M38 31V59')
                            path(class="difficult-case__stroke" d='M52 31V59')
                            path(class="difficult-case__stroke" d='M31 38L59 38')
                            path(class="difficult-case__stroke" d='M31 52L59 52')
                    +e.P.case-title
                        | Под арестом
                    +e.DIV.customer-row
                        +e.IMG.customer-photo(src="/img/difficult-customer_2.jpg")
                        +e.P.customer-name
                            | Ольга Егорова
                    +e.P.review
                        | Срочно понадобился кредит наличными, сумма нужна была довольно крупная.
                    +e.P.more-details
                        | Подробнее
                        +e.SPAN.arrow.arrow
                            +e.SVG(viewBox="0 0 18.560659 9.6213207")
                                path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
                                path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
            +e.LI.item
                +e.A.link(href="#")
                    +e.container-icon
                        +e.icon-decoration
                        +e.SVG.icon(viewBox="0 0 34 34" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(class="difficult-case__stroke" d='M18 33C26.2843 33 33 26.2843 33 18C33 9.71573 26.2843 3 18 3C9.71573 3 3 9.71573 3 18C3 26.2843 9.71573 33 18 33Z')
                            path(class="difficult-case__stroke" d='M12 18H24')
                    +e.P.case-title
                        | Под залогом
                    +e.DIV.customer-row
                        +e.IMG.customer-photo(src="/img/difficult-customer_3.jpg")
                        +e.P.customer-name
                            | Сергей Приходько
                    +e.P.review
                        | Если у вас плохая кредитная история, то вам несомнено сюда. Принимают как своего!
                    +e.P.more-details
                        | Подробнее
                        +e.SPAN.arrow.arrow
                            +e.SVG(viewBox="0 0 18.560659 9.6213207")
                                path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
                                path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
            +e.LI.item
                +e.A.link(href="#")
                    +e.container-icon
                        +e.icon-decoration
                        +e.SVG.icon(viewBox="0 0 34 34" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(class="difficult-case__stroke" d='M26.9166 7.08325L7.08325 26.9166')
                            path(class="difficult-case__stroke" d='M9.20841 12.7501C11.1644 12.7501 12.7501 11.1644 12.7501 9.20841C12.7501 7.25241 11.1644 5.66675 9.20841 5.66675C7.25241 5.66675 5.66675 7.25241 5.66675 9.20841C5.66675 11.1644 7.25241 12.7501 9.20841 12.7501Z')
                            path(class="difficult-case__stroke" d='M24.7917 28.3333C26.7477 28.3333 28.3333 26.7477 28.3333 24.7917C28.3333 22.8357 26.7477 21.25 24.7917 21.25C22.8357 21.25 21.25 22.8357 21.25 24.7917C21.25 26.7477 22.8357 28.3333 24.7917 28.3333Z')
                    +e.P.case-title
                        | Под ипотекой
                    +e.DIV.customer-row
                        +e.IMG.customer-photo(src="/img/difficult-customer_4.jpg")
                        +e.P.customer-name
                            | Евгений Караваев
                    +e.P.review
                        | Не первый раз захожу в данный офис, и каждый раз остается желание вернуться.
                    +e.P.more-details
                        | Подробнее
                        +e.SPAN.arrow.arrow
                            +e.SVG(viewBox="0 0 18.560659 9.6213207")
                                path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
                                path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')