+b.SECTION.faq
	+e.wrap.wrap
		+e.accordion.accordion__.js-accordion
			+e.top.h5
				| Условия кредитования
				+e.arrow
					+icon('down', '0 0 22 13')
			+e.content.content._big
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Сумма
					+e.line-cell
						+e.line-item.h6 от 50 000 ₽ до 3 000 000 ₽
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Срок
					+e.line-cell
						+e.line-item.h6 от 13 месяцев до 7 лет
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Цель
					+e.line-cell
						+e.line-item.h6 на любые цели
				+e.text
					p
						| © 2011 – 2019 ООО«МБК» Адрес юр.: 101000, г. Москва Большой Спасоглинищевский пер., д. 9/1, стр. 16а, офис 1-4 ИНН 7710889274 КПП 770901001 ОГРН 1117746378485 Официальный партнер кредитных организаций, предоставляющих займы и кредиты на основании действующего законодательства РФ. Лицензии: ПАО «Совкомбанк» №963, АО «Банк БЖФ» № 3138, ПАО КБ «Восточный» №1460, ПАО «Норвик Банк» № 902.
		+e.accordion.accordion__.js-accordion
			+e.top.h5
				| Процентные ставки
				+e.arrow
					+icon('down', '0 0 22 13')
			+e.content.content._big
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Процентная ставка
					+e.line-cell
						+e.line-item.h6 
							| - со страховкой 9,5%
							br
							| - без страховки 14,5%*
				+e.text
					p
						| * Процентная ставка устанавливается в зависимости от категории клиента
		+e.accordion.accordion__.js-accordion
			+e.top.h5
				| Требования к заемщику
				+e.arrow
					+icon('down', '0 0 22 13')
			+e.content.content._big
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Гражданство, постоянная регистрация или проживание
					+e.line-cell
						+e.line-item.h6 РФ
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Возраст на дату получения кредита
					+e.line-cell
						+e.line-item.h6 не менее 20 лет
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Возраст на дату окончания срока кредита
					+e.line-cell
						+e.line-item.h6 не более 70 лет
		+e.accordion.accordion__.js-accordion
			+e.top.h5
				| Необходимые документы
				+e.arrow
					+icon('down', '0 0 22 13')
			+e.content.content._big
				+e.line.flex._justify
					+e.line-cell
						+e.line-item.h6 Обязательные документы
					+e.line-cell
						+e.line-list.UL
							+e.line-li.LI Паспорт
							+e.line-li.LI СНИЛС
							+e.line-li.LI Документы на собственность
				+e.line._big.flex._justify
					+e.line-cell
						+e.line-item.h6 
							| Документы, снижающие
							br
							| процентную ставку
					+e.line-cell
						+e.line-list.UL
							+e.line-li.LI Справки с места работы
							+e.line-li.LI 
								| Документы на дополнительные
								br
								| активы (авто, недвижимость)