+b.FOOTER.footer
	+e.wrap.wrap
		+e.top.flex._justify._start
			+e.logo.logo__.A(href="#")
				+e.IMG.image(src='/app/img/logo.svg')
			+e.UL.menu.flex._vertical._justify
				+e.menu-item.LI
					+e.menu-link.h6.A(href="#")
						| О нас
				+e.menu-item.LI
					+e.menu-link.h6.A(href="#")
						| База знаний
				+e.menu-item.LI
					+e.menu-link.h6.A(href="#")
						| Услуги
				+e.menu-item.LI
					+e.menu-link.h6.A(href="#")
						| Контакты
				+e.menu-item.LI
					+e.menu-link.h6.A(href="#")
						| Клиенты
			+e.phone.phone__.h6.is-bold.A(href="tel:+74993463718") +7 499 346 37 18
			+e.callback#footer-callback
				+e.write.flex._vertical
					+e.text._label.p Напишите нам
					+e.messengers.messenger__.flex._vertical
						+e.item.A(href='#' style="fill: #00C364")
							+icon('WhatsApp', '0 0 24 24')
						+e.item.A(href='#' style="fill: #665CAC")
							+icon('viber', '0 0 25 25')
						+e.item.A(href='#' style="fill: #1E96C8")
							+icon('telegram', '0 0 24 21')
				+e.mail.js-move-item(data-from="#footer-callback" data-to="#mobile-callback" data-point="580")
					+e.email.email__.p.A(href="mailto:info@mbk.ru")
						+e.SPAN.icon
							+icon('mail', '0 0 15 11')
						+e.SPAN.text info@mbk.ru
					+e.text._gray._email.p
						| Пишите в любое время дня и ночи
			+e.mobile.flex._justify
				+e.mobile-cell._left#mobile-callback
				+e.mobile-cell._right#mobile-addr
			+e.contacts
				+e.addr#footer-addr
					+e.addr-inner.js-move-item(data-from="#footer-addr" data-to="#mobile-addr" data-point="580")
						+e.text._addr.p 
							| г. Москва ул. 
							br
							| Забелина, д. 1а
						+e.text._help.p По будням 10.00-18.00
				+e.socials.socials__.flex._vertical._justify
					+e.item
						+e.link.A(href='#' style="width: 10px")
							+icon('fb', '0 0 10 19')
					+e.item
						+e.link.A(href='#' style="width: 18px")
							+icon('insta', '0 0 18 19')
					+e.item
						+e.link.A(href='#' style="width: 24px")
							+icon('vk', '0 0 24 15')
					+e.item
						+e.link.A(href='#' style="width: 21px")
							+icon('yotube', '0 0 21 15')
				+e.upstairs.A(href="#")
					+e.SVG(viewBox="0 0 18.560659 9.6213207")
						path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
						path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
		+e.bottom.flex._vertical._justify
			+e.text._copyright.p
				| © 2020 Все права защищены
			+e.text.p
				| mbk-credit.ru
			+e.text._creator.p.A(href='https://karanikola.ru/' target="_blank")
				| Создание сайта - 
				span.b Karanikola