+b.SECTION.gift-steps
	+e.inner
		+e.wrap.wrap
			+e.row.flex._justify
				+e.cell._left
					+e.manager
						+e.manager-humnan
							+e.IMG.manager-image(src="/img/gf_woman.png")
							+e.manager-info
								+e.maneger-name.h6
									| Алексеева Марина
								+e.manager-text.p
									| Ваш персональный менеджер
				+e.cell._right
					+e.title.h3
						| Для получения 
						br
						| подарка необходимо:
					+e.list.flex
						+e.list-cell
							+e.list-top.h5
								+icon('logo', '0 0 60 62')
								+e.list-num
							+e.list-text.p
								| Дождитесь звонка персонального менеджера
						+e.list-cell
							+e.list-top.h5
								+icon('logo', '0 0 60 62')
								+e.list-num
							+e.list-text.p
								| Обозначьте удобное время для встречи у нас в офисе
						+e.list-cell
							+e.list-top.h5
								+icon('logo', '0 0 60 62')
								+e.list-num
							+e.list-text.p
								| Подтвердите встречу за час
						+e.list-cell
							+e.list-top.h5
								+icon('logo', '0 0 60 62')
								+e.list-num
							+e.list-text.p
								| Приезжайте и получайте подарок
					+e.bottom.flex._right
						+e.bottom-part
							+e.bottom-text.h6.is-regular
								| Не перезвонил менеджер?
								br
								| Уточните свой вопрос по телефону:
							+e.bottom-phone.h3.A(href="tel:+74951334967")
								| +7 (495) 133-49-67