+b.SECTION.gift-preview
	+e.bg._desktop
		+e.bg-img.object-fit.IMG(src="/img/gf-back-1.jpg")
	+e.bg._mobile
		+e.bg-img.object-fit.IMG(src="/img/gf-back-1-mobile.jpg")
	+e.inner
		+e.wrap.wrap
			+e.cell
				+e.top
					+e.label.small
						| Поздравляем!  Вы выиграли подарок от МБК!
					+e.title.h3
						| Сбросим 1% со ставки
						| по кредиту за свой счёт
				+e.down
					+e.list.check-list__.h6
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Изучим Вашу ситуацию
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Определим ставку по кредиту
						+e.item
							+e.icon
								+icon('check', '0 0 9 7')
							| Сбросим ставку на 1% за свой счёт
					+e.bottom
						+e.bottom-text.small
							| Максимальная экономия
						+e.bottom-price.h4.is-bold
							| до 500 000 ₽