+b.SECTION.header-arrow._dark
  +e.wrap.wrap
    +breadcrumbs('Главная', 'Услуги', 'Получить деньги')
    +e.box
      +e.H2.title.h2
        |Новости
        br
        |финансового рынка
      +e.P.desc.h5 Ежедневно формируем подборку свежих новостей в сфере кредитования и недвижимости
