+b.SECTION.header-arrow
  +e.wrap.wrap
    +breadcrumbs('Главная', 'Услуги', 'Получить деньги')
    +e.box
      +e.H2.title.h2 
        | Сертификаты и благодарственные 
        nobr письма компании МБК
  +e.bottom
    +e.wrap.wrap
      +e.bottom-row
        +e.down.scroll-down__.A(href="#sertificates")
          +e.inside
            +e.center
              +icon('arrow')