+b.HEADER.header
	+e.top
		+e.wrap.wrap
			+e.row.flex._justify._vertical
				+e.email.email__.p.A(href="#")
					+e.SPAN.icon
						+icon('mail', '0 0 15 11')
					+e.SPAN.text info@mbk-credit.ru
				+e.phone.phone__.h6.is-bold.A(href="tel:+74993463718") +7 499 346 37 18
				+e.messengers.messenger__.flex._vertical
					+e.item.A(href='#' style="fill: #00C364")
						+icon('WhatsApp', '0 0 24 24')
					+e.item.A(href='#' style="fill: #665CAC")
						+icon('viber', '0 0 25 25')
					+e.item.A(href='#' style="fill: #1E96C8")
						+icon('telegram', '0 0 24 21')
				+e.link.link__.p.A(href="#")
					| Заказать звонок
					+e.SPAN.arrow.arrow
						+icon('arrow', '0 0 19 10')
				+e.link.link__.p.A(href="#")
					| Заказать услугу
					+e.SPAN.arrow.arrow
						+icon('arrow', '0 0 19 10')
				+e.subscribe.subscribe-button__.p.A(href="#")
					| Подписаться на нашу рассылку
					+e.icon
						+icon('sb', '0 0 11 11')
	+e.bottom
		+e.wrap.wrap
			+e.row.flex._vertical._justify
				+e.logo.logo__.A(href="#")
					+e.IMG.image(src='/app/img/logo.svg')
				+e.menu.menu__.flex.UL
					+e.item.LI
						+e.A.link.h6(href="#") О нас
					+e.item.LI
						+e.A.link.h6(href="#") Услуги
					+e.item.LI
						+e.A.link.h6(href="#") Клиенты
					+e.item.LI
						+e.A.link.h6.is-active(href="#") База знаний
					+e.item.LI
						+e.A.link.h6(href="#") Контакты
				+b.search-button
					+icon('loupe', '0 0 21 21')
