+b.HEADER.header
	+e.top
		+e.wrap.wrap
			+e.row.flex._justify._vertical
				+e.part._email
					+e.email.email__.p.A(href="mailto:info@mbk.ru")
						+e.SPAN.icon
							+icon('mail', '0 0 15 11')
						+e.SPAN.text info@mbk.ru
				+e.part._contact.flex._vertical
					+e.phone.phone__.h6.is-bold.A(href="tel:+74951334967") +7 495 133 49 67
					+e.messengers.messenger__.flex._vertical
						+e.item.A(href='#' style="fill: #00C364")
							+icon('WhatsApp', '0 0 24 24')
						+e.item._viber.A(href='#' style="fill: #665CAC")
							+icon('viber', '0 0 25 25')
						+e.item.A(href='#' style="fill: #1E96C8")
							+icon('telegram', '0 0 24 21')
				+e.part._links.flex._vertical
					+e.link.link__.p.A(href="#")
						| Заказать звонок
						+e.SPAN.arrow.arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
					+e.link.link__.p.A(href="#")
						| Заказать услугу
						+e.SPAN.arrow.arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
				+e.part._subscribe
					+e.subscribe.subscribe-button__.p.A(href="#")
						| Подписаться на нашу рассылку
						+e.icon
							+icon('sb', '0 0 11 11')
	+e.bottom
		+e.wrap.wrap
			+e.row.flex._vertical._justify
				+e.logo.logo__.A(href="#")
					+e.IMG.image(src='/app/img/logo.svg')
				+e.menu.menu__.flex.UL
					+e.item.LI
						+e.link.h6.js-submenu.A(href="#" data-menu="#about-panel" data-event="click") О нас
					+e.item.LI
						+e.link.h6.js-submenu.A(href="#" data-menu="#services-panel" data-event="click") Услуги
					+e.item.LI
						+e.link.h6.js-submenu.A(href="#" data-menu="#clients-panel" data-event="click") Клиенты
					+e.item.LI
						+e.link.h6.js-submenu.A(href="#" data-menu="#db-panel" data-event="click") База знаний
					+e.item.LI
						+e.link.h6.js-submenu.A(href="#" data-menu="#contacts-panel" data-event="click") Контакты
				+e.search
					+b.search.FORM(action="")
						+e.button.search-button__.js-search-open.BUTTON(type="button")
							+icon('loupe', '0 0 21 21')
						+e.inner
							+e.INPUT.input(type="text" name='s' autocomplete="off" placeholder="Поиск по сайту")
						+e.close.js-search-close
							+icon('close', '0 0 18 18')
				+e.mobile.flex._vertical
					+e.mobile-item._loupe
						+e.mobile-search.search-button__.js-search-toggle.BUTTON
							+e.default
								+icon('loupe', '0 0 21 21')
							+e.close
								+icon('close', '0 0 18 18')
					+e.mobile-item._phone.A(href="tel:+74993463718")
						+icon('phone', '0 0 18 18')
					+e.mobile-item._hamburger
						+e.hamburger.hamburger.hamburger--spin.js-mobile-menu
							.hamburger-box
								.hamburger-inner
	+e.search-bg.js-search-close
	+e.device
		+e.device-bg.js-close-mobile-menu
		+e.device-menu.UL
			+e.device-li.LI
				+e.device-link.h6.js-mobile-link.A(href="#" data-menu="#about-panel") 
					| О нас
					+icon('next', '0 0 10 14')
			+e.device-li.LI
				+e.device-link.h6.js-mobile-link.A(href="#" data-menu="#services-panel") 
					| Услуги
					+icon('next', '0 0 10 14')
			+e.device-li.LI
				+e.device-link.h6.js-mobile-link.A(href="#" data-menu="#clients-panel") 
					| Клиенты
					+icon('next', '0 0 10 14')
			+e.device-li.LI
				+e.device-link.h6.js-mobile-link.A(href="#" data-menu="#db-panel") 
					| База знаний
					+icon('next', '0 0 10 14')
			+e.device-li.LI
				+e.device-link.h6.js-mobile-link.A(href="#" data-menu="#contacts-panel") 
					| Контакты
					+icon('next', '0 0 10 14')
		+e.parts
			+e.DIV.parts-submenu.js-mobile-submenu( data-submenu="#about-panel" )
				+e.parts-nav
					+e.parts-backward.small.js-device-backward
						+icon('next', '0 0 10 14')
						| Все разделы
					+e.parts-title.h4
						| О нас
				+e.parts-inner
			+e.DIV.parts-submenu.js-mobile-submenu( data-submenu="#services-panel" )
				+e.parts-nav
					+e.parts-backward.small.js-device-backward
						+icon('next', '0 0 10 14')
						| Все разделы
					+e.parts-title.h4
						| Услуги
				+e.parts-inner
			+e.DIV.parts-submenu.js-mobile-submenu( data-submenu="#clients-panel" )
				+e.parts-nav
					+e.parts-backward.small.js-device-backward
						+icon('next', '0 0 10 14')
						| Все разделы
					+e.parts-title.h4
						| Клиенты
				+e.parts-inner
			+e.DIV.parts-submenu.js-mobile-submenu( data-submenu="#db-panel" )
				+e.parts-nav
					+e.parts-backward.small.js-device-backward
						+icon('next', '0 0 10 14')
						| Все разделы
					+e.parts-title.h4
						| База знаний
				+e.parts-inner
			+e.DIV.parts-submenu.js-mobile-submenu( data-submenu="#contacts-panel" )
				+e.parts-nav
					+e.parts-backward.small.js-device-backward
						+icon('next', '0 0 10 14')
						| Все разделы
					+e.parts-title.h4
						| Контакты
				+e.parts-inner
	+e.panel
		+e.panel-bg
		+e.panel-row
			+e.panel-item._noscope.about-nav__#about-panel
				+e.wrap.wrap
					+e.row.flex._start
						+e.cell._left
							ul.header__list
								li.header__list-item
									a.header__list-link.h5(href="#") Нам 9 лет
								li.header__list-item
									a.header__list-link.h5(href="#") Вакансии
								li.header__list-item
									a.header__list-link.h5(href="#") В лицах
						+e.cell._center
							ul.header__list
								li.header__list-item
									a.header__list-link.h5(href="#") Наши преимущества
								li.header__list-item
									a.header__list-link.h5(href="#") Наши сертификаты
						+e.cell._right
							+e.IMG(src="/app/img/about.svg")
			+e.panel-item._services.services-nav__#services-panel
				+e.wrap.wrap
					+e.tabs.tabs__._default._nolist
						+e.nav.flex._justify._vertical
							+e.nav-item.h5.is-active.js-tab-nav.js-mobile-nav-tab 
								span Получить деньги
								+icon('next', '0 0 10 14')
							+e.nav-item.h5.js-tab-nav.js-mobile-nav-tab 
								span Закрыть долги
								+icon('next', '0 0 10 14')
							+e.nav-item.h5.js-tab-nav.js-mobile-nav-tab 
								span Продать квартиру
								+icon('next', '0 0 10 14')
							+e.nav-item.h5.js-tab-nav.js-mobile-nav-tab 
								span Сделки с недвижимостью
								+icon('next', '0 0 10 14')
						+e.content
							+e.content-item.services-tab__.is-active
								+e.mobile
									.header__parts-backward.small.js-service-backward
										svg.icon.icon-next(viewBox='0 0 10 14')
											use(xlink:href='/app/icons/sprite.svg#next')
										| Услуги
									.header__parts-title.h4 Получить деньги
								+e.row.flex
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Займы
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Получить деньги
												.header__parts-title.h4 Займы
											+e.box
												+e.label.h6 По условиям
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Без залога
													+e.line
														+e.item.h6.A(href="#") Без истории
													+e.line
														+e.item.h6.A(href="#") Без отказа
													+e.line
														+e.item.h6.A(href="#") Без поручителей
													+e.line
														+e.item.h6.A(href="#") Без предоплаты
													+e.line
														+e.item.h6.A(href="#") Без справок
													+e.line
														+e.item.h6.A(href="#") На карту
													+e.line
														+e.item.h6.A(href="#") Под залог
													+e.line
														+e.item.h6.A(href="#") Под расписку
													+e.line
														+e.item.h6.A(href="#") С плохой ки
													+e.line
														+e.item.h6.A(href="#") Срочно
											+e.box
												+e.label.h6 По соцстатусу
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Безработным
													+e.line
														+e.item.h6.A(href="#") Самозанятым
													+e.line
														+e.item.h6.A(href="#") Госслужащим
													+e.line
														+e.item.h6.A(href="#") Студентам
													+e.line
														+e.item.h6.A(href="#") ИП
													+e.line
														+e.item.h6.A(href="#") Юридическим лицам
													+e.line
														+e.item.h6.A(href="#") Пенсионерам
													+e.line
														+e.item.h6.A(href="#") Работникам по найму
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Кредиты
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Получить деньги
												.header__parts-title.h4 Кредиты
											+e.box
												+e.label.h6 По соц статусу
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Экспресс кредиты
													+e.line
														+e.item.h6.A(href="#") Кредит под залог
													+e.line
														+e.item.h6.A(href="#") Потребительский кредит
											+e.box
												+e.label.h6 Плохая история
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Помощь в получении
													+e.line
														+e.item.h6.A(href="#") Услуги кредитного брокера
											+e.box
												+e.label.h6 Другое
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Кредитная линия
													+e.line
														+e.item.h6.A(href="#") Ломбардное кредитование
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Финансирование бизнеса
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Получить деньги
												.header__parts-title.h4 Финансирование бизнеса
											+e.box
												+e.label.h6 Оборотные средства
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Кредитование на пополнение оборотных средств без залога
													+e.line
														+e.item.h6.A(href="#") Кредитование на пополнение оборотных средств под залог имущества
											+e.box
												+e.label.h6 Ипотека и лизинг
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Коммерческая ипотека. Возвратный лизинг недвижимости
													+e.line
														+e.item.h6.A(href="#") Кредит на покупку автотранспорта и оборудования. Возвратный лизинг автотранспорта
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Ссуды
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Получить деньги
												.header__parts-title.h4 Ссуды
							+e.content-item.services-tab__.flex
								+e.mobile
									.header__parts-backward.small.js-service-backward
										svg.icon.icon-next(viewBox='0 0 10 14')
											use(xlink:href='/app/icons/sprite.svg#next')
										| Услуги
									.header__parts-title.h4 Закрыть долги
								+e.row.flex
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Рефинансирование
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Закрыть долги
												.header__parts-title.h4 Рефинансирование
											+e.box
												+e.label.h6 Виды услуг
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Закрытие текущих просрочек
													+e.line
														+e.item.h6.A(href="#") Объединение кредитов в один
													+e.line
														+e.item.h6.A(href="#") Снижение платежа и ставки по кредиту
							+e.content-item.services-tab__.flex
								+e.mobile
									.header__parts-backward.small.js-service-backward
										svg.icon.icon-next(viewBox='0 0 10 14')
											use(xlink:href='/app/icons/sprite.svg#next')
										| Услуги
									.header__parts-title.h4 Продать квартиру
								+e.row.flex
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Срочная продажа квартиры
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Продать квартиру
												.header__parts-title.h4 Срочная продажа квартиры
											+e.box
												+e.label.h6 По виду обременения
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Под обременением
													+e.line
														+e.item.h6.A(href="#") Под арестом
													+e.line
														+e.item.h6.A(href="#") Под залогом
													+e.line
														+e.item.h6.A(href="#") Под ипотекой
											+e.box
												+e.label.h6 По количеству комнат
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") 1-комнатную
													+e.line
														+e.item.h6.A(href="#") 2-комнатную
													+e.line
														+e.item.h6.A(href="#") 3-комнатную
													+e.line
														+e.item.h6.A(href="#") 4-комнатную
							+e.content-item.services-tab__.flex
								+e.mobile
									.header__parts-backward.small.js-service-backward
										svg.icon.icon-next(viewBox='0 0 10 14')
											use(xlink:href='/app/icons/sprite.svg#next')
										| Услуги
									.header__parts-title.h4 Сделки с недвижимостью
								+e.row.flex
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Подготовка документов
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Сделки с недвижимостью
												.header__parts-title.h4 Подготовка документов
											+e.box
												+e.label.h6 Виды документов
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Получение справок и выписок
													+e.line
														+e.item.h6.A(href="#") Оформление наследства
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Сопровождение
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Сделки с недвижимостью
												.header__parts-title.h4 Сопровождение
											+e.box
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Приватизация недвижимости
													+e.line
														+e.item.h6.A(href="#") Сопровождение сделки
									+e.cell
										+e.title.h6.js-mobile-open-inside
											| Купить квартиру в ипотеку
											+icon('next', '0 0 10 14')
										+e.content
											+e.content-mobile
												.header__parts-backward.small.js-mobile-close-inside
													svg.icon.icon-next(viewBox='0 0 10 14')
														use(xlink:href='/app/icons/sprite.svg#next')
													| Сделки с недвижимостью
												.header__parts-title.h4 Купить квартиру в ипотеку
											+e.box
												+e.label.h6 В новостройке
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Классическая ипотека на новостройку
													+e.line
														+e.item.h6.A(href="#") Ипотека по 2-м документам на новостройку
													+e.line
														+e.item.h6.A(href="#") Ипотека на новостройку под залог недвижимости
											+e.box
												+e.label.h6 На вторичном рынке
												+e.list.list__
													+e.line
														+e.item.h6.A(href="#") Классическая ипотека на вторичном рынке
													+e.line
														+e.item.h6.A(href="#") Ипотека по 2-м документам на вторичном рынке
													+e.line
														+e.item.h6.A(href="#") Ипотека на вторичном рынке под залог недвижимости
			+e.panel-item._clients.clients-nav__#clients-panel
				+e.wrap.wrap
					+e.inside.flex._justify
						+e.cell._left
							+e.sub.h5.A(href="#")
								| Клиенты МБК о нас
							+e.list.flex
								+e.list-item.A(href='#')
									+e.IMG.list-img.object-fit(src="/img/clients_1.jpg")
								+e.list-item.A(href='#')
									+e.IMG.list-img.object-fit(src="/img/clients_2.jpg")
								+e.list-item.A(href='#')
									+e.IMG.list-img.object-fit(src="/img/clients_3.jpg")
								+e.list-item.A(href='#')
									+e.IMG.list-img.object-fit(src="/img/clients_4.jpg")
								+e.list-item.A(href='#')
									+e.IMG.list-img.object-fit(src="/img/clients_5.jpg")
							+e.row.flex._justify._vertical
								+e.text.h6
									| Более 250 отзывов
								+e.link.link__.h6.A(href="#")
									| Перейти в отзывы
									+e.SPAN.arrow.arrow
										+e.SVG(viewBox="0 0 18.560659 9.6213207")
											path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
											path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
						+e.cell._right._bg
							+e.sub.h5.A(href="#")
								| Ответы на вопросы online
							+e.messengers.messenger__.flex._vertical
								+e.item.A(href='#')
									+icon('WhatsApp', '0 0 24 24')
								+e.item._viber.A(href='#')
									+icon('viber', '0 0 25 25')
								+e.item.A(href='#')
									+icon('telegram', '0 0 24 21')
							+e.bottom
								+e.link.link__.h6.A(href="#")
									| Задать вопрос специалисту
									+e.SPAN.arrow.arrow
										+e.SVG(viewBox="0 0 18.560659 9.6213207")
											path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
											path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
							+e.bg.IMG(src="/app/img/clients-nav.svg")
			+e.panel-item._noscope.db-nav__#db-panel
				+e.wrap.wrap
					+e.row.flex._start
						+e.cell._left
							ul.header__list
								li.header__list-item
									a.header__list-link.h5(href="#") Советы эксперта
								li.header__list-item
									a.header__list-link.h5(href="#") Пошаговые руководства
						+e.cell._center
							ul.header__list
								li.header__list-item
									a.header__list-link.h5(href="#") Вебинары
								li.header__list-item
									a.header__list-link.h5(href="#") Важные новости рынка
						+e.cell._right
							+e.IMG(src="/app/img/db-nav.svg")
			+e.panel-item._contacts.contacts-nav__#contacts-panel
				+e.wrap.wrap
					+e.row.flex._justify
						+e.cell._left
							+e.text.h6.strong
								| Как оставить заявку
							+e.text.h6
								| Вы можете оставить заявку через наш сайт в любое время или обратиться к нам по телефону +7 (495) 99-888-96 с 9:00 до 19:00 по МСК в рабочие дни.
							+e.text.h6
								| В остальное время Вы можете заполнить заявку у нас на сайте или написать на эл. почту: 
								a(href="mailto:info@mbk.ru") info@mbk.ru
							+e.link.link__.h6.A(href="#")
								| Связаться с нами
								+e.SPAN.arrow.arrow
									+e.SVG(viewBox="0 0 18.560659 9.6213207")
										path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
										path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
						+e.cell._center
							+e.text.h6
								span.strong Москва, ул. Забелина, д. 1а 
								br
								| (в минуте ходьбы от
								img(src="/app/img/mm.svg" class="mm")
								| Китай-город)
							+e.text.h6
								+e.work-time.strong.SPAN Пн-Пт 10:00–19:00, Сб-Вс – выходные
								br
								| По предварительной договоренности возможна встреча с нашим представителем и в&nbsp;другое время.
							+e.text.h6
								span.strong +7 495 133 49 67
								br
								a(href="mailto:info@mbk.ru") info@mbk.ru
						+e.cell._right
							+e.map
								+e.IMG(src='/img/map.jpg')
							+e.play.red-play__.h6.is-regular
								+e.circle
								| Посмотреть видео, как к нам пройти