+b.SECTION.header-arrow._dark._auto
  +e.wrap.wrap
    +breadcrumbs('Главная', 'Услуги', 'Получить деньги')
    +e.box
      +e.H2.title.h2
        |Новости
        br
        |финансового рынка
      +e.P.desc.h5 Ежедневно формируем подборку свежих новостей в сфере кредитования и недвижимости
  +e.bottom
    +e.wrap.wrap
      +e.bottom-row
        +e.down.scroll-down__.A(href="#news-page")
          +e.inside
            +e.center
              +icon('arrow')