+e.steps.info-steps__
	+e.row.flex._justify
		+e.cell
			+e.icon
				+icon("info-steps_1", "0 0 48 48")
			+e.text.h6
				| Заполните 
				br
				+e.link.a.A(href='#') онлайн-заявку
		+e.next
			+icon('light-next', '0 0 12.121 21.414')
			+icon('down-arrow', '0 0 6.3057 11.139')
		+e.cell
			+e.icon
				+icon("info-steps_2", "0 0 48 48")
			+e.text.h6
				| Получите
				br
				| предварительное
				br
				| решение за 3 минуты
		+e.next
			+icon('light-next', '0 0 12.121 21.414')
			+icon('down-arrow', '0 0 6.3057 11.139')
		+e.cell
			+e.icon
				+icon("info-steps_3", "0 0 48 48")
			+e.text.h6
				| Выберите условия
				br
				| и получите деньги
