+b.SECTION(class="master_white master_"+additionalClass)
	+e.wrap.wrap
		+e.tree
			+e.IMG(src="/img/tree.jpg")
		+e.man
			+e.IMG.man-img.object-fit(src="/img/man.png")
		+e.row.flex._justify._bottom
			+e.about#master-about
				+e.inner.js-move-item(data-point="580" data-from="#master-about" data-to="#master-mobile")
					+e.open.open
					+e.info
						+e.name.h4
							| Алексей
							| Астафьев
						+e.who.h6
							| Финансовый аналитик МБК
			+e.cell
				+e.title.h2.H2
					| Посмотрите
					span.stroke бесплатный
					|  мастер
					| класс
				+e.box
					+e.box-inner
						+e.box-text.h5
							| «3 способа, как списать долги и снизить стоимость платежей по кредиту»
						+e.mobile#master-mobile
						+e.box-button.btn.h6.A(href='#')
							+e.SPAN.circle
							+e.text Записаться на мастер класс
