+b.SECTION.master
	+e.wrap.wrap
		+e.man
			+e.IMG.main-img.object-fit(src="/img/man.png")
		+e.cell
			+e.title.h2.H2
				| Посмотрите
				span.stroke бесплатный
				| мастер 
				| класс
			+e.box
				+e.box-inner
					+e.box-text.h5
						| «3 способа, как списать долги и снизить стоимость платежей по кредиту»
					+e.box-button.btn.h6.A(href='#')
						+e.text Записаться на мастер класс