+b.SECTION.news-aside
	+e.title.h4 Разделы
	+e.list
		+e.link._active.h5.A(href="#")
			|Свежие новости
		+e.link.h5.A(href="#")
			|Подписка на рассылки
	+b.SECTION.other-articles
		+e.item
			+e.link.A(href="#")
				+e.bg.object-fit.IMG(src="/img/doc_3.jpg")