+b.SECTION.article-item._gray.js-article
	+e.wrap.wrap
		+breadcrumbs('Главная', 'Услуги', 'Получить деньги')
		+e.content._news.content._big
			+e.row.flex._justify.js-title
				+e.title-link.js-link.A(href="#title")
					span
						|Оглавление
					+icon('burger', '0 0 14 13')
				+e.cell._left
					+e.white
						+e.prev-link.h6.A(href="#")
							|Назад к новостям
						+e.H1
							|WhatsApp может стать источником заражения в период новогодних праздников
						+e.news-date.p.TIME(datetime="2020-01-08")
							|8 января 2020
						+e.title-wrapper
							+e.toggle.js-toggle-title.BUTTON(type="button" aria-title="открыть оглавление")
								+icon('burger', '0 0 14 13')
							+e.close.js-title-close.BUTTON(type="button" aria-title="закрыть оглавление")
								+icon('close', '0 0 18 18')
							+b.article-item__title(id="title")
								h2 Оглавление
								ol
									li
										a(href="#section-1")
											|С какими рисками сталкиваются должники МФО?
									li
										a(href="#section-2")
											|Как не платить микрозаймы законно?
									li
										a(href="#section-3")
											|Перекредитование кредитов с плохой кредитной историей при смене основной работы
									li
										a(href="#section-4")
											|Рекомендации юристов
						h2(id="section-1") С какими рисками сталкиваются должники МФО?
						p
							|МФО может обратить взыскание в судебном порядке, и инициировать работу судебных приставов через получение судебного приказа. Чем это грозит?
						ol
							li
								|Блокировкой банковских счетов и принудительным списанием суммы долга с карты
							li
								|Арестом имущества
							li
								|Взысканием из заработной платы
							li
								|Запретом на выезд за границу РФ
						p
							|МФО может продать долг коллекторам. Вам будут названивать, приходить в «гости», постоянно требовать выплату долга. Могут применяться незаконные меры, которые в случае необходимости можно будет оспорить:
						ul
							li
								|Распространение информации о долге третьим лицам – родственникам, коллегам, друзьям
							li
								|Угрозы расправы
							li
								|Психологическое насилие
							li
								|Порча мелкого имущества: царапины на авто, порча замков, входной двери, битье окон
						p
							|Ну и, конечно же, пени. Согласно последним изменениям законодательства, МФО не может накрутить долг больше чем в 3 раза от выданной суммы. Но отзывы на форумах показывают, что кредиторы применяют обманные схемы: если вы заплатили хотя бы немного по образовавшемуся долгу, сумма снова будет накручена в 3 раза.
						h2(id="section-2")
							|Как не платить микрозаймы законно?
						p
							|Обратиться в суд. Если МФО накручивает долг в несколько раз за короткий период времени, вы можете обратиться с иском в суд. Также это возможно сделать, если вы нашли другие нарушения в работе компании. Иск позволит списать штрафы и пени, исключить % МФО, и рассчитаться с долгом через ФССП, по % ключевой ставки ЦБ (7,25% годовых).
						p
							|Дождаться истечения срока давности. Если вы не можете платить, вы можете сменить место проживания, контактные данные и спокойно дождаться истечение 3-х лет с момента взятия кредита. Правда, кредитная история будет испорчена.
						p
							|Обратиться в суд за признанием банкротством физического лица. Это законный способ избавления от долгов по кредитам, к которому чаще прибегают жители крупных городов – Москвы, Екатеринбурга и других мегаполисов. Тем не менее, списание долгов через суд доступно для всех жителей РФ. Достаточно просто обратиться в Арбитражный суд по месту проживания, и начать процедуру!
						p
							|Обратиться в суд. Если МФО накручивает долг в несколько раз за короткий период времени, вы можете обратиться с иском в суд. Также это возможно сделать, если вы нашли другие нарушения в работе компании. Иск позволит списать штрафы и пени, исключить % МФО, и рассчитаться с долгом через ФССП, по % ключевой ставки ЦБ (7,25% годовых).
						p
							|Дождаться истечения срока давности. Если вы не можете платить, вы можете сменить место проживания, контактные данные и спокойно дождаться истечение 3-х лет с момента взятия кредита. Правда, кредитная история будет испорчена.
						p
							|Обратиться в суд за признанием банкротством физического лица. Это законный способ избавления от долгов по кредитам, к которому чаще прибегают жители крупных городов – Москвы, Екатеринбурга и других мегаполисов. Тем не менее, списание долгов через суд доступно для всех жителей РФ. Достаточно просто обратиться в Арбитражный суд по месту проживания, и начать процедуру!
						+e.news-social.flex._vertical
							+e.social-desc
								+e.nav-item.p Поделиться новостью
							+social-share()
					include ../layouts/news-list
				+e.cell._right
					include ../layouts/news-aside