+b.SECTION.news-list
	+e.item
		+e.link.A(href="#")
			+e.title.h5
				|«Ренессанс Кредит» в рамках платёжной системы Mastercard внедрил Google Pay и Samsung Pay
			+e.date.p.TIME(datetame="2019-12-18")
				|18 декабря 2019
	+e.item
		+e.link.A(href="#")
			+e.title.h5
				|«Небывалое снижение ключевой ставки станет завершающим в этом году
			+e.date.p.TIME(datetame="2019-12-11")
				|11 декабря 2019
	+e.item
		+e.link.A(href="#")
			+e.title.h5
				|Совместная программа лояльности ​MasterСard и банка «Зенит» позволит сократить бизнес-расходы
			+e.date.p.TIME(datetame="2019-12-04")
				|4 декабря 2019
	+e.item
		+e.link.A(href="#")
			+e.title.h5
				|Герман Греф расценивает институциональные реформы в качестве приоритетных
			+e.date.p.TIME(datetame="2019-11-27")
				|27 ноября 2019