+b.SECTION.news-aside
	+e.title.h4 Разделы
	+e.list
		+e.link._active.h5.A(href="#" data-toggle="news-tab" data-target="#article")
			| Свежие новости
		+e.link.h5.A(href="#" data-toggle="news-tab" data-target="#subscribe")
			| Подписка на рассылки
	+b.SECTION.other-articles
		+e.item
			+e.link.A(href="#")
				+e.bg.object-fit.IMG(src="/img/doc_3.jpg")