+b.SECTION.offer
	+e.wrap.wrap
		+e.box
			+e.title.h2.H2
				| Кредитованиние 
				+b.stroke рефинансирование 
				| продажа недвижимости в Москве
			+e.button.btn.h6.A(href='#')
				| Узнать подробнее