+b.SECTION.other-articles
	+e.item
		+e.link.A(href="#")
			+e.bg.object-fit.IMG(src="/img/other-article-1.jpg")
			+e.item-head.flex._justify
				+e.article-logo.IMG(src="/app/img/logo-article.svg")
				+e.contacts
					+e.tel +7 499 346 37 18
					+e.desc Горячая линия
			+e.item-text
				h3
					|Нет кредитной истории
				p
					|Где взять кредит с нулевой историей?
				p
					|Почему в крупные банки обращаться бесполезно?
	+e.item
		+e.link.A(href="#")
			+e.bg.object-fit.IMG(src="/img/other-article-2.jpg")
			+e.item-head.flex._justify
				+e.article-logo.IMG(src="/app/img/logo-article.svg")
				+e.contacts
					+e.tel +7 499 346 37 18
					+e.desc Горячая линия
			+e.item-text
				h3
					|Как продать квартиру дороже на 20%
				p
					|Пошаговая инструкция