+b.SECTION.head-preview
	+e.inner
		+e.bg
			+e.IMG.bg-img.object-fit(src="/img/head-preview_1.jpg")
		+e.wrap.wrap
			+breadcrumbs('Главная', 'Услуги', 'Получить деньги')
			+e.box
				+e.title.h2.H2
					| Кредит под залог без справок
				+button(true)(href="#form") Оформить онлайн
			+e.bottom.flex._vertical
				+e.bottom-item.h6
					+icon('heart', '0 0 14 13')
					| 5623
				+e.bottom-item.h6
					| Сегодня оформили: 322 человек 