+b.SECTION.portfolio
	+e.wrap.wrap
		+e.title.title
			| Наш подход к делу отражён 
			| в примерах работы
		+e.row.flex._justify
			+e.cell._left
				+e.help._left.p Работа до (скетч/рисунок)
				+e.help._right.p Работа после (визуализация дизайна)
				+e.slider
					+e.slider-list
						+e.slider-item.active
							+e.preview
								+b.ba.js-animation-play
									+e.IMG.image(src='/img/sell-after.jpg', alt='')
									+e.resize
										+e.IMG.image(src='/img/sell-before.jpg', alt='')
									+e.handle
										+e.inner
											+e.arrow
						+e.slider-item
							+e.preview
								+b.ba
									+e.IMG.image(src='/img/portfolio_3.jpg', alt='')
									+e.resize
										+e.IMG.image(src='/img/portfolio_3_before.jpg', alt='')
									+e.handle
										+e.inner
											+e.arrow
					+e.circle._slider
		
