+b.SECTION.questions-header
	+e.wrap.wrap
		+breadcrumbs('Главная', 'Услуги', 'Получить деньги')
		+e.title.h2 Отвечаем на вопросы
		+e.form.form.FORM
			+e.form-tags.flex._start
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" name="type" value='Долги')
					+e.text.SPAN Долги
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" checked="" name="type" value='Ипотека')
					+e.text.SPAN Ипотека
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" name="type" value='Коллекторы')
					+e.text.SPAN Коллекторы
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" name="type" value='Юридические тонкости')
					+e.text.SPAN Юридические тонкости
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" name="type" value='Инвестиции')
					+e.text.SPAN Инвестиции
				+e.tag.tag__._dark-active.LABEL
					+e.input.INPUT(type="checkbox" name="type" value='Рефинансирование')
					+e.text.SPAN Рефинансирование
