+b.SECTION.receive-gift.white
    +e.wrap.wrap
        +e.content-wrap
            +e.H2.title.h3
                | Для получения
                +e.BR.title-break
                |подарка необходимо:

            +e.UL.steps
                +e.LI.step
                    +e.step-icon-wrap
                        +e.SPAN.step-number 1
                        +icon('prizeStep', '0 0 60 62')
                    +e.step-text.p Дождитесь звонка персонального менеджера

                +e.LI.step
                    +e.step-icon-wrap
                        +e.SPAN.step-number 2
                        +icon('prizeStep', '0 0 60 62')
                    +e.step-text.p
                        | Обозначьте
                        +e.BR.step-break
                        | удобное время для встречи 
                        +e.BR.step-break
                        |у нас в офисе

                +e.LI.step
                    +e.step-icon-wrap
                        +e.SPAN.step-number 3
                        +icon('prizeStep', '0 0 60 62')
                    +e.step-text.p Подтвердите
                        +e.BR.step-break
                        | встречу за час

                +e.LI.step
                    +e.step-icon-wrap
                        +e.SPAN.step-number 4
                        +icon('prizeStep', '0 0 60 62')
                    +e.step-text.p Приезжайте
                        +e.BR.step-break
                        | и получайте
                        +e.BR.step-break
                        | подарок

            +e.question-tel
                +e.P.question-slogan.h6.is-regular
                    | Не перезвонил менеджер?
                    +e.BR.question-break
                    | Уточните свой вопрос по телефону:
                +e.A.question-phone.h3(href="tel:+74951334967") +7 (495) 133-49-67

        +e.manager-image-wrap
            +e.IMG.manager-img(src="/img/we-know-woman.png")
                +e.maneger-inscription.specialist-inscription__
                    +e.specialist-name.A(href="#") Алексеева Марина
                        +e.icon-specialist.arrow
                            +e.SVG(viewBox="0 0 18.560659 9.6213207")
                                path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
                                path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
                    +e.specialist-status.SPAN Ваш персональный менеджер

            +e.background-round
