+b.SECTION.reviews
	+e.mobile-bg.IMG(src="/img/tree2.png")
	+e.wrap.wrap
		+e.top-wrap
			+e.title.h3.H2 Клиенты МБК и их история
			+e.DIV.nav-arrows

		+e.slider.owl-carousel(data-action="/reviews.json")
			+e.row.flex._vertical#review-0
				+e.cell._video
					+e.video.video__.js-modal(data-modal="#video" data-youtube="suTYbf-FtXg")
						+e.IMG.preview.object-fit(src="/img/video.jpg")
						+e.play
				+e.cell._content
					+e.top
						+e.name.h4
							span Герасим Борисов
						+e.who.h6
							span Клиент МБК, 46 лет
					+e.text.h6
						| Обратилась в компанию МБК совершенно случайно. Купила квартиру в новостройке и получилось так, что денег на ремонт не было достаточно.
						br
						br
						| Брать кредит в банке не было возможности, так как в недавнем времени поменяла работу и не хватало стажа (менее 3 месяцев), к тому же большая финансовая нагрузка.
					+e.nav.flex._vertical
						+e.button.btn__.h6.A(href='#')
							+e.SPAN.circle
							+e.SPAN.text Читать полностью
						+e.apply.red-link.h6.A(href="#")
							| Обратиться в мбк
			+e.row.flex._vertical#review-1
				+e.cell._video
					+e.video.video__.js-modal(data-modal="#video" data-youtube="suTYbf-FtXg")
						+e.IMG.preview.object-fit(src="/img/video.jpg")
						+e.play
				+e.cell._content
					+e.top
						+e.name.h4
							span Вера Зорькина
						+e.who.h6
							span Клиент МБК, 46 лет
					+e.text.h6
						| Обратилась в компанию МБК совершенно случайно. Купила квартиру в новостройке и получилось так, что денег на ремонт не было достаточно.
						br
						br
						| Брать кредит в банке не было возможности, так как в недавнем времени поменяла работу и не хватало стажа (менее 3 месяцев), к тому же большая финансовая нагрузка.
					+e.nav.flex._vertical
						+e.button.btn__.h6.A(href='#')
							+e.SPAN.circle
							+e.SPAN.text Читать полностью
						+e.apply.red-link.h6.A(href="#")
							| Обратиться в мбк
			+e.row.flex._vertical#review-2
				+e.cell._video
					+e.video.video__.js-modal(data-modal="#video" data-youtube="suTYbf-FtXg")
						+e.IMG.preview.object-fit(src="/img/video.jpg")
						+e.play
				+e.cell._content
					+e.top
						+e.name.h4
							span Ольга Цветочная
						+e.who.h6
							span Клиент МБК, 46 лет
					+e.text.h6
						| Обратилась в компанию МБК совершенно случайно. Купила квартиру в новостройке и получилось так, что денег на ремонт не было достаточно.
						br
						br
						| Брать кредит в банке не было возможности, так как в недавнем времени поменяла работу и не хватало стажа (менее 3 месяцев), к тому же большая финансовая нагрузка.
					+e.nav.flex._vertical
						+e.button.btn__.h6.A(href='#')
							+e.SPAN.circle
							+e.SPAN.text Читать полностью
						+e.apply.red-link.h6.A(href="#")
							| Обратиться в мбк
		+e.counter
			+e.SPAN.conter-current 1
			|  /
			+e.SPAN.counter-total &#32;n
		+e.list.flex
			+e.item._active(data-review="#review-0")
				+e.item-bg.object-fit.IMG(src='/img/review-1.jpg')
				+e.item-inner
					+e.item-content
						+e.item-name.h6
							span Герасим
							span Борисов
						+e.item-status.h6
							| Клиент МБК
			+e.item(data-review="#review-1")
				+e.item-bg.object-fit.IMG(src='/img/review-1.jpg')
				+e.item-inner
					+e.item-content
						+e.item-name.h6
							span Вера
							span Зорькина
						+e.item-status.h6
							| Клиент МБК
			+e.item(data-review="#review-2")
				+e.item-bg.object-fit.IMG(src='/img/review-1.jpg')
				+e.item-inner
					+e.item-content
						+e.item-name.h6
							span Ольга
							span Цветочная
						+e.item-status.h6
							| Клиент МБК
			+e.item(data-review="#review-3")
				+e.item-bg.object-fit.IMG(src='/img/review-1.jpg')
				+e.item-inner
					+e.item-content
						+e.item-name.h6
							span Виктория
							span Родко
						+e.item-status.h6
							| Клиент МБК
		+e.bottom
			+e.A.link.h6.red-link._arrow(href="#")
				| Больше отзывов
