+b.SECTION.reviews
	+e.wrap.wrap
		+e.title.h3.H2 Клиенты МБК и их история
		+e.row.flex._vertical
			+e.cell._video
				+b.video
					+e.IMG.preview.object-fit(src="/img/video.jpg")
			+e.cell._content
				+e.name.h4 Вера Зорькина
				+e.who.h6 Клиент МБК, 46 лет
				+e.text.h6
					| Обратилась в компанию МБК совершенно случайно. Купила квартиру в новостройке и получилось так, что денег на ремонт не было достаточно.
					br
					br
					| Брать кредит в банке не было возможности, так как в недавнем времени поменяла работу и не хватало стажа (менее 3 месяцев), к тому же большая финансовая нагрузка.
				+e.nav.flex._vertical
					+e.button.btn.h6.A(href='#')
						| Читать полностью
					+b.red-link.h6.A(href="#")
						| Обратиться в мбк