+b.SECTION.sales-model
    +e.wrap.wrap
        +e.container-data
            +e.title.h3
                | Получите индивидуальную модель продаж Вашей квартиры
            +e.FORM.form.form__(action="/")
                +e.INPUT(type="hidden" name="method[subscribe]" value='1')
                +e.name.input__._normal
                    +e.INPUT.item(type="text" placeholder="Имя" name="name")
                +e.phone.input__._normal
                    +e.INPUT.item(type="tel" placeholder="Телефон" name="phone")
                +e.button.btn.h6.sales-model__submit.BUTTON
                    +e.text Получи модель продаж
                +e.LABEL.access.access.checkbox__
                    +e.INPUT.input(type='checkbox' name='access' checked="")
                    +e.SPAN.text
                        +e.check
                            +icon('check', '0 0 9 7')
                        | Я согласен с условиями
                        <br>
                        | передачи данных
        +e.container-img
            +e.IMG.img(src="/img/journal.png")
            +e.P.region
                | Принимаем заявки из Москвы и Московской обл.