+b.SECTION.sb-confirm
	+e.inner
		+e.wrap.wrap
			+e.content.content._big
				+e.top
					h4 Пожалуйста, подтвердите подписку!
					.h5.is-regular
						| Чтобы получить запрашиваемый материал, зайдите на указанный E-Mail и найдите письмо от МБК.

				+e.mails.cf-mail__
					+e.row.flex
						+e.A.item(href="#")
							+e.DIV.inner
								+e.DIV.preview
									+e.IMG(src="/img/sb_mail_1.png")
								+e.arrow
									svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 18.561 9.621')
										path(d='M14.5 4.81v-3l3 3-3 3z', fill='#ff0400' class="fill")
										path(d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3z' stroke-width='1.5' class="stroke" )
										path(class="fill" fill='#ff0400', fill-opacity='1', stroke-width='1.004', d='M.007 4.151h13.79v1.542H.007z')
						+e.A.item(href="#")
							+e.DIV.inner
								+e.DIV.preview
									+e.IMG(src="/img/sb_mail_2.png")
								+e.arrow
									svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 18.561 9.621')
										path(d='M14.5 4.81v-3l3 3-3 3z', fill='#ff0400' class="fill")
										path(d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3z' stroke-width='1.5' class="stroke" )
										path(class="fill" fill='#ff0400', fill-opacity='1', stroke-width='1.004', d='M.007 4.151h13.79v1.542H.007z')
						+e.A.item(href="#")
							+e.DIV.inner
								+e.DIV.preview
									+e.IMG(src="/img/sb_mail_3.png")
								+e.arrow
									svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 18.561 9.621')
										path(d='M14.5 4.81v-3l3 3-3 3z', fill='#ff0400' class="fill")
										path(d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3z' stroke-width='1.5' class="stroke" )
										path(class="fill" fill='#ff0400', fill-opacity='1', stroke-width='1.004', d='M.007 4.151h13.79v1.542H.007z')
						+e.A.item(href="#")
							+e.DIV.inner
								+e.DIV.preview
									+e.IMG(src="/img/sb_mail_4.png")
								+e.arrow
									svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 18.561 9.621')
										path(d='M14.5 4.81v-3l3 3-3 3z', fill='#ff0400' class="fill")
										path(d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3z' stroke-width='1.5' class="stroke" )
										path(class="fill" fill='#ff0400', fill-opacity='1', stroke-width='1.004', d='M.007 4.151h13.79v1.542H.007z')
				p
					| Если не видите письма, то проверьте папку «Спам».
					br
					| Сразу после подтверждения Вы получите письмо с полезным материалом.