+b.sell-popup
    +e.wrap_top
        +e.container
            +e.h2.H2 Найдено 206 потенциальных покупателей
            +e.description.P Это количество людей в нашей системе, которые прямо сейчас ищут похожую квартиру в вашем районе.

            +e.bottom-wrap
                +e.apartment-data
                    +e.data-wrap
                        +e.data-top.SPAN Адрес
                        +e.data-bottom.B г. Москва ул. Шаболовка, 10
                    +e.data-wrap
                        +e.data-top.SPAN Комнат
                        +e.data-bottom.B 2 комнаты
                    +e.data-wrap
                        +e.data-top.SPAN Цена
                        +e.data-bottom.B 4 500 000 ₽

                +e.btn.btn.A Связаться с покупателем

    +e.wrap_bottom
        +e.container
            +e.customer-data__.TABLE

