+b.sertificates#sertificates
  +e.wrap.wrap
    +e.box
      +e.H3.title.h3 Сертификаты официального партнерства
      
    +e.UL.list-cert.js-to-slider().js-to-slider--middle
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-1.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-2.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-3.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-4.png")             
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-3.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-4.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-1.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-8.png")  
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-12.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-13.png")       
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-10.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-10.png")       
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-12.png")
    +e.counter
      +e.SPAN.conter-current 1
      |  / 
      +e.SPAN.counter-total n

        		
    +e.box
      +e.H3.title.h3 Благодарственные письма
        
    +e.UL.list-cert.js-to-slider().js-to-slider--middle
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-1.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-2.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-3.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-4.png")             
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-12.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-13.png")       
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-10.png")
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-10.png")       
        +e.LI.item-cert
          +e.container-photo
            +e.IMG.cert-photo(src="/img/sert-12.png")
    +e.counter
      +e.SPAN.conter-current 1
      |  / 
      +e.SPAN.counter-total n
