+b.sertificates#sertificates
  +e.wrap.wrap
    +e.box
      +e.H3.title.h3 Сертификаты официального партнерства

    +e.UL.list-cert.js-to-slider().js-to-slider--middle
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-1@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-1.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-2@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-2.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-3@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-3.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-4@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-4.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-3@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-3.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-4@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-4.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-1@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-1.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-8@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-8.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-12@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-12.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-13@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-13.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-10@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-10.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-10@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-10.jpg")
        +e.LI.item-cert
          +e.A.container-photo(href="/app/img/sert-12@orig.jpg")
            +e.IMG.cert-photo(src="/img/sert-12.jpg")
    +e.counter
      +e.SPAN.conter-current 1
      |  /
      +e.SPAN.counter-total n


    +e.box
      +e.H3.title.h3 Благодарственные письма

    +e.UL.list-cert.js-to-slider().js-to-slider--middle
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-1@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-1.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-2@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-2.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-3@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-3.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-4@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-4.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-12@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-12.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-13@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-13.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-10@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-10.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-10@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-10.jpg")
        +e.LI.item-cert
            +e.A.container-photo(href="/app/img/sert-12@orig.jpg")
                +e.IMG.cert-photo(src="/img/sert-12.jpg")
    +e.counter
      +e.SPAN.conter-current 1
      |  /
      +e.SPAN.counter-total n
