+b.SECTION.service
	+e.wrap.wrap
		+e.title.h2.H2 У нас можно
		+e.row.flex
			+e.item.A(href="#")
				+e.head.flex.DIV
					+e.head-cell._icon.DIV
						+e.IMG.icon(src="/app/img/pig.svg")
					+e.head-cell._name.DIV
						+e.name.h4.DIV
							| Получить
							| деньги
				+e.body.DIV
					+e.list.list__
						+e.item.h6 
							| до 800 000 ₽
						+e.item.h6 
							| до 7 лет
						+e.item.h6 
							| от 19 % в год
					+e.link.link__.h6
						| Подробнее
						+e.SPAN.arrow.arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
			+e.item.A(href="#")
				+e.head.flex.DIV
					+e.head-cell._icon.DIV
						+e.IMG.icon(src="/app/img/pig.svg")
					+e.head-cell._name.DIV
						+e.name.h4.DIV
							| Получить
							| деньги
				+e.body.DIV
					+e.list.list__
						+e.item.h6 
							| до 800 000 ₽
						+e.item.h6 
							| до 7 лет
						+e.item.h6 
							| от 19 % в год
					+e.link.link__.h6
						| Подробнее
						+e.SPAN.arrow.arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
			+e.item.A(href="#")
				+e.head.flex.DIV
					+e.head-cell._icon.DIV
						+e.IMG.icon(src="/app/img/pig.svg")
					+e.head-cell._name.DIV
						+e.name.h4.DIV
							| Получить
							| деньги
				+e.body.DIV
					+e.list.list__
						+e.item.h6 
							| до 800 000 ₽
						+e.item.h6 
							| до 7 лет
						+e.item.h6 
							| от 19 % в год
					+e.link.link__.h6
						| Подробнее
						+e.SPAN.arrow.arrow
							+e.SVG(viewBox="0 0 18.560659 9.6213207")
								path(class="triangle" d='M14.5 4.81v-3l3 3-3 3z')
								path(class="stroke" d='M14.764 4.864l-.193.23-.61-.133.539-.15m0 0v-3l3 3-3 3zM.007 4.151h13.79v1.542H.007z')
