+b.SECTION(class="subscribe_"+additionalClass)
	+e.wrap.wrap
		+e.mobile#mobile-title
		+e.row.flex._justify._bottom
			+e.cell._left
				+e.top#desktop-top
					+e.title.h2.H2.js-move-item(data-to="#mobile-title" data-from="#desktop-top" data-point="580")
						| Подпишись
						| на обновления
						| нашей базы
				+e.sub.h5
					| Хочешь получать свежие материалы нашей базы на свой почтовый ящик?
				+e.text.h6.is-regular
					| Введите свой E-Mail в форму, и как только мы добавим что-то новое, то ты сразу же об этом узнаешь.
				+e.FORM.form.form__(action="/")
					+e.INPUT(type="hidden" name="method[subscribe]" value='1')
					+e.email.input__._big
						+e.field._border
							+e.INPUT.item(type="text" placeholder="Введите ваш E-mail" name="email")
					+e.inline-2.flex._vertical._justify
						+e.button.btn.h6.BUTTON
							+e.text Подписаться
						+e.LABEL.access.access.checkbox__
							+e.INPUT.input(type='checkbox' name='access' checked="")
							+e.SPAN.text
								+e.check
									+icon('check', '0 0 9 7')
								| Я согласен с условиями
								| передачи данных
			+e.cell._right
				+e.book
					+e.IMG.book-img(src="/img/"+subscribeImage)
				+e.box
					+e.box-sub.h5
						+e.box-icon
							+icon('heartNew')
						| Подарок каждому
						br
						| подписчику
					+e.box-text.h6
						+e.box-mobile
						| Подробная инструкция-памятка
						br
						| «Как рефинансировать кредит
						br
						| и сбросить ежемесячный
						br
						| платеж на 70%»
