+b.SECTION.vantages
	+e.wrap.wrap
		+e.row.flex
			+e.cell
				+e.title.h2
					| Преиму&shy;щества кредита
			+e.cell._white.A(href='#')
				+e.DIV.cell-icon
					+icon('vantages_1', '0 0 34 34')
				+e.DIV.cell-inside 
					+link(false)(class="_hidden") Быстрое оформление
					+e.text.h6
						| Быстрое решение в выдаче кредита в день обращения, дает нашим клиентам возможность получить деньги тогда, когда потребность в них действительно остра.
			+e.cell._white.A(href='#')
				+e.DIV.cell-icon
					+icon('vantages_2', '0 0 34 34')
				+e.DIV.cell-inside
					+link(false)(class="_hidden") На любые цели
					+e.text.h6
						| Взяв кредит наличными, Вы сможете потратить полученные деньги на любые личные нужды. Будь то покупка квартиры, ремонт или отпуск!
			+e.cell._white.A(href='#')
				+e.DIV.cell-icon
					+icon('vantages_3', '0 0 34 34')
				+e.DIV.cell-inside
					+link(false)(class="_hidden") Выбор даты платежей
					+e.text.h6
						| Вы самостоятельно выбираете любую удобную  дату для ежемесячного платежа по погашению кредита наличными.
			+e.cell._white.A(href='#')
				+e.DIV.cell-icon
					+icon('vantages_4', '0 0 34 34')
				+e.DIV.cell-inside
					+link(false)(class="_hidden") Без справок и поручителей
					+e.text.h6
						| Оформить кредит наличными на выгодных условиях возможно даже при отсутствии справок о доходах и поручителей.
			+e.cell._white.A(href='#')
				+e.DIV.cell-icon
					+icon('vantages_5', '0 0 34 34')
				+e.DIV.cell-inside
					+link(false)(class="_hidden") Досрочное погашение
					+e.text.h6
						| Решили погасить кредит досрочно? Вы сможете выплатить всю сумма займа даже на следующий день без каких-либо штрафных санкций и дополнительных комиссий.