+b.SECTION.we-know.white
    +e.wrap.wrap
        +e.text-wrap
            +e.title.h2.H2
                | Мы знаем, как найти
                br
                | ещё больше покупателей

            +e.actions.know-actions__.UL
                +e.item._create-ad.LI
                    +e.action.B
                        | Создаем 
                        br
                        | продающее объявление
                    +e.description.SPAN Используем технологии копирайтинга,  от которых клиент начнет облизываться
                +e.item._preparation.LI
                    +e.action.B
                        |Делаем 
                        br
                        |предпродажную подготовку
                    +e.description.SPAN Профессионально отфотографируем  Вашу квартиру в нужных ракурсах
                +e.item._learns-lot.LI
                    +e.action.B
                        |О Вашей квартире
                        br
                        |узнают в 10 раз больше людей
                    +e.description.SPAN Используем 1000 рекламных площадок и дополнительную рекламу на них

        +e.image-wrapper
            +e.IMG.img(src="/img/we-know-woman.png")
            +e.inscription
                +e.specialist-name.B Юлия Верховцева
                +e.specialist-status.SPAN Главный специалист по продаже недвижимости
