+b.SECTION.we-know.white.is-without-container
    +e.wrap.wrap
        +e.text-wrap
            +e.title.h2.H2
                | Мы знаем, как найти&nbsp;
                +e.br.BR
                | ещё больше покупателей

            +e.actions.know-actions__.UL
                +e.item._create-ad.LI
                    +e.action.B
                        | Создаем&nbsp;
                        +e.br.BR
                        | продающее объявление
                        +e.icon-wrap
                            +icon('we-know-pencil', '0 0 31 31')
                    +e.description.SPAN Используем технологии копирайтинга, от которых клиент начнет облизываться
                +e.item._preparation.LI
                    +e.action.B
                        |Делаем&nbsp;
                        +e.br.BR
                        |предпродажную подготовку
                        +e.icon-wrap
                            +icon('we-know-camera', '0 0 34 34')
                    +e.description.SPAN Профессионально отфотографируем Вашу квартиру в нужных ракурсах
                +e.item._learns-lot.LI
                    +e.action.B
                        |О Вашей квартире&nbsp;
                        +e.br.BR
                        |узнают в 10 раз больше людей
                        +e.icon-wrap
                            +icon('we-know-bell', '0 0 34 34')
                    +e.description.SPAN Используем 1000 рекламных площадок и дополнительную рекламу на них

        +e.image-wrapper
            picture
                source(type="image/webp"
                    media="(max-width: 768px)"
                    srcset="/app/img/we-know-woman@mobile.webp")
                source(media="(max-width: 768px)"
                    srcset="/app/img/we-know-woman@mobile.png")
                source(type="image/webp" srcset="/app/img/we-know-woman.webp")
                IMG.we-know__img(src="/img/we-know-woman.png")
            +e.inscription
                +e.specialist-name.B Юлия Верховцева
                +e.specialist-status.SPAN Главный специалист по продаже недвижимости
