+b.SECTION.we-sell
    +e.top.wrap
        +e.title.h2.H2 Вот, что будет если мы возьмемся за продажу Вашей квартиры

    +e.work-example.wrap
        +e.comment-opener._first(tabindex="0")
            +e.comment Тестовый комментарий 1
        +e.comment-opener._second(tabindex="0")
            +e.comment Уберем лишние вещидля правильных ракурсов
        +e.comment-opener._third(tabindex="0")
            +e.comment Тестовый комментарий 2

        +e.row.flex._justify
            +e.cell._left
                +e.help._left.p До
                +e.help._right.p После
                +e.slider
                    +e.slider-list
                        +e.slider-item.active
                            +e.preview
                                +b.ba.js-animation-play
                                    +e.IMG.image(src='/img/sell-after.jpg', alt='')
                                    +e.resize
                                        +e.IMG.image.we-sell__resize-image(src='/img/sell-before.jpg', alt='')
                                    +e.handle.we-sell__handle
                                        +e.inner.we-sell__inner
                                            +e.arrow
                        +e.slider-item
                            +e.preview
                                +b.ba
                                    +e.IMG.image(src='/img/portfolio_3.jpg', alt='')
                                    +e.resize
                                        +e.IMG.image(src='/img/portfolio_3_before.jpg', alt='')
                    +e.circle._slider

    include we-sell-before-after
