+e.wrap.wrap.we-sell-before-after__
    +e.phones-wrap
        +e.phone-wrap._before
            +e.image-wrap
                +e.IMG.img(src="/img/we-sell-before.png")
            +e.text.B Объявление «До»
                +e.icon-wrap.icon-before
                    +icon('we-sell-no-success', '0 0 23 17')
        +e.phone-wrap._after
            +e.image-wrap
                +e.IMG.img(src="/img/we-sell-after.png")
            +e.text.B Объявление «После»
                +e.icon-wrap.icon-after
                    +icon('we-sell-success', '0 0 27 27')
        +e.arrow-wrap
            +icon('thick-arrow', '0 0 38 25')
