+e.wrap.wrap.we-sell-before-after__
    +e.phones-wrap
        +e.phone-wrap._before
            +e.image-wrap
                +e.IMG.img(src="/img/we-sell-before.png")
            +e.text.B Объявление «До»
        +e.phone-wrap._after
            +e.image-wrap
                +e.IMG.img(src="/img/we-sell-after.png")
            +e.text.B Объявление «После»
