+b.SECTION.who
	+e.wrap.wrap
		+e.title.h3.H2 Кто мы?
		+e.tabs.tabs__
			+e.content
				+e.content-item.why-tab__.flex
					+e.cell._left
						+e.sub.h5
							| 45 специалистов в штате
						+e.text.h6.is-regular
							| МБК – это профессиональный коллектив
							| Огромный опыт нашего персонала позволяет быстро находить выход из любой ситуации применяя уже отлаженные механизмы решений и успешные прецеденты. При любой комбинации обстоятельств и доступных документов, мы сможем предоставить четкий пошаговый алгоритм решения ваших финансовых вопросов.
					+e.cell._right
						+e.IMG(src="/img/team.jpg")
			+e.nav
				+e.nav-item.h5.is-active
					| 45 специалистов
					br
					| в штате
				+e.nav-item.h5
					| Мы работаем в сфере 
					br
					| финансов с 2008 года
				+e.nav-item.h5
					| Выдали более 
					br
					| 10 000 кредитов