+b.SECTION.who
	+e.tabs.tabs__._bottom
		+e.content
			+e.content-list.js-to-slider(data-dots="1")
				+e.content-item.why-tab__.is-active
					+e.back.object-fit.IMG(src="/img/team_new.jpg")
					+e.wrap.wrap
						+e.row.flex
							+e.cell
								+e.title.h3.H2 Кто мы?
								+e.back._mobile
									+e.image-mobile.object-fit.IMG(src="/img/team_mobile.jpg")
								+e.sub.h5
									| 45 специалистов в штате
								+e.text.h6.is-regular
									| МБК – это профессиональный коллектив
									| Огромный опыт нашего персонала позволяет быстро находить выход из любой ситуации применяя уже отлаженные механизмы решений и успешные прецеденты. При любой комбинации обстоятельств и доступных документов, мы сможем предоставить четкий пошаговый алгоритм решения ваших финансовых вопросов.
				+e.content-item.why-tab__
					+e.back.object-fit.IMG(src="/img/team_new.jpg")
					+e.wrap.wrap
						+e.row.flex
							+e.cell
								+e.title.h3.H2 Кто мы?
								+e.back._mobile
									+e.image-mobile.object-fit.IMG(src="/img/team_mobile.jpg")
								+e.sub.h5
									| 2 специалистов в штате
								+e.text.h6.is-regular
									| МБК – это профессиональный коллектив
									| Огромный опыт нашего персонала позволяет быстро находить выход из любой ситуации применяя уже отлаженные механизмы решений и успешные прецеденты. При любой комбинации обстоятельств и доступных документов, мы сможем предоставить четкий пошаговый алгоритм решения ваших финансовых вопросов.
				+e.content-item.why-tab__
					+e.back.object-fit.IMG(src="/img/team_new.jpg")
					+e.wrap.wrap
						+e.row.flex
							+e.cell
								+e.title.h3.H2 Кто мы?
								+e.back._mobile
									+e.image-mobile.object-fit.IMG(src="/img/team_mobile.jpg")
								+e.sub.h5
									| 3 специалистов в штате
								+e.text.h6.is-regular
									| МБК – это профессиональный коллектив
									| Огромный опыт нашего персонала позволяет быстро находить выход из любой ситуации применяя уже отлаженные механизмы решений и успешные прецеденты. При любой комбинации обстоятельств и доступных документов, мы сможем предоставить четкий пошаговый алгоритм решения ваших финансовых вопросов.
		+e.wrap.wrap
			+e.nav
				+e.nav-item.h5.is-active.js-tab-nav
					| 45 специалистов
					br
					| в штате
				+e.nav-item.h5.js-tab-nav
					| Мы работаем в сфере 
					br
					| финансов с 2008 года
				+e.nav-item.h5.js-tab-nav
					| Выдали более 
					br
					| 10 000 кредитов