.bar{
	height: 3px;
	background: #CCCCCC;
	margin-bottom: 1.3rem;
	position: relative;
	
	&__done{
		position: absolute;
		left: 0;
		top: 0;
		width: 0%;
		height: 100%;
		background-color: $red;
		transition: ease .3s;
	}
}