.btn{
	padding: 0 3.8rem;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 6.4rem;
	background: $red;
	color: #fff;
	font-family: 'Geometria';
	font-weight: 500;
	border-radius: 5px;
}