.btn{
	padding: 0 3.8rem;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 6.4rem;
	background: $red;
	color: #fff;
	font-family: 'Geometria';
	font-weight: 500;
	border-radius: 5px;

	@include max-screen($large_mobile) {
		height: 5rem;
	}

	&_border{
		background-color: transparent;
		border: 1px solid $red;
		color: $red;
	}

	&__icon{

		// margin-left: 12px;

		&_arrow{
			// width: 10px;
			transform: rotate(90deg);	

			svg{
				width: 11px;
				max-width: none;				
			}			

			.triangle{
				stroke: $red;
			}

			.stroke{
				fill: $red;
				// stroke: none;
			}		
		}
	}
}