.icon-button {
	background: #f3f3f3;
	border-radius: 5px;
	position: relative;
	padding-top: 9.4rem;
	padding-bottom: 1.6rem;
	padding-left: 2.5rem;
	padding-right: 2.3rem;
	display: block;
	transition: ease .5s;

	&__icon {
		position: absolute;
		width: 9rem;
		height: 9rem;
		left: 4rem;
		margin-top: -4.5rem;
		top: 0;
		border-radius: 50%;
		background-color: #fff;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 3.4rem;
			display: block;
			fill: transparent;
			stroke: #0e0e0e;
			stroke-width: 2;
			transition: ease 0.5s;
		}
	}

	&__arrow {
		position: absolute;
		right: 1.3rem;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 5px;
		fill: $dark;
		overflow: hidden;
		height: 100%;
		transition: ease 0.3s;

		svg {
			width: 18px;
			flex: 0 0 auto;
			// position: absolute;
			// right: 0;
			// top: 0;
			// display: block;
			// position: relative;
			// margin-left: auto;
			max-width: none;
		}
	}

	&__text {
		position: relative;
		// display: flex;
		display: block;
		padding-right: 22px;
	}

	&__link {
		display: flex !important;
	}

	&:hover {
		background-color: $red;
		color: #fff;

		.icon-button {
			&__arrow {
				right: 0;
				fill: #fff;
				width: 18px;
			}
			&__icon {
				svg {
					stroke: $red;
				}
			}
		}
	}

	@include max-screen($large_mobile) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 1.8rem;
		padding-right: 3rem;

		.icon-button {
			&__arrow {
				display: none;
			}
			&__icon {
				right: 0;
				top: 50%;
				left: auto;
				margin-right: 2rem;
				background: transparent;
				margin-top: -0.9rem;
				border-radius: 0;
				width: 1.8rem;
				height: 1.8rem;

				svg {
					stroke-width: 3px;
				}
			}
		}
	}
}
