.list{
	&__item{
		padding-left: 2.5rem;
		position: relative;
		line-height: 3.2rem;
		font-weight: 400;

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			width: 5px;
			height: 5px;
			top: .7rem;
			border-radius: 50%;
			background-color: $red;
		}
	}

	&__line{
		&:not(:last-child){
			margin-bottom: 1.5rem;
		}
	}
}	
a.list__item{
	transition: ease .1s;
	// line-height: 200%;
	line-height: 120%;
    letter-spacing: -0.01rem;
	display: inline-block;

	&:before{
		transition: ease .1s;
		background: #DEDEDE;
	}

	&:hover{
		color: $red;

		&:before{
			background: $red;
		}
	}
}