.modals{

	background-color: #fff;
	position: relative;
	margin: 30px auto;
	border-radius: 5px;
	padding: 60px;
	max-width: 1000px;
	width: 90%;
	&__close{
		// display: none;
		width: 15px;
		position: absolute;
		right: 25px;
		top: 25px;
		cursor: pointer;
		stroke: $dark;
		transition: ease .2s;

		&:hover{
			stroke: $red;
		}
	}

	&_video{
		// width: 80vw;
		
	}

	&__video{
		position: relative;
		padding-top: 56.25%;
	}

	&__iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	@include max-screen($large_tablet) {
		padding: 30px;

		&__close{
			right: 10px;
			top: 10px;
		}
	}
}


.mfp-bg{
	background-color: rgb(0, 0, 0);
	opacity: 0.749;	
}

.mfp-bg{
	opacity: 0;
	transition: all .5s ease; 

	&.mfp-ready{
		opacity: 0.749;	
	}

	&.mfp-removing{
		opacity: 0;
	}
}

.css-modal-animate{
	// start state
	
	overflow: hidden;

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;
		transform: translateY(30px);
	}

	// animate in
	&.mfp-ready{
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{	
		.modals, .mfp-figure{
			opacity: 0;
		}
	}

}