.range-input {
	position: relative;
	width: 100%;

	&__input {
		height: 6.6rem;
		background: #ffffff;
		padding: 0 3.6rem;
		padding-right: 8rem;
		border: 1px solid #c2c2c2;
		width: 100%;

		font-size: 1.8rem;
		font-family: Geometria;
		font-weight: 500;

		&::placeholder {
			color: #1f1f1f;
		}
	}

	&__char {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8.8rem;
		z-index: 15;
		pointer-events: none;

		&_fixed {
			width: auto;
			margin-right: 4.4rem;
		}
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 1.3rem;
		right: 1.3rem;
		height: 2px;
		// background-color: #1270f8;
		z-index: 15;
	}

	&__line {
		position: absolute;
		left: -1.3rem;
		top: 0;
		height: 100%;
		width: 0%;
		background-color: $red;
		max-width: 100%;
	}

	.ui-widget.ui-widget-content {
		border: none;
		border-radius: 0px;
		background: transparent;
		height: 100%;
	}

	.ui-slider-handle {
		width: 2.6rem;
		height: 2.6rem;
		top: -1.3rem;
		margin-left: -1.3rem;

		border: 0.7rem solid #fff;
		border-radius: 50%;

		background-color: $red;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

		left: 0;

		position: absolute;
		z-index: 2;
		cursor: default;
		touch-action: none;
	}

	@include min-screen($large_tablet + 1) {
		&_big {
			.range-input {
				&__input {
					height: 10.7rem;
					font-size: 3.6rem;
					padding: 0 15rem 0 3.6rem;
				}
				&__char {
					font-size: 3.6rem;
				}
			}
		}
	}

	@include max-screen($large_mobile) {
		&__input {
			height: 5rem;
			padding-left: 3.1rem;
			font-size: 1.4rem;
		}
		&__char {
			width: 7rem;
		}

		.ui-slider-handle {
			width: 2.2rem;
			height: 2.2rem;
			top: -1.1rem;
			margin-left: -1.1rem;
			border: 0.6rem solid #fff;
		}

		&__line {
			left: -1.1rem;
		}
	}
}
