.socials{
	z-index: 200;

	&__link{
		transition: ease .1s;
		display: block;

		span{
			display: block;
		}

		&:hover{
			fill: $red;
		}
	}

	&_default{
		background: #F2F4F7;
		border-radius: 5px;
		overflow: hidden;
		.socials{
			&__link{
				width: 6.4rem;
				height: 6.4rem;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: ease .15s;
				&:hover{
					background-color: $pink;
					fill: #fff;
				}
			}

			&__item{
				&_youtube{
					svg{
						width: 2.1rem;
					}

					.socials{
						&__link{
							&:hover{
								background: $red;
							}
						}
					}
				}
				&_inst{
					svg{
						width: 1.8rem;
					}

					.socials{
						&__link{
							&:hover{
								background: $pink;
							}
						}
					}
				}
				&_fb{
					svg{
						width: 1.1rem;
					}

					.socials{
						&__link{
							&:hover{
								background: #4267B2;
							}
						}
					}
				}
				&_vk{
					svg{
						width: 2.4rem;
					}

					.socials{
						&__link{
							&:hover{
								background: #4A76A8;
							}
						}
					}
				}
			}
		}

		@include max-screen($small_tablet) {
			.socials{
				&__link{
					width: 4.4rem;
					height: 4.4rem;

					svg{
						max-height: 16px;
					}

					span{
						display: inline-block;
						max-width: 40%;
						
					}
				}
			}			
		}
	}

	&_white{
		background-color: #fff;
	}
}