.subscribe-button{
	position: relative;
	padding-left: 2.2rem;
	color: $dark;

	&__icon{
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -0.5rem;
		stroke: $dark;
		fill: none;
		width: 1.1rem;
	}
}