.why-tab{
	padding-top: 12rem;
	position: relative;
	min-height: 65.2rem;

	@include max-screen($large_tablet) {
		padding-top: 9rem;
	}

	@include max-screen($small_tablet) {
		padding-top: 7rem;
	}

	@include max-screen($large_mobile) {
		padding-top: 5rem;
		min-height: 0;
		padding-bottom: 1.5rem;
	}

	@include max-screen($small_tablet) {
		align-items: flex-end;
	}

	&__title{
		margin-bottom: 7rem;

		@include max-screen($large_mobile) {
			margin-bottom: 3rem;
		}
	}

	&__back{
		user-select: none;
		pointer-events: none;

		@include max-screen($large_mobile) {
			display: none !important;
		}
	}

	&__text{
		@include max-screen($large_mobile) {
			font-size: 1.2rem;

		}
	}

	&__sub{
		margin-bottom: 2.7rem;

		@include max-screen($large_mobile) {
			margin-bottom: .9rem;
			font-size: 1.9rem;
		}
	}

	&__cell{
		width: 497/1336*100%;



		@include max-screen($large_mobile) {
			width: 100%;
			margin-right: 0;

		}
	}
}