.about-nav{

	&__cell{
		margin-bottom: 2rem;

		&_left{
			width: 265/1336*100%;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: 0;
				top: 21px;
				bottom: 21px;
				background-color: rgba(#B3B3B3, .5);
				width: 1px;
			}
		} 

		&_center{
			width: 280/1336*100%;
			margin-left: 149/1336*100%;
			margin-right: 198/1336*100%;
		}

		&_right{
			align-self: flex-end;
			width: 444/1336*100%;
			margin-bottom: 0;
		}
	}
}