.clients-nav{
	&__cell{
		width: 610/1336*100%;
		border: 1px solid rgba(#000000, .2);

		padding-top: 1.7rem;
		padding-left: 4rem;
		padding-right: 4rem;
		padding-bottom: 2rem;
		position: relative;

		&_bg{
			padding-right: 245/1336*100%;
		}

		@include max-screen($small_tablet) {
			width: 100%;
			padding: 0;
			border: none;
		}
	}

	&__bg{
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 39/610*100%;
		width: 205/610*100%;

		@include max-screen($small_tablet) {
			position: static;
			display: block;
			margin-right: auto;
			width: 205/290*100%;
			margin-left: auto;
			margin-top: 5rem;

		}
	}

	&__link{
		color: $red;

		.stroke{
			fill: $red;
		}

		.triangle{
			stroke: $red;
		}
	}

	&__inside{
		@include max-screen($small_tablet) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__row{
		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__bottom{
		position: absolute;
		left: 0;
		bottom: 0;
		padding-left: 4rem;
		padding-bottom: 2rem;

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__sub{
		line-height: 260%;

		@include max-screen($small_tablet) {
			font-size: 1.9rem;
			font-weight: 400;
		}
	}

	&__link{
		margin-right: -10px;
	}

	&__messengers{
		margin-top: -5px;

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__list{
		margin-top: 9px;
		margin-bottom: 41px;

		margin-left: -14/527*100%;
		margin-right: -14/527*100%;

		&-item{
			width: 84/556*100%;

			margin-left: 13.5/556*100%;
			margin-right: 13.5/556*100%;

			padding-top: 84/556*100%;

			border-radius: 50%;
			position: relative;
			overflow: hidden;
		}

		@include max-screen($small_tablet) {
			display: none;
		}
	}
}