.comment-form {
  padding-left: 10.9rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;

  &__textarea {
    width: 100%;
    background-color: rgb(243, 243, 243);
    font-family: Geometria;
    font-size: 2.4rem;
    resize: none;
    padding: 2.7rem 3rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;

    &::placeholder {
      font-size: 2.4rem;
      color: #010101;
      opacity: 0.5;
    }
  }

  &__row {
    margin-top: 3.5rem;
  }

  &__input {
    width: 44.3478%;
    font-size: 2.4rem;
    line-height: 140%;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    -webkit-appearance: none;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(224, 224, 224);

    &::placeholder {
      font-size: 2.4rem;
      font-weight: 500;
      color: #B3B3B3;
    }
  }
}