.comments {
	background-color: rgb(255, 255, 255);
	padding-bottom: 6.5rem;

	&__wrap {
		// padding-left: 0px;
		padding-right: 0px;
	}

	&__cell {
		&_left {
			width: 57.5%;
		}
		&_right {
			width: 20.6429%;
		}
	}

	&__head {
		padding-bottom: 3.9rem;
		padding-left: 10.9rem;
		border-bottom: 1px solid rgb(224, 224, 224);
	}

	&__list {
		padding-left: 10.9rem;
	}

	&__count {
		margin-left: 2rem;
		color: rgb(191, 191, 191);
	}
	&--questions {
		padding-top: 2.1rem;
		padding-bottom: 7rem;
		& .comments__cell {
			&_left {
				width: 59%;
				@include max-screen($small_tablet) {
					width: 100%;
				}
			}
		}
	}

	@include max-screen($small_desktop) {
		&__cell {
			&_left {
				width: 65%;
			}

			&_right {
				width: 22%;
			}
		}
	}

	@include max-screen($large_tablet) {
		&__wrap {
			padding-right: 32px;
		}
		&__cell {
			&_left {
				width: 100%;
			}

			&_right {
				display: none;
			}
		}
		&__head {
			padding-left: 0;
		}
		&__list {
			padding-left: 0;
		}
	}

	@include max-screen($small_tablet) {
		&__wrap {
			padding-top: 3.1rem;
		}
	}

	@include max-screen($large_mobile) {
		&__wrap {
			padding-right: 15px;
			//padding-top: 5.1rem;
		}
		&__head {
			padding-bottom: 0;
			border: none;
		}
	}
}
