.comment-form-min {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  padding: 4.5rem 4.5rem 4.1rem;

  &__button {
    display: flex;
    align-items: center;
    font-family: Geometria;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    padding-right: 0px;
    margin-top: 1.4rem;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;

    & svg {
      width: 1.8rem;
      height: 1rem;
      margin-left: 1.7rem;
      fill: rgb(255, 4, 0);
      stroke: rgb(255, 4, 0);
    }
  }
}