.conditions {
	padding-top: 12rem;
	padding-bottom: 11.2rem;
	color: #fff;

	&__slider {
		margin-top: -2.2rem;
	}

	@include max-screen($large_tablet) {
		&__slider {
			margin-top: 2.2rem;
		}
	}

	@include max-screen($small_tablet) {
		&__slider {
			margin-top: 4rem;
		}
	}
	@include max-screen($large_mobile) {
		padding-top: 4.8rem;
		padding-bottom: 2.8rem;
		&__wrap {
			margin-left: 28px;
			margin-right: 28px;
		}
		&__title {
			text-align: center;
		}
		&__slider {
			margin-top: 1.3rem;
		}
	}
}
