.council {
	background: #ffffff;
	padding-top: 12rem;
	padding-bottom: 6.8rem;

	&_nobottom {
		padding-bottom: 0 !important;
		.council {
			&__content {
				margin-bottom: 0;
			}
		}
	}

	&__button {
		margin-bottom: 5.3rem;
	}

	&__head {
		color: #fff;
		position: relative;
		&-top {
			margin-bottom: 2.8rem;
		}

		&-inner {
			padding-left: 10.9rem;
			padding-right: 10.9rem;
			padding-top: 11.2rem;
			padding-bottom: 6.8rem;

			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			min-height: 62.5rem;
		}
	}

	&__label {
		margin-bottom: 2.8rem;
		background: #ffffff;
		border-radius: 5px;
		z-index: 500;
		position: relative;
		display: inline-block;
		color: $dark;
		line-height: 3.2rem;
		padding: 0 1.6rem;
	}

	&__title {
		z-index: 15;
		position: relative;
	}

	&__avatar {
		padding-top: 100%;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
	}

	&__content {
		margin-bottom: 4.8rem;

		& p {
			@include max-screen($small_tablet) {
				font-size: 12px;
				line-height: 140%;
			}
		}
		& ul {
			& li {
				@include max-screen($small_tablet) {
					font-size: 12px;
					line-height: 140%;
					padding-left: 2rem;
					padding-right: 1rem;
					&::before {
						width: 5px;
						height: 5px;
						border: none;
						background: #ff0400;
						left: 3px;
						top: 4px;
					}
				}
			}
		}
	}

	&__cell {
		&_left {
			width: 806/1336 * 100%;
			margin-top: 6.2rem;
			padding-left: 10.9rem;
			@include max-screen($small_tablet) {
				width: 100%;
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}

		&_right {
			margin-top: 6.6rem;
			width: 289/1336 * 100%;
		}
	}

	&__author {
		z-index: 15;
		position: relative;
		background: #ffffff;
		border-radius: 5px;
		padding: 3.1rem 4rem 3.1rem 5.5rem;
		max-width: 100%;
		width: 49.5rem;
		color: #0e0e0e;

		&-text {
			margin-top: 0.3rem;
			line-height: 140%;
			@include max-screen($small-tablet) {
				font-size: 10px;
				line-height: 140%;
			}
		}

		&-cell {
			&_avatar {
				width: 71/345 * 100%;
				margin-right: 27/345 * 100%;
			}

			&_content {
				width: 247/345 * 100%;
			}
		}
	}
	&__category {
		position: relative;
		z-index: 15;
		align-self: flex-start;
		margin-bottom: 2rem;
		font-weight: 500;
	}

	&_article {
		padding: 0;

		.council__head {
			& img {
				height: 100%;
			}
			&-inner {
				padding-top: 7.3rem;
				justify-content: flex-start;
			}
		}

		.council__title {
			max-width: 57.3rem;
			color: #0e0e0e;
		}

		.council__author {
			margin-top: auto;
		}
	}
	@include max-screen($large_tablet) {
		&__head {
			&-inner {
				padding-left: 5.5rem;
				padding-right: 5.5rem;
				padding-top: 8rem;
			}
		}
		&__cell {
			&_left {
				padding-left: 5.5rem;
			}
			&_right {
				width: 29.63174%;
			}
		}
	}

	@include max-screen($small_tablet) {
		padding-top: 8rem;
		&__author {
			padding: 2.1rem 4rem 2.1rem 4.5rem;
		}
		&__head {
			&-inner {
				min-height: 48rem;
				padding: 6rem 3rem;
			}
		}
		&__cell {
			&_right {
				width: 36.63174%;
			}
			&_left {
				width: 55.32934%;
				padding-left: 3rem;
			}
		}
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
		padding-bottom: 3.7rem;
		background: transparent;

		&__row {
			background: #fff;
		}

		&__head {
			&-inner {
				padding-left: 3.2rem;
				padding-right: 3rem;
				padding-top: 2.1rem;
				padding-bottom: 1.9rem;
				min-height: 0;
			}
		}

		&__button {
			margin-bottom: 1.4rem;
		}

		&__author {
			background-color: transparent;
			color: #fff;
			padding: 0;
			flex-wrap: nowrap;
			// align-items: flex-start;

			&-text {
				font-size: 1rem;
				margin-top: 0;
				line-height: 1.4rem;
			}

			.link {
				font-size: 1rem;
				line-height: 1.4rem;
				margin-bottom: 1px;
				color: #fff;

				&__arrow {
					width: 4px;
					.triangle {
						stroke: #fff !important;
					}

					.stroke {
						fill: #fff !important;
					}
					svg {
						width: 13px;
						margin-top: -3px;
					}
				}

				&:hover {
					.link {
						&__arrow {
							width: 13px;
						}
					}
				}
			}

			&-cell {
				width: auto;
				max-width: 100%;

				&_avatar {
					flex-shrink: 0;
					flex-grow: 0;
					width: 3.7rem;
					margin-right: 1.3rem;
				}
				&_content {
					min-width: 0;
					flex-shrink: 1;
					flex-grow: 1;
				}
			}
		}
		&__title {
			font-size: 1.9rem;
			line-height: 2.1rem;
		}
		&__more {
			text-align: center;
			padding-top: 6px;
		}
		&__label {
			margin-bottom: 1.9rem;
			font-size: 1rem;
			line-height: 1.4rem;
			padding: 0.4rem 1.1rem;
		}
		&__content {
			margin-bottom: 0;
		}
		&__cell {
			width: 100%;
			padding-left: 3.2rem;
			padding-right: 3.2rem;

			&_right {
				margin-top: 4.4rem;
			}

			&_left {
				margin-top: 3.7rem;
			}
		}
	}
}
