.council{
	background: #FFFFFF;
	padding-top: 12rem;
	padding-bottom: 12rem;

	&__button{
		margin-bottom: 5.3rem;
	}

	&__head{
		color: #fff;
		position: relative;


		&-inner{
			padding-left: 10.9rem;
			padding-right: 10.9rem;
			padding-top: 11.2rem;
			padding-bottom: 6.8rem;

			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			min-height: 62.5rem;			
		}
	}

	&__title{
		z-index: 15;
		position: relative;

	}

	&__avatar{
		padding-top: 100%;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
	}

	&__content{
		margin-bottom: 4.8rem;
	}

	&__cell{
		margin-top: 6.2rem;

		&_left{
			width: 806/1336*100%;
			
			padding-left: 10.9rem;
		}

		&_right{
			width: 289/1336*100%;
		}
	}

	&__author{
		z-index: 15;
		position: relative;
		background: #FFFFFF;
		border-radius: 5px;
		padding: 3.1rem 5.5rem;
		padding-right: 4rem;
		max-width: 100%;
		width: 49.5rem;
		color: #0E0E0E;

		&-text{
			margin-top: .3rem;
			line-height: 140%;
		}

		&-cell{
			&_avatar{
				width: 71/345*100%;
				margin-right: 27/345*100%;
			}

			&_content{
				width: 247/345*100%;
			}
		}
	}

	&__category {
		position: relative;
		z-index: 15;
		align-self: flex-start;
		margin-bottom: 2rem;
		font-weight: 500;
	}

	&_article {
		padding: 0;

		.council__head{
			&-inner{
				padding-top: 7.3rem;
				justify-content: flex-start;
			}
		}

		.council__title{
			max-width: 57.3rem;
			color: #0E0E0E;
		}

		.council__author{
			margin-top: auto;
		}
	}

	@include max-screen($small_tablet - 1) {
		&__head{
			&-inner{
				padding: 5.1rem 1.5rem;
			}
		}
		&__author {
			padding: 1.8rem 0;
			background-color: transparent;
		}

		&__category {
			margin-bottom: 1rem;
		}

		&_article {
			.council__head{
				&-inner{
					padding-top: 5.1rem;
				}
			}
			.council__title{
				max-width: 212/320*100%;
			}
		}
	}

	@include max-screen($large_mobile) {
		&__wrap {
			padding-left: 0;
			padding-right: 0;
		}
		&__head{
			&-inner{
				min-height: 34.7rem;
			}
		}
		&__author {
			&-cell{
				&_avatar{
					width: 3.7rem;
					margin-right: 1.8rem;
				}
			}
			&-text{
				font-size: 1rem;
			}
		}
		&__link {
			font-size: 1rem;
				.arrow {
					& svg {
						margin-top: -0.5rem;
					}
				}
		}
	}
}