.customer-data-table {
  width: 100%;
  margin-bottom: 4.3rem;
  border-collapse: collapse;

  font-size: 1.8rem;

  @include max-screen($large_desktop) {
    font-size: 1.9rem;
  }

  @include max-screen($large_tablet) {
      font-size: 1.5rem;
  }

  tr {
    @include max-screen($small_tablet) {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2.3rem;
      border-bottom: 1px solid #C2C2C2;

      font-size: 1.2rem;

      &:not(:nth-child(2)) {
        padding-top: 0.8rem;
      }
    }

    .customer-data-table__item_buyer {
      font-size: 1.4rem;
    }
  }
}

tr.customer-data-table__head-row {
  text-align: left;

  th {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #000000;
  }

  @include max-screen($small_tablet) {
    display: none;
  }
}

.customer-data-table__item {
  position: relative;

  padding-top: 1.6rem;

  @include max-screen($small_tablet) {
    padding-top: 1.2rem;
  }

  &:not(:last-of-type) {
    padding-right: 1em;

    @include max-screen($small_tablet) {
      padding-right: 0.5em;
    }
  }

  &_buyer {
    width: 32%;

    @include max-screen($small_tablet) {
      width: 100%;

      font-weight: 500;
    }
  }

  &_district {
    width: 27%;
    padding-left: 3rem;

    @include max-screen($small_tablet) {
      width: 54%;
      padding-left: 2rem;
    }
  }

  &_rooms {
    width: 23%;

    @include max-screen($small_tablet) {
      width: 18%;
    }
  }

  &_budget {
    @include max-screen($small_tablet) {
      width: 28%;

      text-align: right;
    }
  }
}

.customer-data-table__metro-icon {
  position: absolute;
  top: 2.3rem;
  left: 0;

  flex-shrink: 0;
  display: block;
  width: 2.5rem;
  height: 1.3rem;

  fill: #EF7E24;

  @include max-screen($small_tablet) {
    top: 1.3rem;
    left: -.3rem;

    width: 2rem;
  }
}
