.database{
	padding-top: 12rem;
	padding-bottom: 12.2rem;
	color: #fff;

	@include max-screen($large_tablet) {
		padding: 9rem 0;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
		padding-bottom: 5.5rem;
	}

	&_blog {
		padding-top: 15rem;

		@include max-screen($small_tablet) {
			padding-top: 12%;
			padding-bottom: 4rem;
		}

		@include max-screen($large_mobile) {
			padding-bottom: 0;
		}

		.database {
			&__doc {
				width: 39%;
				padding-top: 56.74646%;

				@include max-screen($large_mobile) {
					width: 42%;
				}
			}

			&__cell_right {
				padding-left: 1rem;

				color: #0e0e0e;

				@include max-screen($large_mobile) {
					margin-top: 2.8rem;
					padding-left: 0;
				}
			}

			&__subtitle-wrap {
				margin-bottom: 2rem;

				@include max-screen($large_mobile) {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-end;
					margin-bottom: 0;
				}
			}

			&__subtitle,
			&__subtext {
				display: block;
			}

			&__desk-br {
				@include max-screen($large_tablet) {
					display: none;
				}
			}

			&__subtitle {
				margin-top: -2rem;
				margin-bottom: 0;

				font-size: 13rem;

				@include max-screen($large_mobile) {
					font-size: 7.7rem;
				}
			}

			&__subtext {
				margin-top: -4.5rem;

				font-size: 6.5rem;

				@include max-screen($large_mobile) {
					padding-bottom: 1rem;

					font-size: 3.9rem;
				}
			}

			&__text {
				margin-bottom: 4.1rem;

				@include max-screen($small_tablet) {
					margin-bottom: 2.7rem;
					padding-left: 3rem;
					padding-right: 4rem;

					font-size: 1.4rem;
				}
			}

			&__middle {
				position: relative;
				left: -15%;

				overflow: hidden;
				width: 114%;
				padding: 4.9rem 2.8rem 5.5rem 6.9rem;

				background-color: #ffffff;

				@include max-screen($small_tablet) {
					left: 0;

					width: 100%;
					margin-bottom: 0;
					padding: 2.9rem 1.8rem .7rem 2.9rem;

					font-size: 1.4rem;
					color: #0E0E0E;
					font-weight: 500;
					line-height: 1.4;
				}
			}

			&__categories {
				margin-top: 13.7rem;
			}

			&__categories-btn-icon {
				display: inline-block;
				width: 1.5rem;
				margin-right: .5rem;
			}

			&__bg-icon-wrap {
				position: absolute;
				right: 3rem;
				bottom: 33%;
				width: 40%;

				svg {
					top: 0;

					display: block;
					width: auto;
					margin-top: 0;

					fill: #f3f3f3;
				}

				@include max-screen($large_mobile) {
					display: none;
				}
			}

			&__tag {
				&:last-of-type {
					margin-right: 0;
				}

				.tag__text {
					font-size: 1.6rem;
				}
			 }
		}
	}

	&__form {
		&_blog {
			@include max-screen($small_tablet) {
				background-color: #ffffff;
				position: fixed;
				top: 0;
				left: 0;
				overflow: scroll;
				width: 100%;
				height: 100%;
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
		}
	}

	&__inner{
		@include max-screen($large_mobile) {
			display: inline-block;
			position: relative;
			&:before{
				content: '';
				display: block;
				background-color: $red;
				position: absolute;
				left: 0;
				height: 3px;
				bottom: 5px;
				right: 0;
				z-index: -1;
			}
		}
	}

	&__title{
		margin-bottom: 10rem;

		@include max-screen($large_tablet) {
			margin-bottom: 8rem;
		}

		@include max-screen($large_mobile) {
			margin-bottom: 3.8rem;
			text-align: center;

			.stroke{
				&:before{
					display: none;
				}
			}
		}
	}

	&__subtitle{
		margin-bottom: 2.6rem;
	}

	&__middle{
		margin-bottom: 1.8rem;

		svg{
			position: absolute;
			right: 0;
			top: 50%;
			width: 59px;
			margin-top: -30px;
			display: none;
			fill: rgba(184, 184, 184, 0.77);
		}

		@include max-screen($large_mobile) {
			font-size: 1.9rem;
			line-height: 110%;
			position: relative;
			font-weight: 400;
			padding-right: 100/290*100%;
			color: #B8B8B8;
			margin-bottom: 3.1rem;

			svg{
				display: block;
			}
		}
	}

	&__text{
		@include max-screen($large_mobile) {
			font-size: 1.2rem;
		}
	}

	&__cell{
		&_left{
			width: 777/1336*100%;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

		&_right{
			max-width: 468/1336*100%;
			margin-top: -5.5rem;
		}

		@include max-screen($small_tablet) {
			&_right{
				max-width: 41.02994%;
				margin-top: -2.5rem;
			}

			&_left{
			    width: 52.15868%;
			}
		}

		@include max-screen($large_mobile) {
			width: 100%;
			max-width: 100%;
			&_right{
				margin-top: 5.2rem;
			}
		}
	}

	&__row{
		@include max-screen($small_tablet) {
			align-items: flex-start;
		}
	}

	&__doc{
		width: 321/777*100%;
		padding-top: 472/777*100%;
		position: relative;
		z-index: 15;
		transition: ease .25s;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

		&_second{
			margin-top: 36/777*100%;
			margin-left: -60/777*100%;
			z-index: 10;
		}
		&_third{
			z-index: 5;
			margin-top: -34/777*100%;
			margin-left: -126/777*100%;
		}

		&:hover{
			transform: translateY(-15px);
		}
	}
}
