.database{
	padding-top: 12rem;
	padding-bottom: 12.2rem;
	color: #fff;

	@include max-screen($large_tablet) {
		padding: 9rem 0;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
		padding-bottom: 5.5rem;
	}

	&__inner{
		@include max-screen($large_mobile) {
			display: inline-block;
			position: relative;
			&:before{
				content: '';
				display: block;
				background-color: $red;
				position: absolute;
				left: 0;
				height: 3px;
				bottom: 5px;
				right: 0;
				z-index: -1;
			}
		}
	}

	&__title{
		margin-bottom: 10rem;

		@include max-screen($large_tablet) {
			margin-bottom: 8rem;
		}

		@include max-screen($large_mobile) {
			margin-bottom: 3.8rem;
			text-align: center;

			.stroke{
				&:before{
					display: none;
				}
			}
		}
	}

	&__subtitle{
		margin-bottom: 2.6rem;
	}

	&__middle{
		margin-bottom: 1.8rem;

		svg{
			position: absolute;
			right: 0;
			top: 50%;
			width: 59px;
			margin-top: -30px;
			display: none;
			fill: rgba(184, 184, 184, 0.77);
		}

		@include max-screen($large_mobile) {
			font-size: 1.9rem;
			line-height: 110%;
			position: relative;
			font-weight: 400;
			padding-right: 100/290*100%;
			color: #B8B8B8;
			margin-bottom: 3.1rem;

			svg{
				display: block;
			}
		}
	}

	&__text{
		@include max-screen($large_mobile) {
			font-size: 1.2rem;
		}
	}

	&__cell{
		&_left{
			width: 777/1336*100%;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

		&_right{
			max-width: 468/1336*100%;
			margin-top: -5.5rem;
		}

		@include max-screen($small_tablet) {
			&_right{
				max-width: 41.02994%;
				margin-top: -2.5rem;
			}

			&_left{
			    width: 52.15868%;
			}
		}

		@include max-screen($large_mobile) {
			width: 100%;
			max-width: 100%;
			&_right{
				margin-top: 5.2rem;
			}
		}
	}

	&__row{
		@include max-screen($small_tablet) {
			align-items: flex-start;
		}
	}

	&__doc{
		width: 321/777*100%;
		padding-top: 472/777*100%;
		position: relative;
		background-color: blue;
		z-index: 15;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

		&_second{
			margin-top: 36/777*100%;
			margin-left: -60/777*100%;
			background-color: red;
			z-index: 10;
		}
		&_third{
			z-index: 5;
			background-color: green;
			margin-top: -34/777*100%;
			margin-left: -126/777*100%;
		}
	}
}