.faq {
	padding-top: 6rem;
	padding-bottom: 1.6rem;

	&__accordion {
		margin-top: -1px;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
		background-color: #fff;
		padding-bottom: 0;
	}
}
