.form {
	&__button {
		padding: 0 3.6rem;
	}

	&__inline-2 {
		.btn {
			width: 190/402 * 100%;
			padding-left: 0;
			padding-right: 0;
		}

		.access {
			width: 186/402 * 100%;
		}
	}

	@include max-screen($large_mobile) {
		&__inline-2 {
			.btn {
				width: 128/230 * 100%;
			}
			.access {
				width: auto;
				max-width: 90/230 * 100%;
			}
		}
	}

	&__email {
		.error {
			display: none !important;
			//@include max-screen($small_tablet) {
			//  text-align: center;
			//}
		}

		&.is-error {
			.input__item {
				border-bottom-color: #ff0600;

				color: #ff0600;

				@include placeholder {
					color: #ff0600;
				}
			}
		}
	}

	.checkbox__text {

		@include max-screen($large_mobile) {
			text-align: center;
		}
	}
}
