.header{
	z-index: 500;
	position: relative;

	&.is-search-open{
		.header{
			&__menu{
				opacity: 0;
				visibility: hidden;
			}

			&__search-bg{
				opacity: 1;
				visibility: visible;
			}
		}


	}
	@include max-screen($large_tablet) {
		&.is-search-open{
			.header{
				&__search{
					display: block;
				}
			}			
		}
		.header{
			&__search{
				display: none;
			}
		}
	}
	&__search-bg{
		position: fixed;
		left: 3.3rem;
		right: 3.3rem;
		top: 0;
		height: 100%;
		// width: 100%;
		background: rgba(0, 0, 0, 0.8);
		visibility: hidden;
		opacity: 0;
		// pointer-events: none;
		transition: ease .2s;
		// z-index: -1;

		@include max-screen($large_tablet) {
			left: 0;
			right: 0;
		}
	}

	&__top{
		padding: 2.4rem 0;
		position: relative;
		z-index: 20;
		background: #F3F3F3;

		@include max-screen($large_tablet) {
			display: none;
		}
	}

	&__parts{
		&-submenu{
			display: none;
		}

		&-backward{
			height: 5.7rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 15px;
			padding-right: 15px;
			background: #F3F3F3;
			text-align: left;
			margin-top: -1px;

			.icon{
				margin-right: 17px;
				fill: transparent;
				width: 10px;
				stroke: $dark;
				transform: rotate(-180deg);
			}
		}

		&-nav{
			text-align: center;
		}

		&-title{
			margin-top: 4.4rem;
			margin-bottom: 3.3rem;
			text-align: center;
			font-weight: bold;
			padding-right: 32px;
			position: relative;
			display: inline-block;

			&:after{
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -3px;
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4.5px 0 4.5px 6px;
				// margin-left: 17px;
				border-color: transparent transparent transparent $dark;

			}
		}

		@include max-screen($small_mobile) {
			&-title{
				max-width: 80%;
			}
		}
	}

	&__device{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background: #FFFFFF;
		// z-index: 100;
		border-top: 1px solid #C2C2C2;

		// transform: translateY(-10rem);
		// opacity: 0;
		// visibility: hidden;
		display: none;

		&.is-active{
			display: block;
			// transform: translateY(0rem);
			// opacity: 1;
			// visibility: visible;			
		}
		

		&-menu{
			padding-bottom: 18.3rem;
			padding-top: 3.2rem;
		}

		&-link{
			padding-left: 15px;
			padding-right: 30px;
			height: 64px;
			font-size: 23px;
			display: flex;
			align-items: center;
			font-weight: bold;
			line-height: 1.3em;
			position: relative;

			svg{
				fill: transparent;
				width: 10px;
				// height: 10px;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -7px;
				stroke-width: 3;
				stroke: $dark;
			}
		}

		&-li{
			&:not(:last-child){
				border-bottom: 1px solid #C2C2C2;
			}
		}

		&-bg{
			position: fixed;
			left: 0;
			right: 0;
			top: -80px;
			bottom: -80px;
			background: rgba(0, 0, 0, 0.8);
			z-index: -1;
		}

		@include max-screen($small_tablet) {
			.header__list-link{
				font-size: 1.9rem;
			}
		}
	}

	&__mobile{
		display: none;

		&-search{
			width: 19px;
		}
		
		&-item{
			display: block;

			&_phone{
				width: 19px;
				fill: $dark;

			}

			&:not(:last-child){
				margin-right: 31px;
			}
		}

		@include max-screen($small_tablet) {
			display: flex;
		}
	}

	&__search{
		height: 4.8rem;
		width: 2.1rem;
		display: flex;
		align-items: center;
		position: relative;

		@include max-screen($small_tablet) {
			// display: none;
			top: 100%;
			height: auto;
			position: absolute;
			right: 0;
			width: 100%;
			padding-top: 10px;
			margin-top: 17px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 23px;
			background-color: #fff;
			border-top: 1px solid #C2C2C2;

		}
	}

	&__wrap{
		@include max-screen($small_tablet) {
			width: 100%;
		}
	}

	&__bottom{
		background-color: #fff;
		position: relative;
		z-index: 20;

		// padding: 2.1rem 0;

		@include max-screen($small_tablet) {
			height: 70px;
			display: flex;
			align-items: center;
		}
	}

	&__menu{
		margin-left: 250/1336*100%;
		transition: ease .2s;

		@include max-screen($large_tablet) {
			margin-left: 0;
		}
		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__logo{
		width: 14.4rem;

		@include max-screen($small_tablet) {
			width: 95px;
		}
	}

	&__link{
		&:not(:last-child){
			margin-right: 4rem;
		}

		@include max-screen($small_desktop) {
			&:not(:last-child){
				margin-right: 2rem;
			}

		}
	}

	&__phone{
		margin-right: 3rem;

		@include max-screen($small_desktop) {
			margin-right: 2rem;
		}
	}

	&__part{
		&_subscribe{
			margin-left: 9%;
		}

		@include max-screen($large_desktop) {
			&_subscribe{
				margin-left: 0%;
			}
		}
	}

	&__list{
		&-item{
			display: block;
		}
		&-link{
			line-height: 260%;
			font-weight: 400;
			transition: ease .15s;
			&:hover{
				color: $red;
			}
		}
	}

	&__panel{

		position: absolute;
		left: 0;
		top: 100%;
		// height: 100%;
		width: 100%;
		// padding-top: 8.5rem;
		
		display: none;
		opacity: 0;
		animation-fill-mode: forwards;
		animation-duration: 0.1s;
		// animation-delay: .2s;
		animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		animation-iteration-count: 1;



		&.is-hide{
			animation-duration: 0.1s;
			animation-name: fadeIn;
			// animation-delay: .2s;
		}

		&-row{
			position: relative;
			
			z-index: 5;			
		}

		&_visible{
			display: block;
			animation-name: fadeOut;
			animation-duration: .5s;

			&.css-another{
				.header__panel-row{
					background: #F5F7FA;
				}
			}
		}

		&-bg{
			position: fixed;
			left: 3.3rem;
			right: 3.3rem;
			top: 0;
			height: 100%;
			// width: 100%;
			background: rgba(0, 0, 0, 0.8);
		}

		&-label{
			margin-bottom: 4.2rem;
			font-weight: 900;
			color: $dark;
		}

		&-string{
			display: block;
			&:not(:last-child){
				margin-bottom: 2.5rem;
			}
		}

		&-link{
			line-height: 1.8rem;
			color: $dark;
			transition: ease .1s;
			font-weight: 500;
			letter-spacing: -0.0015em;

			&:hover{
				color: $red;

			}
		}

		&-item{
			padding-top: 8rem;
			border-top: 1px solid #d9d9d9;
			background: #fff;
			// background-color: red;
			display: none;
			padding-bottom: 3.9rem;

			transform: translateY(-100%);
			animation-fill-mode: forwards;
			animation-duration: 1s;
			animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
			animation-iteration-count: 1;


			&_active{
				display: block;

				&:not(.css-another){
					animation-name: toBottom;	
				}
				
				&.css-another{
					z-index: 500;
					transform: none;
					animation-duration: .6s;
					// animation-delay: 1s;
					animation-name: fadeOut;
				}			
			}

			&_noscope{
				padding-bottom: 0rem;
			}

			&_services{
				background: transparent;
				padding-bottom: 0;
				border-top: none;
				padding-top: 5.6rem;
				position: relative;
				min-height: 400px;

				&:before{
					content: '';
					display: block;
					top: -1px;
					bottom: 18.8rem;
					width: 100%;
					left: 0;
					background: #F3F3F3;
					position: absolute;
				}
			}

			&_contacts{
				padding-bottom: 8rem;
				padding-top: 3rem;
			}

			&_clients{
				padding-bottom: 12.5rem;
			}

			@include max-screen($large_tablet) {

				&-bg{
					left: 0;
					right: 0;					
				}
			}
		}
	}
}