.header-arrow {
	height: 484px;
	padding-top: 2.5%;
	position: relative;
	padding-bottom: 10%;
	background-image: url("/img/sert-back.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	overflow: hidden;
	@include max-screen($small_tablet) {
		background-image: url("/img/sert-back-mobile.png");
		background-repeat: no-repeat;
		height: auto;
		padding-bottom: 31%;
		background-size: cover;
		min-height: 320px;
	}
	@include max-screen($large_mobile) {
		&_auto {
			padding-bottom: 6rem;
			min-height: 0;
		}
	}
	&__breadcrumbs {
		color: #ffffff;
	}
	&__box {
		margin-top: 6.5rem;
		width: 50%;
		@include max-screen($large_mobile) {
			width: 100%;
			margin-top: 4.3rem;
		}
	}

	&__title {
		@include max-screen($large_mobile) {
			width: 70%;
		}
	}

	&__bottom {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		&-row {
			position: relative;
		}

		@include max-screen($large_tablet) {
			display: none;
		}
	}
	&__down {
		margin-bottom: -5rem;
	}

	&__desc {
		max-width: 48.6rem;
		margin-top: 2.9rem;
		font-weight: 400;

		@include max-screen($large_mobile) {
			font-size: 1.4rem;
			line-height: 2rem;
			margin-top: 1.5rem;
			width: 85%;
		}
	}

	&_dark {
		color: #0e0e0e;
		background-image: url("/img/news-bg.jpg");

		@include max-screen($large_mobile) {
			background-image: url("/img/news-bg-mobile.jpg") !important;
		}

		.header-arrow__breadcrumbs {
			color: #0e0e0e;
		}
	}
}
