.master{
	padding-top: 13.7rem;
	// overflow: hidden;

	@include max-screen($large_tablet) {
		padding-top: 6rem;
	}

	@include max-screen($small_tablet) {
		padding-top: 5.1rem;
	}
	@include max-screen($large_mobile) {
		overflow: visible;
	}
	&__wrap{
		padding-bottom: 14.5rem;

		@include max-screen($large_tablet) {
			padding-bottom: 8rem;
		}

		@include max-screen($large_mobile) {
			padding-bottom: 2.5rem;
		}
	}

	&__tree{
		position: absolute;
		left: 0;
		// bottom: 0;
		// width: 849/1854*100%;
		margin-left: -250px;
		user-select: none;
		pointer-events: none;
		bottom: -61px;

		@include max-screen($large_desktop) {
			bottom: -140px;
		}

		@include max-screen($large_tablet) {
			display: none;
		}

		@include max-screen($large_mobile) {
			display: block;
			z-index: -1;

			width: 345px;
			margin-right: -100px;
			margin-left: 0;
			left: auto;
			right: 0;
			bottom: -20px;
		}
	}

	&__about{
		margin-bottom: 85/1336*100%;
		width: 180px;
		max-width: 40%;
		z-index: 20;
		position: relative;

		@include max-screen($large_desktop) {
			width: 150px;
		}

		@include max-screen($large_mobile) {
			display: none;
		}
	}

	&__name{
		margin-bottom: 1.6rem;
		font-weight: bold;

		@include max-screen($large_mobile) {
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}

	&__who{
		@include max-screen($large_mobile) {
			font-size: 1rem;
		}
	}

	&__open{
		margin-bottom: 5.9rem;
		
		@include max-screen($large_mobile) {
			order: 2;
			margin-bottom: 0;
			margin-right: 30/232*100%;
		}
	}

	&__man{
		position: absolute;
		user-select: none;
		left: 0;
		bottom: 0;
		width: 651/1400*100%;
		padding-top: 867/1400*100%;
		margin-left: 226/1400*100%;
		z-index: 15;
		pointer-events: none;

		&-img{
			object-position: center bottom;
			object-fit: contain;
		}

		@include max-screen($large_tablet) {
			width: 456/1400*100%;
			padding-top: 607/1400*100%;
			margin-left: 21.14286%;
		}

		@include max-screen($large_mobile) {
			transform: scale(-1, 1);
			width: 222px;
			padding-top: 297px;
			left: auto;
			right: 0;
			margin-right: -63px;
		}
	}

	&__cell{
		width: 822/1336*100%;
		margin-left: auto;

		@include max-screen($large_mobile) {
			width: 100%;
		}
	}

	&__inner{
		@include max-screen($large_mobile) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 3rem;
		}
	}

	&__info{
		@include max-screen($large_mobile) {
			width: 75px;
			order: 1;
		}
	}

	&__box{
		box-shadow: 0px 4px 40px rgba(153, 153, 153, 0.1);
		border-radius: 5px;
		border: 1px solid rgba(#848484, .3);
		
		padding-left: 81/822*100%;
		padding-top: 78/822*100%;
		padding-bottom: 85/822*100%;

		&-inner{
			width: 452/740*100%;
			padding-right: 81/740*100%;
			margin-left: auto;
		}

		&-text{
			margin-bottom: 6rem;
			font-weight: 400;
		}

		@include max-screen($large_tablet) {
			&-inner{
				padding-right: 5%;
				width: 66.08108%;
			}
		}
		@include max-screen($small_tablet) {
			&-inner{
			    width: 79.08108%;
			}

			&-text{
				width: 165px;
				margin-bottom: 3rem;
			}
		}

		@include max-screen($large_mobile) {
			box-shadow: none;
			border: none;
			border-radius: 0px;
			padding: 0;
			position: relative;
			z-index: 15;
			&-inner{
				width: 100%;
			}

			&-button{
				padding-left: 1rem;
				padding-right: 1rem;
				width: 232px;
			}

			&-text{
				font-size: 1.2rem;
				margin-bottom: 6.6rem;
			}
		}
	}

	&__title{
		width: 452/822*100%;
		margin-left: auto;
		margin-bottom: 5.3rem;

		@include max-screen($large_tablet) {
			width: auto;
			text-align: right;
		}
		@include max-screen($large_mobile) {
			text-align: left;
			margin-bottom: 3.2rem;
		}
	}

	&_white {
		background-color: #FFFFFF;
		padding-top: 19.6rem;

		@include max-screen($small_tablet) {
			padding-top: 5.1rem;
		}
	}
}