.news-list {
	padding-top: 4.5rem;
	// padding-bottom: 3.6rem;

	&__item {
		margin-bottom: 2.8rem;
	}

	&__link {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 4.8rem 3.3rem 5rem 4.6rem;
		color: $dark !important;
		border: 1px solid #b3b3b3;
		transition: all 0.2s;

		&:hover {
			background-color: #ffffff;
			border: 1px solid #ffffff;

			.news-list__title {
				span {
					background-size: 100% 5px;
				}
			}
		}
	}

	&__title {
		margin-right: 3rem;
		max-width: 56.1rem;

		span {
			background-image: linear-gradient(to bottom, transparent 49%, #FF0600 49%);
			background-size: 0 5px;
			background-repeat: no-repeat;
			background-position: 0 89%;
			transition: background-size .5s;
		}
	}

	&__date {
		flex-shrink: 0;
		opacity: 0.5;
	}

	@include max-screen($large_tablet) {
		&__link {
			padding: 3rem 2rem;
		}
		&__date {
			text-align: right;
		}
	}

	@include max-screen($small_tablet - 1) {
		&__link {
			flex-direction: column;
			align-items: flex-start;
			padding: 1.8rem 1.9rem;
		}

		&__title {
			max-width: 100%;
			margin-bottom: 1.2rem;
		}
	}

	@include max-screen($large_mobile) {
		padding-top: 2.5rem;
		padding-bottom: 0;
		&__title {
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&__date {
			font-size: 1rem;
			line-height: 1.4rem;
		}

		&__item {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
