.reviews{
	padding-top: 12rem;
	padding-bottom: 9rem;

	position: relative;

	@include max-screen($large_tablet) {
		padding-top: 9rem;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
		padding-bottom: 4.2rem;
	}

	&__mobile-bg{
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		@include max-screen($large_mobile) {
			display: block;
		}
	}

	&__slider{
		@include max-screen($small_tablet) {
			padding-bottom: 43px;
		}
	}

	&__counter{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 6px;
		text-align: center;
		pointer-events: none;
		font-size: 12px;
		font-weight: 500;
		display: none;

		&-total{
			color: #797979;
		}

		@include max-screen($small_tablet) {
			display: block;
		}
	}

	&__title{
		margin-bottom: 6rem;

		@include max-screen($large_tablet) {
			margin-bottom: 4rem;
		}

		@include max-screen($large_mobile) {
			margin-bottom: 3.8rem;
			text-align: center;
			padding-left: 15%;
			padding-right: 15%;
		}
	}

	&__apply{
		margin-top: 10px;
		margin-bottom: 10px;
		display: inline-block;
	}

	&__button{
		margin-right: 3.6rem;
	}

	&__row{
		&.is-loading{
			pointer-events: none;

			.reviews{
				&__video{
					background-color: rgb(187, 187, 187);
				}

				&__name span, &__who span, &__text, &__apply{
					background-color: rgb(187, 187, 187);
					color: transparent;
				}

				&__button{
					background-color: rgb(187, 187, 187);
					color: transparent;

				}
			}
		}

		@include max-screen($large_tablet) {
			align-items: flex-start;
		}


	}

	&__list{
		// margin-left: -1px;
		// margin-right: -1px;
		margin-top: 8rem;
		margin-bottom: 9.3rem;

		@include max-screen($large_tablet) {
			margin-bottom: 6rem;
		}

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__bottom{
		text-align: center;

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__item{
		position: relative;
		width: 335/1338*100%;
		// margin: 1/1338*100%;
		color: #fff;
	    margin: -1px 0 0 -1px;
		cursor: pointer;
		border: 1px solid #fff;
		overflow: hidden;

		&:nth-child(4n+1){
			border-radius: 5px 0px 0px 5px;
		}

		&:nth-child(4n){
			border-radius: 0px 5px 5px 0px;

		}

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			background: rgba(#000, .65);
			transition-property: opacity;
			transition-duration: .3s;
			transition-timing-function: ease;
		}

		&-inner{
			padding-left: 33/335*100%;
			padding-right: 33/335*100%;
			padding-top: 45/335*100%;
			padding-bottom: 31/335*100%;

			position: relative;
			z-index: 15;


		}

		&-content{
			min-height: 13rem;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;
		}

		&-name{
			width: 50%;
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		    align-items: flex-start;

			span{
				display: inline-block;
				position: relative;

				&:before{
					content: '';
					display: block;
					z-index: -1;
					position: absolute;
					left: 0;
					bottom: 3px;
					width: 100%;
					height: 3px;
					transition: ease .2s;
					transform: scale(0,1);
					transform-origin: 0% 50%;
					background-color: $red;
				}
			}
		}

		&-status{
			font-weight: 400;
		}

		&_active{
			&:before{
				opacity: .15;
			}
		}

		&:hover{
			.reviews__item-name{
				span{
					&:before{
						transform: scale(1,1);
					}
				}

			}
		}
	}

	&__cell{
		&_video{
			width: 667/1336*100%;
			margin-right: 60/1336*100%;
		}

		&_content{
			width: 586/1336*100%;
		}
		@include max-screen($large_tablet) {
			&_video{
				margin-top: 8px;
			}
		}

		@include max-screen($large_mobile) {
			width: 100%;
			margin-right: 0;
			&_video{
				margin-bottom: 2.5rem;
			}
		}
	}

	&__name{
		font-weight: bold;
		margin-bottom: 3px;


		@include max-screen($large_mobile) {
			font-size: 1.9rem;
			margin-bottom: 0;
		}
	}

	&__text{
		font-weight: 400;

		display: inline;

		@include max-screen($large_mobile) {
			font-size: 1.2rem;
		}
	}

	&__nav{
		margin-top: 4.3rem;

		@include max-screen($large_mobile) {
			display: none;
		}
	}

	&__who{
		font-weight: 400;
		color: #808080;
		margin-bottom: 2.5rem;

		@include max-screen($large_mobile) {
			margin-bottom: 0;
			font-size: 1rem;
		}


	}

	&__top{
		@include max-screen($large_mobile) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 9px;
		}
	}

	.video__play {
		transition-property: background-color;
		transition-duration: .2s;
		transition-timing-function: ease;

		&::before {
			transition: .2s ease;
		}

		&:hover,
		&:focus {
			background-color: #ffffff;

			&::before {
				border-color: transparent transparent transparent #0e0e0e;
			}
		}
	}
}
