.sales-model{
  position: relative;
  padding-top: 2.1rem;
  padding-bottom: 19.1rem;

  &__container-data{
    max-width: 44.6rem;
    padding-top: 16.6rem;
  }

  &__title{
    margin-bottom: 6.2rem;
  }

  &__submit{
    margin-top: 3.3rem;
    margin-bottom: 3.1rem;
    font-size: 1.8rem;

  }

  &__container-img{
    position: absolute;
    top: 0.5rem;
    right: -3.5rem;

    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 23.8rem;
      right: 14.9rem;
      width: 64.3rem;
      height: 64.3rem;
      z-index: -1;
      background: #FFFFFF;
      border-radius: 50%;
    }
  }

  &__region{
    position: absolute;
    bottom: 2rem;
    right: 37.2rem;
    width: 25.3rem;
    padding-left: 8.7rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    background: url("/img/kremlin.png") no-repeat 0rem 0.4rem;
  }
}