.sell-order-popup {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 604;

  display: none;
  width: 77rem;
  height: 100vh;
  padding: 23.3rem 16.2rem 15rem 22.4rem;

  background-color: #ffffff;
}

.sell-order-popup__title {
  margin-bottom: 2.2rem;

  font-size: 3rem;
  font-weight: 500;
}

.sell-order-popup__description {
  margin-bottom: 6rem;

  font-size: 1.9rem;
  line-height: 1.4;
}

.sell-order-popup__form {
  .input__item {
    margin-bottom: 5rem;
    padding-bottom: 1rem;

    font-size: 2.2rem;
  }
}

.sell-order-popup__button {
  width: 100%;
  height: 7.5rem;

  font-size: 2.2rem;
}

.sell-order-popup__access {
  margin-top: 1.3rem;

  .checkbox__text {
    padding-left: 26px;

    font-size: 1.6rem;
  }
}

.sell-order-popup__close {
  position: absolute;
  top: 9rem;
  right: 16.2rem;
}
