.select-min {
  & select {
    font-family: "Geometria", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
    background-color: transparent;
    border: none;

    @include max-screen($large_mobile) {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
}