.container {
	section.sell-apartment {
		@include max-screen($small_tablet) {
			padding-bottom: 2rem;

			background: none;
		}
	}
}

.sell-apartment__wrap {
	display: flex;
	flex-direction: column;
}

.sell-apartment {
	padding-top: 4.5rem;
	padding-bottom: 9rem;

	background-image: url("/img/sell-apartment-bg@desk.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;

	-webkit-tap-highlight-color: transparent;

	@include max-screen($small_tablet) {
		position: relative;
	}
}

.sell-apartment__breadcrumbs {
	margin-bottom: 5rem;
}

.sell-apartment__title {
	margin-bottom: 1.5rem;

	@include max-screen($small_tablet) {
		width: 83%;
	}
}

.sell-apartment__slogan {
	margin-bottom: 5.5rem;

	font-family: "Geometria", Arial, sans-serif;
	font-size: 2.5rem;

	@include max-screen($large_mobile) {
		font-size: 1.2rem;
	}

	@include max-screen($small_tablet) {
		margin-bottom: 3.5rem;
	}
}

p.sell-apartment__applications.sell-apartment__applications_mobile {
	display: none;

	@include max-screen($small_tablet) {
		display: block;
		width: 90%;
		margin-bottom: 3.5rem;
		padding-left: 3rem;

		font-size: 1.4rem;
		line-height: 1.5;
		font-weight: bold;

		background-size: 1.5rem 1.5rem;
		background-position: 0 2px;
	}

	@include min-screen($large_mobile + 1) {
		font-size: 1.6rem;
	}
}

.sell-apartment__addition {
	display: flex;
	margin-bottom: 3rem;

	font-size: 1.8rem;

	@include max-screen($large_mobile) {
		font-size: 1rem;
	}
}

.sell-apartment__applications {
	width: 22%;
	margin-right: 15.2%;
	padding-left: 4rem;

	background-image: url("/img/red-star.svg");
	background-repeat: no-repeat;
	background-position: 0.2rem 0.7rem;
	background-size: 1.8rem 1.8rem;

	@include max-screen(1147px) {
		margin-right: 21.5%;
	}

	@include max-screen($large_tablet) {
		width: 25%;
		margin-right: 19%;
	}

	@include max-screen($sell-form-tab-breakpoint) {
		margin-right: 17.2%;
	}

	@include max-screen($small_tablet) {
		display: none;
	}
}

.sell-apartment__assessment {
	width: 39.6%;

	@include max-screen($large_tablet) {
		width: 56%;
	}

	@include max-screen($large_mobile) {
		width: 100%;
	}
}

.sell-apartment__overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 601;

	display: none;
	width: 100%;
	height: 100%;

	background-color: #000000;
	opacity: 0.5;
}

.sell-apartment__brake-header-bottom {
	display: none;
}

.sell-apartment-bottom-wrap {
	.sell-apartment {
		padding-top: 12.5rem;

		@include max-screen($large_mobile) {
			padding-top: 5rem;
		}
	}

	.sell-apartment__slogan {
		font-size: 4.6rem;
		font-weight: bold;

		@include max-screen($large_tablet) {
			margin-bottom: 2.5rem;

			font-size: 3.6rem;
		}

		@include max-screen($large_mobile) {
			font-size: 2.6rem;
			text-align: center;
		}
	}

	.sell-apartment__brake-header-bottom {
		@include max-screen($large_mobile) {
			display: inline;
		}
	}
}
