.service {
	padding-top: 12rem;
	padding-bottom: 12rem;

	&_noscope {
		padding: 0 !important;
	}

	@include max-screen($large_tablet) {
		padding: 9rem 0;
	}

	@include max-screen($large_mobile) {
		padding-top: 5rem;
		padding-bottom: 2.8rem;
	}

	&__button {
		display: none;
	}

	&__more {
		width: 100%;
	}

	&__row {
		margin-left: -26/1336 * 100%;
		margin-right: -26/1336 * 100%;

		&.is-inline {
			.service__item {
				&:hover,
				&:focus {
					transform: translateY(0);
				}
			}
		}

		@include min-screen($large_tablet + 1) {
			&.is-inline {
				.service {
					&__mark {
						// margin-top: 4px;
						// margin-bottom: 4px;

						&-list {
							margin-top: 42/998 * 100%;
							margin-bottom: 26/998 * 100%;
							padding-left: 72/998 * 100%;
							padding-right: 60/998 * 100%;
						}
					}
					&__text {
						position: absolute;
						right: 0;
						top: 0;
						margin-right: 60/998 * 100%;
						margin-top: 44/998 * 100%;
					}
					&__table {
						display: flex;
						flex-wrap: wrap;
						margin-bottom: 0;
						text-align: center;

						width: 550/865 * 100%;

						&-bold {
							font-size: 2.4rem;
						}

						&-row {
							flex-direction: column;

							&:not(:last-child) {
								margin-right: 45/550 * 100%;
							}
						}

						&-cell {
							width: auto;
							padding-right: 0;

							&:nth-child(2) {
								order: 1;
								margin-bottom: -5px;
							}

							&:nth-child(1) {
								order: 2;
							}
						}
					}
					&__head {
						width: 338/1336 * 100%;
						min-height: 0;
						padding-top: 19/1336 * 100%;
						padding-left: 31/1336 * 100%;
						padding-right: 31/1336 * 100%;
						padding-bottom: 24/1336 * 100%;

						&-top {
							margin-top: 15/338 * 100%;
							padding-left: 31/338 * 100%;
							padding-right: 31/338 * 100%;
						}
					}

					&__like {
						font-size: 2.4rem;
						.like__icon {
							width: 2.1rem;
							margin-top: -1rem;
						}
					}

					&__button {
						display: flex;
						width: 270/865 * 100%;
						padding-left: 0;
						padding-right: 0;
						margin-top: 8px;
					}

					&__body {
						width: 998/1336 * 100%;
						position: relative;

						&-inner {
							padding-left: 72/998 * 100%;
							padding-right: 60/998 * 100%;
							padding-bottom: 36/998 * 100%;

							display: flex;
							justify-content: space-between;
						}
					}
					&__item {
						display: flex;
						flex-wrap: wrap;

						width: 1336/1388 * 100%;
						// margin: 26/1388*100%;
					}
				}
			}
		}

		@include screen($large_tablet + 1, $small_desktop) {
			&.is-inline {
				.service {
					&__mark {
						&-list {
							padding-left: 3%;
							padding-right: 3%;
						}
					}
					&__text {
						margin-right: 3%;
					}
					&__table {
						&-row {
							&:not(:last-child) {
								margin-right: 4%;
							}
						}
					}
					&__body {
						&-inner {
							padding-left: 3%;
							padding-right: 3%;
						}
					}
				}
			}
		}

		@include max-screen($large_mobile) {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		@include max-screen($small_mobile) {
			max-width: 100%;
		}
	}

	&__text {
		line-height: 4rem;
	}

	&__table {
		margin-bottom: 0.7rem;

		&-text {
			color: #868686;
			line-height: 4rem;
			font-weight: 400;
		}

		&-bold {
			line-height: 4rem;
		}

		&-cell {
			width: 133/258 * 100%;
			line-height: 4rem;
			padding-right: 1.5rem;

			&:nth-child(2n) {
				width: 125/258 * 100%;
				padding-right: 0;
			}
		}
	}

	&__item {
		width: 410/1388 * 100%;
		margin: 26/1388 * 100%;
		background: #ffffff;
		border-radius: 5px;
		overflow: hidden;
		transition: .3s ease;

		.service__name {
			display: inline;
			background-image: linear-gradient(to bottom, transparent 49%, #FF0600 49%);
			background-size: 0 5px;
			background-repeat: no-repeat;
			background-position: 0 89%;
			transition: background-size .5s;
		}

		&:hover,
		&:focus {
			transform: translateY(-.5rem);
			box-shadow: 0 12px 40px rgba(0,0,0,.08);

			.service__name {
				background-size: 100% 5px;
			}

			.link {
				color: #FF0600;
			}

			.arrow {
				stroke: #FF0600;
				fill: #FF0600;
				margin-right: 0;
				width: 1.8rem;
			}

			.triangle {
				stroke: #FF0600;
				transition: all .3s;
			}

			.stroke {
				fill: #FF0600;
			}
		}

		&_shadow {
			.service {
				&__head {
					&:after {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.4);
					}
				}
			}
		}

		// @include max-screen($large_tablet) {
		// 	padding: 4.05187% 3% 4.46686% 3%;
		// }

		@include max-screen($large_mobile) {
			width: 100%;
			margin: 20px 0;
		}

		// @include max-screen($large_mobile) {
		// 	padding-left: 51/290*100%;
		// 	padding-right: 51/290*100%;
		// 	padding-top: 60/290*100%;
		// 	padding-bottom: 54/290*100%;
		// }
	}

	&__mark-list {
		margin: 1.7rem 0;
		padding-left: 76/410 * 100%;
		padding-right: 29/410 * 100%;
	}

	&__title {
		margin-bottom: 3.6rem;

		@include max-screen($large_mobile) {
			margin-bottom: 1.8rem;
			text-align: center;
		}
	}

	&__body {
		// border-top: 1px solid #B3B3B3;
		// padding-top: 66/270*100%;

		padding-left: 76/410 * 100%;
		padding-right: 76/410 * 100%;
		padding-top: 39/410 * 100%;
		padding-bottom: 30/410 * 100%;

		&_small {
			padding-top: 17/410 * 100%;
			padding-bottom: 11/410 * 100%;
		}

		&_noscope {
			padding: 0 !important;
		}

		&-inner {
			padding-left: 76/410 * 100%;
			padding-right: 76/410 * 100%;
			padding-bottom: 11/410 * 100%;
			// padding-top: 39/410*100%;
			// padding-bottom: 30/410*100%;
		}

		@include max-screen($large_tablet) {
			padding: 9.5122% 11.53659% 9.31707%;
		}

		@include max-screen($large_mobile) {
		}
	}

	&__type {
		padding-left: 2.5rem;
		position: relative;
		margin-right: 3.2rem;
		cursor: pointer;
		color: #b4b4b4;
		fill: #b4b4b4;
		transition: ease 0.25s;

		svg {
			position: absolute;
			left: 0;
			top: 0;
			margin-top: 0.7rem;
			width: 1.3rem;
		}

		&.is-active {
			color: #0e0e0e;
			fill: #0e0e0e;
			pointer-events: none;
		}
	}

	&__list {
		margin-bottom: 35/258 * 100%;

		&-top {
			margin-top: 6rem;
			margin-bottom: 6.3rem;
		}

		&-more {
			width: 380px;
			max-width: 100%;
			margin: auto;
			padding-top: 2rem;
			display: none;
		}

		.list__item {
			&:before {
				top: 1.5rem;
			}
		}

		@include max-screen($small_desktop) {
			&-top {
				margin-top: 5rem;
				margin-bottom: 2.3rem;
			}
		}

		@include max-screen($large_mobile) {
			margin-bottom: 2.6rem;

			&-more {
				display: block;
			}
		}
	}

	&__name {
		font-weight: bold;
		line-height: 2.6rem;
	}

	&__head {
		padding-left: 76/410 * 100%;
		padding-right: 76/410 * 100%;
		padding-bottom: 19/410 * 100%;
		padding-top: 64/410 * 100%;
		display: flex;
		position: relative;
		min-height: 22.8rem;
		align-items: flex-end;
		color: #fff;

		&-bg {
		}

		&-top {
			top: 0;
			left: 0;
			width: 100%;
			margin-top: 17/410 * 100%;
			padding-left: 76/410 * 100%;
			padding-right: 76/410 * 100%;
			z-index: 15;
			position: absolute;
		}

		&-inner {
			z-index: 15;
			position: relative;
		}
	}

	@include max-screen($large_tablet) {
		&__head {
			min-height: 22.8rem;
			padding-left: 11.53659%;
			padding-right: 11.53659%;
			padding-top: 55px;

			&-top {
				padding-left: 11.53659%;
				padding-right: 11.53659%;
			}
		}
		&__mark {
			&-list {
				padding-left: 11.53659%;
				padding-right: 7.07317%;
			}
		}
		&__body {
			&-inner {
				padding-left: 11.53659%;
				padding-right: 11.53659%;
				padding-bottom: 5.68293%;
			}
		}

		&__list {
			&-top {
				display: none;
			}
		}
	}

	@include max-screen($small_tablet) {
		&__item {
			width: 46.2536%;
		}
	}

	@include max-screen($large_mobile) {
		&__row {
			width: 380px;
			max-width: 100%;
		}

		&__item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		&__name {
			line-height: 2.1rem;
		}

		&__head {
			padding-bottom: 18px;
			min-height: 16rem;
		}

		&__body {
			&-inner {
				padding-left: 3.2rem;
				padding-right: 3.2rem;
				padding-bottom: 13px;
			}
		}

		&__like {
			line-height: 3rem;
		}

		&__text {
			line-height: 1.4rem;
			font-size: 1rem;
		}

		&__table {
			margin-bottom: 13px;

			&-text,
			&-bold {
				line-height: 3rem;
			}
		}

		&__mark {
			&-list {
				padding-left: 3.2rem;
				padding-right: 1rem;
				margin-top: 8px;
				margin-bottom: 10px;
			}
		}
	}
}
