.sertificates {
	padding-top: 7.5rem;

	&__container {
		&-photo {
			display: block;
			transition: .6s;

			@include max-screen($large_tablet) {
				margin: auto;
			}

			&:hover,
			&:focus {
				transform: translateY(-.5rem);
				box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, 0.2);

				.sertificates__cert-photo {
					filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
					-webkit-filter: grayscale(0%);
				}
			}
		}
	}

	&__wrap {
		@include max-screen($small_tablet) {
			padding: 0;
		}
	}

	@include max-screen($small_tablet) {
		padding-top: 4.8rem;
	}
	&__box {
		width: 50%;
		@include max-screen($small_tablet) {
			width: 100%;
		}
	}
	&__title {
		@include max-screen($small_tablet) {
			text-align: center;
		}
	}
	&__list-cert {
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		display: flex;
		flex-wrap: wrap;
		margin-top: 8rem;
		margin-left: -9.9rem;
		margin-bottom: 2rem;
		@include max-screen($small_desktop) {
			margin-left: 0;
		}
		@include max-screen($large_tablet) {
			margin-top: 2.5rem;
			padding-bottom: 5.4rem;
			padding-left: 15px;
			margin-bottom: 4.5rem;
		}
	}
	&__item-cert {
		margin-left: 9.8rem;
		margin-bottom: 9.9rem;
		@include max-screen($large_tablet) {
			margin-bottom: 0;
			margin-left: 0;
			min-height: 283px;
			align-items: center;
			display: flex;
		}
	}
	&__cert-photo {
		filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		transition: 1s;

		@include max-screen($large_tablet) {
			width: 100%;
			max-height: 283px;
			margin: 0 auto;
			object-fit: contain;
		}
	}
	&__counter {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 6px;
		text-align: center;
		pointer-events: none;
		font-size: 12px;
		font-weight: 500;
		display: none;

		&-total {
			color: #797979;
		}
		@include max-screen($large_tablet) {
			display: block;
		}
	}
}
