.service{
	padding-top: 12rem;
	padding-bottom: 12rem;

	@include max-screen($large_tablet) {
		padding: 9rem 0;
	}

	@include max-screen($large_mobile) {
		padding-top: 5rem;
		padding-bottom: 2.8rem;
	}

	&__row{
		margin-left: -26/1336*100%;
		margin-right: -26/1336*100%;

		@include max-screen($large_mobile) {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		@include max-screen($small_mobile) {
			max-width: 100%;
		}
	}

	&__item{
		width: 410/1388*100%;
		margin: 26/1388*100%;
		background: #FFFFFF;
		border-radius: 5px;

		padding-left: 76/1388*100%;
		padding-right: 64/1388*100%;
		padding-top: 84/1388*100%;
		padding-bottom: 62/1388*100%;

		@include max-screen($large_tablet) {
			padding: 4.05187% 3% 4.46686% 3%;
		}

		@include max-screen($large_mobile) {
			width: 100%;
			margin: 17px 0;
		}

		@include max-screen($large_mobile) {
			padding-left: 51/290*100%;
			padding-right: 51/290*100%;
			padding-top: 60/290*100%;
			padding-bottom: 54/290*100%;
		}
	}

	&__title{
		margin-bottom: 3.6rem;

		@include max-screen($large_mobile) {
			margin-bottom: 1.8rem;
			text-align: center;
		}
	}

	&__body{
		margin-top: 66/270*100%;
		border-top: 1px solid #B3B3B3;
		padding-top: 66/270*100%;

		@include max-screen($large_mobile) {
			margin-top: 43/187*100%;
			padding-top: 30/187*100%;
		}
	}

	&__list{
		margin-bottom: 66/270*100%;
		.list__item{
			&:before{
				top: 1.5rem;
			}
		}

		@include max-screen($large_mobile) {
			margin-bottom: 36/187*100%;
		}
	}

	&__name{
		font-weight: bold;
	}

	&__head{
		&-cell{
			&_icon{
				width: 80/270*100%;
				margin-right: 30/270*100%;
			}

			&_name{
				width: 160/270*100%;
			}
		}

		@include max-screen($large_tablet) {
			align-items: center;
		}

		@include max-screen($small_tablet) {
			display: block;

			&-cell{
				width: 100%;
				margin-right: 0;
				&_icon{
					width: 4rem;
					margin-bottom: 2rem;
				}
			}
		}

		@include max-screen($large_mobile) {
			display: flex;
			&-cell{
				&_icon{
					width: 44/187*100%;
					margin-right: 26/187*100%;
					margin-bottom: 0;
				}

				&_name{
					width: 117/187*100%;
				}
			}
		}
	}
}