.square-button {
	border: 1px solid $red;
	border-radius: 5px;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	font-weight: 500;
	color: $red;
	max-width: 100%;
	padding: 0 3rem;
	@extend .small;
	font-family: "Geometria";

	&__icon {
		fill: $red;

		&_arrow {
			width: 7px;
			height: 13px;
			margin-left: 1.2rem;
		}
	}
}
