.stroke{
	position: relative;
	display: inline-block;

	&:before{
		content: '';
		display: block;
		background-color: $red;
		height: 10px;
		position: absolute;
		left: 0;
		bottom: 9px;
		right: 0;
		z-index: -1;
	}
}