.stroke{
	position: relative;
	display: inline-block;

	&:before{
		content: '';
		display: block;
		background-color: $red;
		height: 1rem;
		position: absolute;
		left: 0;
		bottom: .9rem;
		right: 0;
		z-index: -1;
	}

	@include max-screen($small_tablet) {
		&:before{
			height: 5px;
			bottom: 7px;
		}
	}
	@include max-screen($large_mobile) {
		&:before{
			height: 3px;
			bottom: 5px;
		}
	}
}