.subscribe{
	overflow: hidden;
	padding-top: 17rem;
	z-index: 50;
	position: relative;
	background: #F3F3F3;

	@include max-screen($large_tablet) {
		padding-top: 10rem;
	}

	@include max-screen($small_tablet) {
		//margin-left: -15px;
		//margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
	}

	&__book{
		width: 1074/713*100%;
		margin-left: -31.31557%;
		position: absolute;
		left: 0;
		bottom: 100%;
		margin-bottom: -15%;
		user-select: none;
		pointer-events: none;

		@include max-screen($large_tablet) {
			margin-bottom: -9%;
		}

		@include max-screen($large_mobile) {
			bottom: 0;
			width: 146.68167%;
			margin-left: -30.34084%;
			margin-bottom: 56.98071%;
		}
	}

	&__box{
		z-index: 10;
		position: relative;
		&-icon{
			width: 3.5rem;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1.5rem;
			fill: $red;
		}

		&-sub{
			position: relative;
			padding-left: 6.8rem;
			margin-bottom: 2.1rem;
		}

		&-text{
			padding-left: 6.8rem;
			font-weight: 400;
		}

		&-mobile{
			display: none;
		}

		@include max-screen($large_tablet) {

			&-text{
				font-size: 1.4rem;
			}
		}

		@include max-screen($large_mobile) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 31.43408%;//48/311*100%;
			// padding-left: 45/311*100%;
			// padding-right: 45/311*100%;

			&-text{
				padding-left: 48px;
				position: relative;
				// padding-right: 10%;
			}
			&-icon{
				display: none;
			}

			&-sub{
				padding-left: 0;
				font-size: 1.4rem;
				margin-bottom: 1.1rem;
			}

			&-mobile{
				position: absolute;
				left: 0;
				top: 0;
				width: 22px;
				display: block;
				fill: $red;
			}
		}

		@include max-screen($small_mobile) {
			margin-bottom: 48/311*100%;

			&-text{
				width: 201px;
				max-width: 100%;
				// padding-right: 15%;
			}
		}
	}

	&__cell{
		&_left{
			width: 462/1336*100%;
			padding-bottom: 12rem;
		}

		&_right{
			width: 713/1336*100%;
			position: relative;
			padding-bottom: 113/1336*100%;
			padding-left: 151/1336*100%;
			padding-right: 151/1336*100%;

			&:before{
				content: '';
				display: inline-block;
				box-sizing: border-box;
				height: auto;
				position: absolute;
				left: 0;
				bottom: 0;
				padding-top: 100%;
				border-radius: 50%;
				background-color: #fff;
				width: 100%;
				margin-bottom: -47/713*100%;
			}
		}

		@include max-screen($large_tablet) {
			&_left{
				width: 44.58084%;
			}

			&_right{
				padding-bottom: 4.45808%;
				padding-left: 7.3024%;
				padding-right: 7.3024%;
			}
		}

		@include max-screen($small_tablet) {
			&_right{
				padding-left: 5.3024%;
				padding-right: 5.3024%;
				width: 50.36826%;
			}
		}

		@include max-screen($large_mobile) {
			width: 100%;
			margin-right: 0;

			&_right{
				padding-left: 0;
				padding-right: 0;
				order:1;
				width: 286px;
				margin: auto;
				margin-bottom: 3.9rem;
				&:before{
					position: relative;
					width: 311/230*100%;
					padding-top: 311/230*100%;
					margin-left: -(311/8)/230*100%;
				}
			}
			&_left{
				order: 2;
				padding-bottom: 4.5rem;
			}
		}
	}

	&__title{
		margin-bottom: 6rem;

		@include max-screen($large_mobile) {
			text-align: center;
			margin-bottom: 8.7rem;
		}
	}

	&__form{
		margin-top: 7.1rem;
		padding-right: 5.7rem;

		@include max-screen($small_tablet) {
			padding-right: 0;
			margin-top: 3.1rem;
		}

		@include max-screen($large_mobile) {
			margin-top: 2.4rem;
		}
	}


	&__sub{
		margin-bottom: 2.8rem;

		@include max-screen($large_mobile) {
			font-size: 1.4rem;
			margin-bottom: 1.1rem;
		}
	}

	&_min {
		@media (min-width: $large_tablet + 1) {
			padding-top: 0;

			.subscribe__book {
				margin-left: -10%;
				margin-bottom: -5%;
			}

			.subscribe__box {
				&-sub {
					font-weight: 500;
					padding-left: 3.1rem;
				}
				&-icon {
					width: 1.7rem;
				}
				&-text {
					padding-left: 3.1rem;
				}
			}

			.subscribe__cell {
				&_left{
					width: 416/872*100%;
					padding-bottom: 5.7rem;
				}

				&_right {
					width: 439/872*100%;
					padding-left: 148/1336*100%;
					padding-right: 88/1336*100%;
					padding-bottom: 6.2rem;

					&::before {
						margin-left: 3rem;
					}
				}
			}

			.subscribe__title {
				font-weight: 700;
				margin-bottom: 5.6rem;
			}

			.input_big .input__item {
				font-size: 2.4rem;
			}
			.subscribe__form {
				padding-right: 0;
			}
		}

		@include max-screen($large_tablet) {
			padding-top: 0;
			background-color: #FFFFFF
		}

		.subscribe__cell {
			&_right {
				&::before {
					@include max-screen($large_tablet) {
						background-color: #F3F3F3;
					}
					@include max-screen($large_mobile) {
						width: 31.1rem;
						padding-top: 31.1rem;
						margin-left: -2.1rem;
					}
				}
			}
		}

		.subscribe__title {
			@include max-screen($large_mobile) {
				font-size: 2.6rem;
				text-align: left;
				margin-bottom: 10rem;
				padding-right: 40px;
			}
		}

		.subscribe__book {
			@include max-screen($large_tablet) {
				bottom: 100%;
				width: 100%;
				margin-left: 1rem;
			}
			@include max-screen($large_mobile) {
				bottom: 50%;
				width: 29.7rem;
				margin-left: 0%;
				margin-bottom: 0;
			}
		}

		.subscribe__box {
			@include max-screen($large_mobile) {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin-bottom: 3.2rem;
				padding-left: 2rem;
				padding-bottom: 3.2rem;
				padding-right: 3.3rem;

				&-text{
					width: 227.5px;
					padding-left: 0;
					position: relative;
				}
				&-icon{
					display: none;
				}

				&-sub{
					padding-left: 0;
					font-size: 1.4rem;
					margin-bottom: 0.3rem;
					font-weight: 500;
					& br {
						display: none;
					}
				}

				&-mobile{
					position: absolute;
					left: 0;
					top: -64%;
					width: 22px;
					display: block;
					fill: $red;
				}
			}
		}
	}

}
