.subscribe {
	overflow: hidden;

	padding-top: 17rem;
	z-index: 50;
	position: relative;
	background: #f3f3f3;

	@include max-screen($large_tablet) {
		padding-top: 10rem;
	}

	@include max-screen($small_tablet) {
		//margin-left: -15px;
		//margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	@include max-screen($large_mobile) {
		padding-top: 5.1rem;
	}

	&_main,
	&_article {
		@include max-screen($large_mobile) {
			margin-right: -1.5rem;
			margin-left: -1.5rem;
		}
	}

	&__inner {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;

		&:before {
			content: "";
			display: inline-block;
			box-sizing: border-box;
			height: auto;
			position: absolute;
			left: 0;
			bottom: 0;
			padding-top: 100%;
			border-radius: 50%;
			background-color: #fff;
			width: 100%;
			margin-bottom: -47/713 * 100%;
		}

		@include max-screen($large_mobile) {
			position: relative;
			&:before {
				bottom: 22px;
				position: relative;
				width: 311/230 * 100%;
				padding-top: 311/230 * 100%;
				// margin-left: -(311/8)/230 * 100%;
				margin-left: -22.90217%;

				margin-bottom: -21.59187%;
			}
		}
	}

	&__book {
		width: 932/713 * 100%;
		// margin-left: -31.31557%;
		// margin-left: -466/713 * 100%;
		margin-left: -75.358%;
		position: absolute;
		left: 50%;
		// bottom: 100%;
		// margin-bottom: -15%;
		bottom: 100%;
		// margin-bottom: -44/713 * 100%;
		margin-bottom: -13.171%;
		user-select: none;
		pointer-events: none;

		@include max-screen($large_tablet) {
			margin-bottom: -9%;
		}

		@include max-screen($large_mobile) {
			// bottom: 0;
			// width: 146.68167%;
			// margin-left: -30.34084%;
			// margin-bottom: 56.98071%;
			bottom: auto;
			top: 0;
			margin-bottom: 0;
			margin-top: -115/230 * 100%;

			width: 156.13043%;
			margin-left: -33.08696%;
			left: 0;
		}
	}

	&__box {
		z-index: 10;
		position: relative;

		&-icon {
			width: 3.5rem;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1.5rem;
			fill: $red;
		}

		&-sub {
			position: relative;
			padding-left: 6.8rem;
			margin-bottom: 2.1rem;
		}

		&-text {
			padding-left: 6.8rem;
			font-weight: 400;
		}

		&-mobile {
			display: none;
		}

		@include max-screen($large_tablet) {
			&-text {
				font-size: 1.4rem;
			}
		}

		@include max-screen($large_mobile) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 31.43408%; //48/311*100%;
			// padding-left: 45/311*100%;
			// padding-right: 45/311*100%;

			&-text {
				padding-left: 0;
				// padding-right: 10%;
			}
			&-icon {
				// display: none;
				display: block;
				width: 2.2rem;
				margin-bottom: 1.4rem;
				position: relative;
			}

			&-sub {
				padding-left: 0;
				font-size: 1.4rem;
				margin-bottom: 1.1rem;
			}

			&-mobile {
				position: absolute;
				left: 0;
				top: 0;
				width: 22px;
				display: block;
				fill: $red;
			}
		}

		@include max-screen($small_mobile) {
			margin-bottom: 48/311 * 100%;
		}
	}

	&__cell {
		&_left {
			width: 462/1336 * 100%;
			padding-bottom: 12rem;
		}

		&_right {
			margin-bottom: -38/1336 * 100%;
			width: 713/1336 * 100%;
			position: relative;
			padding-bottom: 123/1336 * 100%;
			padding-left: 142/1336 * 100%;
			padding-right: 151/1336 * 100%;
		}

		.subscribe__circle {
			display: none;
			//display: inline-block;
			box-sizing: border-box;
			height: auto;
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 50%;
			width: 100%;
			margin-bottom: -47/713 * 100%;
		}

		@include max-screen($large_tablet) {
			&_left {
				width: 44.58084%;
			}

			&_right {
				padding-bottom: 4.45808%;
				padding-left: 7.3024%;
				margin-bottom: 0;
				padding-right: 7.3024%;
			}
		}

		@include max-screen($small_tablet) {
			&_right {
				padding-left: 5.3024%;
				padding-right: 5.3024%;
				width: 50.36826%;
			}
		}

		@include max-screen($large_mobile) {
			width: 100%;
			margin-right: 0;

			&_right {
				padding-left: 0;
				padding-right: 0;
				order: 1;
				width: 286px;
				margin: auto;
				// margin-bottom: 3.9rem;
				// margin-bottom: 7.8rem;
				margin-bottom: 32/260 * 100%;
			}
			&_left {
				order: 2;
				padding-bottom: 4.5rem;
			}
		}
	}

	&__title {
		margin-bottom: 6rem;

		@include max-screen($large_mobile) {
			text-align: center;
			// margin-bottom: 12rem;
			margin-bottom: 120/230 * 100%;
		}
	}

	&__mobile-br {
		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__form {
		margin-top: 7.1rem;
		padding-right: 5.7rem;

		@include max-screen($small_tablet) {
			padding-right: 0;
			margin-top: 3.1rem;
		}

		@include max-screen($large_mobile) {
			margin-top: 2.4rem;
		}
	}

	&__text {
		@include max-screen($large_mobile) {
			font-size: 1.2rem;
		}
	}

	&__sub {
		margin-bottom: 2.8rem;

		@include max-screen($large_mobile) {
			font-size: 1.4rem;
			margin-bottom: 1.1rem;
		}
	}

	&_min {
		overflow: visible !important;
		@media (min-width: $large_mobile + 1) {
			padding-top: 0;

			.subscribe__book {
				// margin-left: -10%;
				// margin-bottom: -5%;
				width: 566/438 * 100%;
				left: 0;
				margin-left: -76/438 * 100%;
				margin-bottom: -21/438 * 100%;
			}

			.subscribe__box {
				&-sub {
					font-weight: 500;
					padding-left: 3.1rem;
					margin-bottom: 1.4rem;
					line-height: 140%;
					padding-right: 5rem;
				}
				&-icon {
					width: 1.7rem;
					margin-top: -0.9rem;
				}
				&-text {
					line-height: 140%;
					padding-left: 3.1rem;
				}
			}

			.subscribe__innner {
				&::before {
					// margin-left: 3rem;
					margin-bottom: 0;
				}
			}

			.subscribe__cell {
				&_left {
					width: 416/872 * 100%;
					padding-bottom: 5.7rem;
				}

				&_right {
					margin-right: -52/872 * 100%;
					width: 439/872 * 100%;
					margin-bottom: 0;
					// padding-left: 148/1336 * 100%;
					// padding-right: 88/1336 * 100%;
					padding-left: 96/872 * 100%;
					padding-right: 80/872 * 100%;
					padding-bottom: 6.2rem;

					// padding-bottom: 0 !important;
				}
			}

			.subscribe__title {
				font-weight: 700;
				margin-bottom: 5.6rem;
			}

			.input_big .input__item {
				font-size: 2.4rem;
			}
			.subscribe__form {
				padding-right: 0;
			}
		}

		@include screen($small_tablet + 1, $large_tablet) {
			.subscribe__box {
				&-sub {
					padding-right: 0;
				}
			}
			.subscribe__cell {
				&_right {
					margin-right: -3%;
					padding-left: 5.00917%;
					padding-right: 4%;
				}
			}
		}

		@include screen($large_mobile + 1, $small_tablet) {
			.subscribe__cell {
				width: 100%;
				&_right {
					margin: 0;
					margin-top: 50vw;
					padding-left: 23.00917%;
					padding-right: 18.17431%;
					// padding-right: 3%;
					// padding-bottom: 4.2rem;
					// margin-right: -10%;
					// width: 55.34404%;
				}
			}
		}

		@include max-screen($large_mobile) {
			padding-top: 0;
			background-color: #ffffff;
		}

		.subscribe__inner {
			&:before {
				background-color: #fff;
			}
			@include max-screen($large_mobile) {
				&:before {
					background-color: #f3f3f3;
					// width: 31.1rem;
					// padding-top: 31.1rem;
					// margin-left: -2.1rem;
					width: 311/260 * 100%;
					padding-top: 311/260 * 100%;
					margin-left: -42/260 * 100%;
					margin-bottom: 0;

					bottom: -15px;
				}
			}
		}

		// .subscribe__cell {
		// 	&_right {
		// 		&::before {
		// 			background-color: #fff;
		// 			@include max-screen($large_mobile) {
		// 				background-color: #f3f3f3;
		// 				// width: 31.1rem;
		// 				// padding-top: 31.1rem;
		// 				// margin-left: -2.1rem;
		// 				width: 311/260 * 100%;
		// 				padding-top: 311/260 * 100%;
		// 				margin-left: -42/260 * 100%;
		// 				margin-bottom: 0;

		// 				bottom: -15px;
		// 			}
		// 		}
		// 	}
		// }

		.subscribe__title {
			@include max-screen($large_mobile) {
				font-weight: bold;
				font-size: 2.6rem;
				text-align: left;
				margin-bottom: 10rem;
				margin-left: -15px;
				padding-right: 10px;
			}
		}

		.subscribe__book {
			// @include max-screen($large_mobile) {

			// }
			@include max-screen($large_mobile) {
				bottom: 100%;
				width: 100%;
				margin-left: 1rem;

				// bottom: 0%;
				margin-top: -85/260 * 100%;
				margin-left: -37/260 * 100%;
				width: 297/260 * 100%;
				margin-bottom: 0;
			}
		}

		.subscribe__box {
			@include max-screen($large_mobile) {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin-bottom: 3.2rem;
				// padding-left: 2rem;
				padding-bottom: 4rem;
				padding-right: 0;

				&-text {
					width: 227.5px;
					padding-left: 0;
					position: relative;
				}
				// &-icon {
				// 	display: none;
				// }

				&-sub {
					padding-left: 0;
					font-size: 1.4rem;
					margin-bottom: 0.3rem;
					font-weight: 500;
					& br {
						display: none;
					}
				}

				&-mobile {
					position: absolute;
					left: 0;
					top: -64%;
					width: 22px;
					display: block;
					fill: $red;
				}
			}
		}
	}
}
