.success-auction {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include max-screen($small_tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__wrap {
    max-width: 1420px;
    padding: 1rem 0 0;

    @include max-screen($small_tablet) {
      padding: 1.5rem 0 7rem;
    }
  }

  &__top-content {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 4.5rem;
    padding: 1.9rem 2rem;

    background-color: rgba(196, 196, 196, 0.1);

    @include max-screen($small_tablet) {
      margin: 0 1.5rem 2.5rem;
      padding: 1.2rem 2rem;
    }
  }

  &__success-icon-wrap {
    width: 2rem;
    height: 2rem;
    margin-right: 1.1rem;

    @include max-screen($small_tablet) {
      position: absolute;
      top: 0;
      left: 50%;

      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0;

      transform: translate(-50%, -50%);
    }

    .circle {
      fill: #19C13E;
    }

    .check {
      stroke: white;
      stroke-width: 2;
    }
  }

  &__icon-succes {
    @include max-screen($small_tablet) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__top-text {
    font-size: 1.4rem;

    @include max-screen($small_tablet) {
      font-size: 1rem;
      text-align: center;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: .9rem;

    @include max-screen($small_tablet) {
      width: 90%;
      margin-bottom: 1.5rem;

      text-align: center;
    }
  }

  &__slogan {
    margin-bottom: 3.8rem;

    text-align: center;

    @include max-screen($small_tablet) {
      margin-bottom: 3rem;

      font-size: 1.4rem;
    }

    .slogan-brake {
      @include min-screen($small_tablet + 1) {
        display: none;
      }
    }
  }

  &__slogan-brake {
    @include min-screen($small_tablet + 1) {
      display: none;
    }
  }

  &__form {
    display: flex;
    align-items: flex-start;

    @include max-screen($small_tablet) {
      flex-direction: column;
      align-items: center;
    }

    .form__email {
      flex-shrink: 0;
      width: 32rem;
      margin-right: 4rem;

      @include max-screen($small_tablet) {
        width: 92%;
        max-width: 50rem;
        margin: 0 auto 2rem;

        .input__item {
          height: 3.4rem;

          font-size: 1.9rem;
          text-align: center;
        }
      }
    }

    .form__submit-wrap {
      @include max-screen($small_tablet) {
        width: 92%;
      }
    }

    .form__button {
      flex-shrink: 0;
      width: 31.5rem;
      margin-bottom: 1rem;

      @include max-screen($small_tablet) {
        width: 100%;
      }
    }

    .checkbox__check {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }

  &__bottom {
    position: relative;
  }

  &__indicator {
    position: absolute;
    top: 1.2rem;
    left: 47%;
    z-index: 1;

    width: .4rem;
    height: 36.3rem;

    background-color: #FF0400;

    @include max-screen($small_tablet) {
      top: 2.2rem;
      left: 52%;

      width: .3rem;
      height: 23.5rem;
    }
  }

  &__prompt {
    position: absolute;
    top: -6rem;
    right: 4rem;

    display: flex;

    font-size: 1.4rem;
    color: rgba(14, 14, 14, 0.5);

    @include max-screen($large_tablet) {
      top: -24rem;
      right: -1rem;
    }

    @include max-screen($small_tablet) {
      top: 27rem;
      left: 50%;

      display: flex;
      justify-content: center;
      width: 15.5rem;

      font-size: 1rem;

      transform: translateX(-50%);
    }
  }

  &__prompt-star {
    position: absolute;
    top: -1.4rem;
    left: -1.4rem;

    font-size: 2.2rem;

    @include max-screen($small_tablet) {
      top: 0;

      font-size: 1rem;
    }
  }

  &__prompt-text {
    width: 17rem;

    @include max-screen($small_tablet) {
      flex-shrink: 0;

      white-space: nowrap;
    }
  }

  &__carusel-wrap {
    overflow: hidden;
  }

  &__carusel {
    position: relative;
    right: 54rem;

    display: flex;
    padding-top: 3rem;

    list-style: none;

    @include max-screen($small_tablet) {
      right: 62.5rem;
    }
  }

  &__item {
    position: relative;

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 24.8rem;
    height: 32.5rem;
    margin-right: .8rem;
    margin-bottom: 2rem;
    padding: 5.4rem 2.3rem 2.4rem 3rem;

    @include max-screen($small_tablet) {
      width: 16rem;
      height: 22rem;
      padding: 3.4rem 1rem 2rem 1.8rem;
    }

    &_opened {
      position: absolute;
      z-index: 1000;
      top: 50%;
      left: 50%;

      margin: 0;

      transform: translate(-50%, -50%) scale(1.4);
      transition: ease .2s;

      background: radial-gradient(circle at 60px 0,transparent calc(30px - 1px),#fff 30px) !important;

      animation-name: openWinnerItem;
      animation-duration: .4s;
      animation-timing-function: ease;

      @include max-screen($small_tablet) {
        background: radial-gradient(circle at 37px 0,transparent calc(20px - 1px),#fff 20px)!important;
      }

      .icon-button__icon {
        background-color: transparent !important;

        @include max-screen($small_tablet) {
          left: 2rem !important;
        }

        svg {
          stroke: #ffffff !important;
        }
      }

      .mfp-close {
        top: -6.5rem;
        right: -1.8rem;

        font-family: auto;
        font-weight: normal;
        color: #ffffff;

        opacity: 1;

        &:hover,
        &:focus {
            opacity: .65;
        }
      }
    }

    &:hover,
    &:focus {
      color: #0E0E0E;

      background-color: #F3F3F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .icon-button__icon svg {
        stroke: #0E0E0E;
      }
    }

    &::selection {
      background: transparent;
    }

    &::-moz-selection {
      background: transparent;
    }

    .icon-button__icon {
      top: 0;
      left: 3rem;

      width: 6rem;
      height: 6rem;
      margin-top: 0;
      border-radius: 50%;

      transform: translateY(-50%);

      @include max-screen($small_tablet) {
        left: 1rem;

        width: 3.5rem;
        height: 3.5rem;

        background-color: #ffffff;
      }

      svg {
        width: 2.7rem;

        stroke-linecap: round;

        @include max-screen($small_tablet) {
          width: 1.5rem;
        }
      }
    }

    .icon-button__text {
      position: relative;
      z-index: 1;

      &::selection {
        background: transparent;
      }

      &::-moz-selection {
        background: transparent;
      }

      br {
        &::selection {
          background: transparent;
        }

        &::-moz-selection {
          background: transparent;
        }
      }
    }

    .icon-button__prize-fire-wrap {
      display: block;
      width: 2rem;
    }

    .icon-button__prize-wrap {
      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;

      margin-top: auto;

      &::selection {
        background: transparent;
      }

      &::-moz-selection {
        background: transparent;
      }
    }

    .icon-button__prize-text {
      font-size: 1.2rem;

      @include max-screen($small_tablet) {
        font-size: .7rem;
      }

      &::selection {
        background: transparent;
      }

      &::-moz-selection {
        background: transparent;
      }
    }

    .icon-button__prize-amount {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      padding-right: 4rem;

      font-size: 1.9rem;
      font-weight: bold;
      color: #FF0600;

      @include max-screen($small_tablet) {
        padding-right: 3rem;

        font-size: 1.2rem;
      }

      &::selection {
        background: transparent;
      }

      &::-moz-selection {
        background: transparent;
      }
    }

    .icon-button__prize-fire-wrap {
      position: absolute;
      right: .6rem;
      top: -.5rem;

      width: 3rem;

      @include max-screen($small_tablet) {
        top: -.2rem;
        right: .6rem;

        width: 1.8rem;
      }
    }

    .icon-button__image-wrapper {
      position: absolute;

      img {
        &::selection {
          background: transparent;
        }

        &::-moz-selection {
          background: transparent;
        }
      }
    }
  }
}

.icon-button {
  &_reclame {
    .icon-button__image-wrapper {
      right: 1rem;
      bottom: 0;

      width: 45%;
    }
  }

  &_encumbrances {
    .icon-button__image-wrapper {
      left: 0;
      bottom: 0;

      width: 100%;
    }
  }

  &_promotion {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 55%;
    }
  }

  &_consultation {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 80%;
    }
  }

  &_photo {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 63%;
    }
  }

  &_relocation {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 86%;
    }
  }

  &_docs {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 76%;
    }
  }

  &_cleaning {
    .icon-button__image-wrapper {
      right: 0;
      bottom: 0;

      width: 78%;
    }
  }
}

.form__email.error {
  .input__item {
    @include placeholder() {
      color: #FF0400;
    }
  }
}

@keyframes openWinnerItem {
  0% {
    opacity: 0;
    transform: translate(-50%, -47%) scale(1.4);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
