.top {
	position: relative;

	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 62.5rem;
		padding: 7.3rem 10.9rem 6.8rem;
	}

	&__category {
		position: relative;
		z-index: 15;
		align-self: flex-start;
		margin-bottom: 2rem;
		font-weight: 500;
	}

	&__title {
		position: relative;
		z-index: 15;
		max-width: 57.3rem;
	}

	&__author {
		position: relative;
		z-index: 15;
		align-self: flex-start;
		max-width: 49.5rem;
		padding: 3.1rem 5.5rem;
		margin-top: auto;
		background-color: #FFFFFF;
		border-radius: 5px;
	}

	&__cell {
		&_avatar {
			width: 71px;
			margin-right: 2.8rem;
		}

		&_content {
			width: calc(100% - 71px - 2.8rem);
		}
	}

	&__avatar {
		position: relative;
		padding-top: 100%;
		border-radius: 50%;
		overflow: hidden;
	}

	&__author-text {
		margin-top: 0.3rem;
	}
}