.we-sell-before-after {
  display: flex;
  width: 77%;

  @include max-screen($large_tablet) {
    width: 85%;
    min-width: 750px;
  }

  @include max-screen($small_tablet) {
    width: 100%;
    min-width: 100%;
    margin: 0 -3.3rem;
    padding: 0 3.3rem;
    overflow-x: scroll;

    @include max-screen($large_tablet) {
      padding:0;
      margin: 0;
    }
  }

  &.we-sell__wrap {
    @include max-screen($small_tablet) {
      margin-top: 35rem;
    }

    @include max-screen($large_mobile) {
      margin-top: 26rem;
    }

    @include max-screen(510px) {
      margin-top: 24rem;
    }
  }
}

.we-sell-before-after__phones-wrap {
  position: relative;

  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5.5rem;

  background: linear-gradient(to bottom, transparent 23rem, #ffffff 23rem);

  @include min-screen($small_tablet + 1) {
    justify-content: flex-start;
  }

  @include min-screen($we-sell-mock-mob-breakpoint) {
    justify-content: center;
  }

  @include max-screen($small_tablet) {
    width: 100vw;
    min-width: $we-sell-mock-mob-breakpoint;

    background: linear-gradient(to bottom, transparent 14rem, #ffffff 14rem);
  }

  @include max-screen($large_mobile) {
    min-width: 165%;
  }
}

.we-sell-before-after__phone-wrap {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 3rem;

  @include min-screen($small_tablet + 1) {
    margin-left: auto;
  }

  @include max-screen($large_tablet) {
    width: 30%;
  }

  @include max-screen($small_tablet) {
    min-width: 188px;
  }

  @include max-screen($large_mobile) {
    width: 35%;
  }

  &_before {
    @include max-screen($small_tablet) {
      margin-right: 10%;
    }

    @include max-screen($large_mobile) {
      margin-left: 15px;
      margin-right: 3rem;
    }

    @include max-screen($we-sell-mock-mob-breakpoint) {
      margin-right: 16px;
    }

    .we-sell-before-after__text {
      background-image: url("/img/we-sell-no-success.svg");
      background-size: 2.8rem 2.8rem;
      background-position: -3px 3px;
    }
  }

  &_after {
    margin-right: auto;

    @include max-screen($small_tablet) {
      margin-right: 16px;
    }

    .we-sell-before-after__text {
      background-image: url("/img/we-sell-success.svg");
      background-size: 2.8rem 1.7rem;
      background-position: -3px 5px;
    }
  }
}

.we-sell-before-after__arrow-wrap {
  position: absolute;
  bottom: 36rem;
  left: 50%;

  width: 44px;
  height: 24px;

  transform: translateX(-50%);

  stroke: #0E0E0E;
  stroke-width: 5.78594;

  @include max-screen($large_tablet) {
    bottom: 45%;
  }

  @include max-screen($small_tablet) {
    display: none;
  }
}

.we-sell-before-after {
  .we-sell-before-after__phones-wrap {
    .we-sell-before-after__phone-wrap {
      &_before {
        .we-sell-before-after__text {
          @include max-screen($large_desktop) {
            background-size: 2.3rem 2.3rem;
            background-position: -3px 0;
          }

          @include max-screen($small_tablet) {
            background-size: 1.8rem 2rem;
          }
        }
      }

      &_after {
        .we-sell-before-after__text {
          @include max-screen($large_desktop) {
            background-size: 2.3rem 1.4rem;
            background-position: 0 5px;
          }

          @include max-screen($small_tablet) {
            background-size: 1.8rem 1.2rem;
          }
        }
      }
    }
  }
}

.we-sell-before-after__image-wrap {
  margin-bottom: 4rem;

  @include max-screen($small_tablet) {
    width: 188px;
    margin-bottom: 3rem;
  }
}

.we-sell-before-after__text {
  padding-left: 4rem;

  font-size: 2.4rem;

  background-repeat: no-repeat;

  @include min-screen($large_desktop + 1) {
    font-size: 375%;
  }

  @include max-screen($large_desktop) {
    font-size: 390%;
  }

  @include max-screen($large_tablet) {
    font-size: 1.9rem;
  }

  @include max-screen($small_tablet) {
    padding-left: 2.5rem;

    font-size: 1.4rem;
  }
}
