.we-sell {
  padding-top: 12rem;

  @include max-screen($small_desktop) {
    padding-top: 7rem;
  }

  @include max-screen($small_tablet) {
    padding-top: 5rem;
  }
}

.we-sell__title {
  width: 70%;
  margin-bottom: 6.5rem;

  font-size: 4.5rem;

  @include max-screen($large_tablet) {
    width: 670px;

    font-size: 3.5rem;
  }

  @include max-screen($small_tablet) {
    width: 100%;
    margin-bottom: 3rem;

    font-size: 2.6rem;
    text-align: center;
  }
}

.we-sell__work-example {
  position: relative;

  max-width: 1920px;
  width: 100%;
  height: 37vw;

  @include max-screen($small_tablet) {
    width: 90%;
    height: 55vw;
  }

  @include max-screen($large_mobile) {
    height: 87vw;
  }
}

.we-sell__handle {
  width: 4px;
  background-color: #ffffff;

  @include max-screen($small_tablet) {
    width: 1px;
  }
}

.we-sell__inner {
  width: 7.5rem;
  height: 7.5rem;
  margin: -3.56rem 0 0 -3.56rem;

  background-color: #ffffff;
  background-image: url("/img/we-sell-handle-arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 13px;

  @include max-screen($small_tablet) {
    display: none;
  }

  .ba__arrow {
    &::before {
      display: none;
    }
  }
}

.we-sell__help {
  position: absolute;
  z-index: 610;

  padding: 6px 24px;
  border-radius: 5px;

  background-color: #ffffff;

  @include min-screen($small_tablet + 1) {
    top: 2.3rem;
  }

  @include max-screen($small_tablet) {
    bottom: 1.5rem;

    padding: 5px 13px;

    font-size: 1rem;
  }

  &_left {
    left: 2.5rem;

    @include max-screen($small_tablet) {
      left: 1rem;
    }
  }

  &_right {
    right: 2.5rem;

    @include max-screen($small_tablet) {
      right: 1rem;
    }
  }
}

.we-sell__comment-opener {
  position: absolute;
  z-index: 611;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #FF0600;

  @include max-screen($small_tablet) {
    position: static;

    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2.1rem;

    background: none;
  }

  @include max-screen($large_mobile) {
    align-items: flex-start;
  }

  &::before,
  &::after {
    @include min-screen($small_tablet + 1) {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 16px;
      height: 2px;
      border-radius: 3px;

      background-color: #ffffff;

      transition-property: all;
      transition-duration: .2s;
      transition-timing-function: ease-out;
    }
  }

  &::before {
    @include min-screen($small_tablet + 1) {
      transform: translate(-50%, -50%);
    }
  }

  &::after {
    @include min-screen($small_tablet + 1) {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &:hover,
  &:focus {
    @include min-screen($small_tablet + 1) {
      background-color: #ffffff;

      &::before,
      &::after {
        background-color: #FF0600;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(135deg);
      }

      .we-sell__comment {
        opacity: 1;

        width: 28rem;
        padding: 3.5rem;

        font-size: 1.5rem;
      }
    }
  }

  &_first {
    @include max-screen($large_desktop) {
      left: 31.6rem;
    }

    @include max-screen($small_desktop) {
      left: 23.6rem;
    }

    @include max-screen($large_tablet) {
      left: 17.6rem;
    }

    @include max-screen($small_tablet) {
      margin-top: 73%;
    }

    @include max-screen($large_mobile) {
      margin-top: 115%;
    }

    @include max-screen($we-sell-mock-mob-breakpoint) {
      margin-top: 125%;
    }

    @include min-screen($small_tablet + 1) {
      top: 9rem;
      left: 61.6rem;
    }

    .we-sell__comment {
      @include min-screen($small_desktop + 1) {
        max-width: 25rem;
      }

      @include min-screen($small_tablet + 1) {
        top: 0;
        left: 56px;
      }
    }
  }

  &_second {
    @include max-screen($small_desktop) {
      right: 63.7rem;
      bottom: 5.6rem;
    }

    @include max-screen($large_tablet) {
      right: 37rem;
      bottom: 2.6rem;
    }

    @include min-screen($small_tablet + 1) {
      right: 71.7rem;
      bottom: 9.6rem;
    }

    .we-sell__comment {
      @include min-screen($small_tablet + 1) {
        left: 56px;
        bottom: 0;
      }
    }
  }

  &_third {
    @include max-screen($small_desktop) {
      top: 20rem;
    }

    @include max-screen($large_tablet) {
      top: 7rem;
    }

    @include min-screen($small_tablet + 1) {
      top: 28rem;
      right: 25rem;
    }

    .we-sell__comment {
      @include min-screen($small_desktop + 1) {
        min-width: 30rem;
      }

      @include min-screen($small_tablet + 1) {
        top: 0;
        right: 56px;
      }
    }
  }
}

.we-sell__check-icon {
  @include min-screen($small_tablet + 1) {
    display: none;
  }

  @include max-screen($small_tablet) {
    width: 16px;
    margin-left: 1rem;
    margin-right: 2rem;

    fill: none;
    stroke: #FF0400;
    stroke-width: 3;
  }

  @include max-screen($large_mobile) {
    margin-top: 3px;
  }
}

.we-sell__comment {
  position: absolute;

  width: 0;
  padding: 0;
  border-radius: 5px;

  font-size: 0;

  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: ease-out;

  background-color: #ffffff;
  opacity: 0;

  @include max-screen($small_tablet) {
    position: static;

    width: 100%;

    font-size: 2.4rem;

    opacity: 1;
    background: none;
  }

  @include max-screen($large_mobile) {
    font-size: 1.4rem;
  }
}

.we-sell__wrap {
  margin-top: 15rem;

  @include max-screen($large_mobile) {
    margin-top: 76%;
  }
}

.ba__image {
  @include max-screen($small_tablet) {
    object-position: 62%;
  }
}
