.we-sell-before-after {
  display: flex;
  width: 77%;

  @include max-screen($large_tablet) {
    width: 85%;
    min-width: 750px;
  }
}

.we-sell-before-after__phones-wrap {
  position: relative;

  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5.5rem;

  background: linear-gradient(to bottom, transparent 23rem, #ffffff 23rem);
}

.we-sell-before-after__phone-wrap {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 3rem;

  @include max-screen($large_tablet) {
    width: 30%;
  }

  &_before {
    margin-left: auto;
    margin-right: 23rem;

    .we-sell-before-after__text {
      background-image: url("/img/we-sell-no-success.svg");
      background-size: 2.8rem 2.8rem;
      background-position: -3px 3px;
    }
  }

  &_after {
    margin-right: auto;

    .we-sell-before-after__text {
      background-image: url("/img/we-sell-success.svg");
      background-size: 2.8rem 1.7rem;
      background-position: -3px 5px;
    }
  }
}

.we-sell-before-after__arrow-wrap {
  position: absolute;
  bottom: 36rem;
  left: 50%;

  width: 44px;
  height: 24px;

  transform: translateX(-50%);

  stroke: #0E0E0E;
  stroke-width: 5.78594;

  @include max-screen($large_tablet) {
    bottom: 45%;
  }
}

.we-sell-before-after {
  .we-sell-before-after__phones-wrap {
    .we-sell-before-after__phone-wrap {
      &_before {
        .we-sell-before-after__text {
          @include max-screen($large_desktop) {
            background-size: 2.3rem 2.3rem;
            background-position: -3px 0;
          }
        }
      }

      &_after {
        .we-sell-before-after__text {
          @include max-screen($large_desktop) {
            background-size: 2.3rem 1.4rem;
            background-position: 0 5px;
          }
        }
      }
    }
  }
}

.we-sell-before-after__image-wrap {
  margin-bottom: 4rem;
}

.we-sell-before-after__text {
  padding-left: 4rem;

  font-size: 2.4rem;

  background-repeat: no-repeat;

  @include min-screen($large_desktop + 1) {
    font-size: 375%;
  }

  @include max-screen($large_desktop) {
    font-size: 390%;
  }

  @include max-screen($large_tablet) {
    font-size: 1.9rem;
  }
}
