.what-you-get {
	padding-top: 13.5rem;
	padding-bottom: 7.5rem;

	@include max-screen($small_tablet) {
		padding-top: 2.5rem;
		padding-bottom: 1rem;
	}

	&_advertising,
	&_ad {
		.what-you-get__title {
			padding-bottom: 5.4rem;
		}
	}

	&_cleaning {
		.what-you-get__title {
			padding-bottom: 5.5rem;
		}

		.what-you-get__item {
			padding: 12.9rem 2.8% 5rem 3.5%;
		}
	}

	&_history {
		.what-you-get__title {
			.what-break {
				@include min-screen($small_tablet + 1) {
					display: none;
				}
			}
			.what-break-mobile {
				@include min-screen($small_tablet + 1) {
					display: none;
				}

				@include max-screen($large_mobile) {
					display: inline !important;
				}
			}
		}
	}

	&_banking-terms {
		.what-you-get {
			&__title {
				@include min-screen($small_tablet + 1) {
					padding-bottom: 5.4rem;
				}
			}

			&__item-title {
				display: flex;
				align-items: flex-end;

				@include min-screen($small_tablet + 1) {
					min-height: 5rem;
				}

				@include max-screen($small_tablet) {
					min-height: 3.8rem;
				}
			}
		}
	}

	&__content-wrap {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 5.3rem);
		margin-left: -4%;

		@include max-screen($small_tablet) {
			justify-content: center;
			width: calc(100% + 2.5rem);
			margin-left: -2.5rem;
		}
	}

	&__title,
	&__item {
		width: 29.5%;
		margin-bottom: 4.2rem;
		margin-left: 3.8%;

		@include max-screen($small_tablet) {
			margin-left: 2.5rem;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		padding-bottom: 1.4rem;

		line-height: 1.2;
		word-break: break-word;

		@include max-screen($small_tablet) {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-bottom: 3.6rem;
			padding-bottom: 0 !important;

			font-size: 2.6rem;
			text-align: center;
		}

		.what-break {
			@include max-screen($small_tablet) {
				display: none;
			}
		}
	}

	&__item {
		position: relative;

		min-height: 36rem;
		padding: 10.3rem 3.3% 5rem;
		border-radius: 5px;

		background-color: #ffffff;

		@include min-screen($small_desktop + 1) {
			.what-break {
				display: inline;
			}
		}

		@include max-screen($large_tablet) {
			min-height: 30rem;
			padding: 7.3rem 3.6% 3rem;

			.what-break {
				display: none;
			}
		}

		@include max-screen($small_tablet) {
			width: 29rem;
			min-height: 24.7rem;
			padding: 6.8rem 3rem 3rem;

			.what-break {
				display: inline;
			}
		}
	}

	&__item-icon-wrap {
		position: absolute;
		top: 0;
		left: 5rem;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 9rem;
		height: 9rem;
		border-radius: 50%;

		transform: translateY(-50%);

		background-image: linear-gradient(to bottom, transparent 0%, transparent 35%, #F3F3F3 35%);

		@include max-screen($small_tablet) {
			left: 3.3rem;

			width: 6.5rem;
			height: 6.5rem;
		}

		svg {
			width: 30%;

			fill: none;
			stroke: #0E0E0E;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
		}

		.icon-shield {
			width: 29%;
		}

		.icon-flag {
			width: 36%;
		}

		.icon-key {
			width: 36%;
			margin-left: 8%;
		}

		.icon-copy {
			width: 37%;
		}

		.icon-userСheck {
			width: 39%;
			margin-left: 5%;
		}

		.icon-starStroke {
			width: 36%;
		}

		.icon-curveArrow {
			width: 39%;
			margin-top: 5%;
		}

		.icon-share {
			width: 38%;
		}

		.icon-phoneIn {
			width: 39%;
		}

		.icon-users {
			width: 36%;
		}

		.icon-tv {
			width: 38%;
		}

		.icon-box {
			width: 38%;
		}

		.icon-trash {
			width: 36%;
		}

		.icon-droplet {
			width: 29%;
		}

		.icon-layers,
		.icon-calendar,
		.icon-umbrella,
		.icon-gridWindows {
			width: 38%;
		}

		.icon-fileText {
			width: 40%;
		}

		.icon-percent {
			width: 39%;
		}

		.icon-rouble {
			width: 28%;
			margin-left: 1rem;

			fill: #0e0e0e;
			stroke: none;
		}
	}

	&__item-title {
		margin-bottom: 2.5rem;

		@include max-screen($small_tablet) {
			margin-bottom: 1.4rem;
		}
	}

	&__item-text {
		@include max-screen($small_tablet) {
			font-size: 1.2rem;
		}
	}
}
